Repository dealii/dealii, pull requests merged in 2019-03, with the labels that each got.

#7768 SparsityPattern::Iterator - add a constructor for initalizing an iterator from an accessor
  include/deal.II/lac/sparsity_pattern.h
  tests/sparsity/sparsity_pattern_iterator_09.cc
  tests/sparsity/sparsity_pattern_iterator_09.output
Labels: Reviewed and ready to merge, ready to test

#7769 Out of date description of quadrature_point_data test fixed
  tests/base/quadrature_point_data.cc
  tests/base/quadrature_point_data_02.cc
Labels: Reviewed and ready to merge, ready to test

#7772 work around gcc 4.8.5 behavior in GridTools::Cache
  source/grid/grid_tools_cache.cc
Labels: ready to test

#7717 Added 'set_fe' functionality to DoFHandlers.
  doc/news/changes/minor/20190210MarcFehling
  include/deal.II/distributed/solution_transfer.h
  include/deal.II/dofs/dof_handler.h
  include/deal.II/hp/dof_handler.h
  source/dofs/dof_handler.cc
  source/hp/dof_handler.cc
  tests/mpi/hp_active_fe_indices_transfer_01.cc
  tests/mpi/hp_active_fe_indices_transfer_02.cc
  tests/mpi/hp_cell_weights_01.cc
  tests/mpi/hp_cell_weights_02.cc
  tests/mpi/hp_cell_weights_03.cc
  tests/mpi/p4est_save_06.cc
Labels: ready to test

#7773 hp::DoFHandler::ActiveFEIndicesTransfer: Separate work from memory management
  source/hp/dof_handler.cc
Labels: Reviewed and ready to merge, ready to test

#7770 Convert a few explicit loops to range-based for loops.
  source/grid/tria.cc
Labels: ready to test

#7775 Fix inteference if material_id with the manifold object in the codimension case
  doc/news/changes/minor/20190302ArndtStark
  source/grid/tria.cc
  tests/codim_one/mesh_bug_02.cc
  tests/codim_one/mesh_bug_02.output
  tests/opencascade/circle_normal_projection.cc
  tests/opencascade/circle_normal_projection.output
  tests/opencascade/interpolation_curve_boundary.cc
  tests/opencascade/interpolation_curve_boundary.output
  tests/serialization/triangulation_01.output
  tests/serialization/triangulation_02.output
Labels: Reviewed and ready to merge, ready to test

#7767 Added hierarchy to hp::FECollection.
  doc/doxygen/headers/hp.h
  doc/news/changes/minor/20190228Fehling
  include/deal.II/hp/fe_collection.h
  source/hp/fe_collection.cc
  tests/hp/fe_hierarchy.cc
  tests/hp/fe_hierarchy.output
Labels: hp, ready to test

#7783 Fix file name date in two changelog entries
  doc/news/changes/major/20180524MatthiasMaierDanielArndt
  doc/news/changes/major/20180531MatthiasMaier
  doc/news/changes/major/20180709Harper
  doc/news/changes/major/20180811DavidWells
  doc/news/changes/major/20190208MatthiasMaier
  doc/news/changes/minor/20180524MartinKronbichlerDenisDavydov
  doc/news/changes/minor/20180529DenisDavydov
  doc/news/changes/minor/20180529DenisDavydov_b
  doc/news/changes/minor/20180606SambitDas
  doc/news/changes/minor/20180611MatthiasMaier
  doc/news/changes/minor/20180612DenisDavydov
  doc/news/changes/minor/20180614PiYuehChuang
  doc/news/changes/minor/20180614UweKoecher
  doc/news/changes/minor/20180621DenisDavydov
  doc/news/changes/minor/20180621DenisDavydov_b
  doc/news/changes/minor/20180706DenisDavydov
  doc/news/changes/minor/20180726DenisDavydov
  doc/news/changes/minor/20180802DenisDavydov
  doc/news/changes/minor/20180810BenjaminBrands
  doc/news/changes/minor/20180813AlexanderKnieps
  doc/news/changes/minor/20180821SvenjaSchoeder
  doc/news/changes/minor/20180913DenisDavydov
  doc/news/changes/minor/20180919DenisDavydov
  doc/news/changes/minor/20180920DenisDavydov
  doc/news/changes/minor/20181005DenisDavydov
  doc/news/changes/minor/20190104ArndtTurcksin
  doc/news/changes/minor/20190113VishalBoddu
  doc/news/changes/minor/20190210MarcFehling
  doc/news/changes/minor/20190213MatthiasMaier
Labels: Reviewed and ready to merge

#7781 Two small manifold fixes
  doc/news/changes/minor/20190305DanielAppelMartinKronbichler-1
  doc/news/changes/minor/20190305DanielAppelMartinKronbichler-2
  include/deal.II/grid/manifold_lib.h
  source/grid/manifold_lib.cc
  tests/manifold/cylindrical_manifold_03.cc
  tests/manifold/cylindrical_manifold_03.output
  tests/manifold/elliptical_manifold_03.cc
  tests/manifold/elliptical_manifold_03.output
Labels: Manifold, Reviewed and ready to merge, ready to test

#7782 add and use more type traits in FEEvaluation
  include/deal.II/lac/la_parallel_vector.h
  include/deal.II/matrix_free/fe_evaluation.h
  include/deal.II/matrix_free/matrix_free.h
  tests/matrix_free/fe_evaluation_type_traits_02.cc
  tests/matrix_free/fe_evaluation_type_traits_02.output
Labels: Matrix-free, ready to test

#7786 Type to string.
  doc/news/changes/minor/20190307LucaHeltai
  include/deal.II/base/utilities.h
  tests/base/utilities_15.cc
  tests/base/utilities_15.output
Labels: Reviewed and ready to merge, ready to test

#7789 fix uninitialized reads
  source/distributed/grid_refinement.cc
Labels: Reviewed and ready to merge, ready to test

#7760 Fix compiling with Sacado and CUDA
  include/deal.II/base/numbers.h
  include/deal.II/differentiation/ad/sacado_number_types.h
  source/base/tensor.cc
Labels: ready to test

#7785 Fix a bug in cuda add_and_dot
  doc/news/changes/minor/20190306BrunoTurcksin
  include/deal.II/lac/cuda_kernels.templates.h
  tests/cuda/cuda_vector_05.cu
  tests/cuda/cuda_vector_05.output
Labels: GPU

#7791 Fix renumbering of level dofs for FE_Q
  doc/news/changes/minor/20190308MartinKronbichler
  source/dofs/dof_handler_policy.cc
  tests/multigrid/renumbering_08.cc
  tests/multigrid/renumbering_08.with_p4est=true.mpirun=2.output
Labels: Geometric multigrid, ready to test

#7787 add and use type traits for data exchange in matrix-free
  include/deal.II/matrix_free/fe_evaluation.h
  include/deal.II/matrix_free/matrix_free.h
  include/deal.II/matrix_free/type_traits.h
  tests/matrix_free/matrix_free_type_traits.cc
  tests/matrix_free/matrix_free_type_traits.with_trilinos=true.output
Labels: Matrix-free, Parallel distributed, Reviewed and ready to merge, ready to test

#7795 enable lld linker if available
  cmake/checks/check_02_compiler_features.cmake
  doc/news/changes/minor/20190411TimoHeister
Labels: ready to test

#7776 Signals for p::d::Triangulation::repartition.
  doc/news/changes/minor/20190303Fehling
  include/deal.II/grid/tria.h
  source/distributed/tria.cc
  source/hp/dof_handler.cc
  tests/mpi/hp_active_fe_indices_transfer_03.cc
  tests/mpi/hp_active_fe_indices_transfer_03.with_p4est=true.mpirun=2.output
  tests/mpi/hp_active_fe_indices_transfer_03.with_p4est=true.mpirun=8.output
Labels: Parallel distributed, ready to test

#7777 Introduced p-refinement and p-coarsening flags.
  doc/news/changes/minor/20190224MarcFehling
  include/deal.II/dofs/dof_accessor.h
  include/deal.II/dofs/dof_accessor.templates.h
  include/deal.II/hp/dof_handler.h
  include/deal.II/hp/dof_level.h
  source/hp/dof_handler.cc
  source/hp/dof_level.cc
  tests/hp/refine_and_coarsen_flags.cc
  tests/hp/refine_and_coarsen_flags.output
  tests/serialization/hp_dof_handler_01.cc
  tests/serialization/hp_dof_handler_01.with_64bit_indices=off.output
  tests/serialization/hp_dof_handler_01.with_64bit_indices=on.output
Labels: hp, ready to test

#7799 Update documentation of class Vector.
  include/deal.II/lac/vector.h
Labels: ready to test

#7798 Remove make slice
  include/deal.II/fe/fe_values.h
  include/deal.II/lac/chunk_sparsity_pattern.h
  include/deal.II/meshworker/vector_selector.templates.h
  source/lac/block_sparsity_pattern.cc
  source/lac/chunk_sparsity_pattern.cc
  source/lac/sparsity_pattern.cc
  tests/integrators/advection_01.cc
  tests/integrators/divergence_01.cc
  tests/integrators/elasticity_01.cc
  tests/integrators/elasticity_02.cc
  tests/integrators/grad_div_01.cc
  tests/integrators/laplacian_01.cc
Labels: Reviewed and ready to merge, Windows, ready to test

#7804 remove unneeded assert in internal::update_ghost_values_finish()
  include/deal.II/matrix_free/matrix_free.h
Labels: Matrix-free, Reviewed and ready to merge, ready to test

#7803 Fix MatrixFree::loop() for the case where VectorType is not a vector
  include/deal.II/matrix_free/matrix_free.h
  source/matrix_free/task_info.cc
  tests/matrix_free/matrix_free_type_traits.cc
Labels: Matrix-free, Reviewed and ready to merge, ready to test

#7810 Add CMake module and configuration files for SymEngine
  cmake/configure/configure_symengine.cmake
  cmake/modules/FindSYMENGINE.cmake
Labels: Reviewed and ready to merge, Symbolic differentiation, ready to test

#7815 Only permit use of ld.lld linker when the Clang compiler is used.
  cmake/checks/check_02_compiler_features.cmake
Labels: Build system, Reviewed and ready to merge, ready to test

#7751 interpolate_to_different_mesh for hp::DoFHandler
  doc/news/changes/minor/20190316SebastianStark
  include/deal.II/numerics/vector_tools.templates.h
  source/numerics/vector_tools_interpolate.inst.in
  tests/numerics/interpolate_to_different_mesh_01.cc
  tests/numerics/interpolate_to_different_mesh_01.output
  tests/numerics/interpolate_to_different_mesh_02.cc
  tests/numerics/interpolate_to_different_mesh_02.output
  tests/numerics/interpolate_to_different_mesh_03.cc
  tests/numerics/interpolate_to_different_mesh_03.output
  tests/numerics/interpolate_to_different_mesh_04.cc
  tests/numerics/interpolate_to_different_mesh_04.output
Labels: Reviewed and ready to merge, hp, ready to test

#7808 Encapsulate the calls to tbb::parallel_for
  include/deal.II/base/parallel.h
  include/deal.II/base/work_stream.h
  include/deal.II/lac/vector_operations_internal.h
  tests/base/parallel_transform_01.cc
  tests/base/parallel_transform_02.cc
  tests/base/parallel_transform_03.cc
Labels: Parallel shared, ready to test

#7825 Add missing #ifdef DEAL_II_WITH_THREADS around tbb calls
  include/deal.II/base/parallel.h
Labels: ready to test

#7820 Check SCALAPACK symbols
  cmake/configure/configure_scalapack.cmake
Labels: Build system, Reviewed and ready to merge, ready to test

#7818 Set cell manifold ids when the apply_all_indicators_to_manifold flag is used.
  doc/news/changes/minor/20190316Arndt
  include/deal.II/grid/grid_in.h
  source/grid/grid_in.cc
  tests/grid/grid_in_ucd_02.cc
  tests/grid/grid_in_ucd_02.output
  tests/grid/grid_in_ucd_02_grids/grid_1.inp
  tests/grid/grid_in_ucd_02_grids/grid_2.inp
  tests/grid/grid_in_ucd_02_grids/grid_3.inp
  tests/hp/step-5.cc
Labels: Reviewed and ready to merge, ready to test

#7763 Fix dual dof handler sparsity
  doc/news/changes/minor/20190304DavidWells
  include/deal.II/grid/grid_tools.h
  source/dofs/dof_tools_sparsity.cc
  source/grid/grid_tools_dof_handlers.cc
  tests/dofs/sparsity_pattern_06.cc
  tests/dofs/sparsity_pattern_06.with_p4est=on.mpirun=1.output
  tests/dofs/sparsity_pattern_06.with_p4est=on.mpirun=2.output
  tests/dofs/sparsity_pattern_07.cc
  tests/dofs/sparsity_pattern_07.mpirun=1.output
  tests/dofs/sparsity_pattern_07.mpirun=2.output
  tests/grid/get_finest_common_cells_04.cc
  tests/grid/get_finest_common_cells_04.with_p4est=true.mpirun=1.output
  tests/grid/get_finest_common_cells_04.with_p4est=true.mpirun=2.output
Labels: Bug, ready to test

#7827 Fix Tpetra test for std::fabs without std::complex overload
  tests/trilinos/tpetra_vector_02.cc
Labels: Reviewed and ready to merge, ready to test

#7792 Fix link targets in frames.
  doc/documentation.html
Labels: Web site

#7807 Fix compiling bundled boost with MSVC and C++17
  bundled/boost-1.62.0/include/boost/algorithm/cxx14/equal.hpp
  bundled/boost-1.62.0/include/boost/algorithm/string/detail/case_conv.hpp
  bundled/boost-1.62.0/include/boost/algorithm/string/detail/util.hpp
  bundled/boost-1.62.0/include/boost/config/stdlib/dinkumware.hpp
  bundled/boost-1.62.0/include/boost/function/function_template.hpp
  bundled/boost-1.62.0/include/boost/functional.hpp
  bundled/boost-1.62.0/include/boost/functional/hash/extensions.hpp
  bundled/boost-1.62.0/include/boost/functional/hash/hash.hpp
  bundled/boost-1.62.0/include/boost/graph/astar_search.hpp
  bundled/boost-1.62.0/include/boost/graph/detail/geodesic.hpp
  bundled/boost-1.62.0/include/boost/graph/distributed/crauser_et_al_shortest_paths.hpp
  bundled/boost-1.62.0/include/boost/graph/parallel/algorithm.hpp
  bundled/boost-1.62.0/include/boost/graph/transitive_closure.hpp
  bundled/boost-1.62.0/include/boost/iostreams/chain.hpp
  bundled/boost-1.62.0/include/boost/numeric/conversion/detail/converter.hpp
  bundled/boost-1.62.0/include/boost/signals2/detail/signal_template.hpp
  bundled/boost-1.62.0/include/boost/signals2/detail/signals_common_macros.hpp
  bundled/boost-1.62.0/include/boost/signals2/detail/slot_template.hpp
  bundled/boost-1.62.0/include/boost/signals2/detail/variadic_arg_type.hpp
  bundled/boost-1.62.0/include/boost/smart_ptr/owner_less.hpp
  bundled/boost-1.62.0/include/boost/typeof/std/functional.hpp
  bundled/boost-1.62.0/include/boost/utility/compare_pointees.hpp
Labels: Reviewed and ready to merge, ready to test

#7837 Fix SCALAPACK symbol check
  cmake/configure/configure_scalapack.cmake
Labels: Reviewed and ready to merge, ready to test

#7813 Add some basic tests for SymEngine
  cmake/modules/FindSYMENGINE.cmake
  tests/quick_tests/CMakeLists.txt
  tests/quick_tests/symengine.cc
  tests/symengine/CMakeLists.txt
  tests/symengine/basic_01.cc
  tests/symengine/basic_01.output
  tests/symengine/basic_02.cc
  tests/symengine/basic_02.output
  tests/symengine/basic_03.cc
  tests/symengine/basic_03.output
  tests/symengine/basic_04.cc
  tests/symengine/basic_04.with_symengine_with_llvm=false.output
  tests/symengine/basic_04.with_symengine_with_llvm=true.output
  tests/symengine/basic_05.cc
  tests/symengine/basic_05.with_symengine_with_llvm=false.output
  tests/symengine/basic_05.with_symengine_with_llvm=true.output
  tests/symengine/basic_06.cc
  tests/symengine/basic_06.output
  tests/symengine/basic_07.cc
  tests/symengine/basic_07.output
Labels: Build system, Symbolic differentiation, ready for review, ready to test

#7846 Fix data_out_13 in case there is no ZLIB support
  tests/data_out/data_out_13.with_zlib=off.output
  tests/data_out/data_out_13.with_zlib=on.output
Labels: Reviewed and ready to merge, ready to test

#7839 CMake: also update BASE_LINKER_FLAGS* when dropping -fuse-ld=...
  cmake/setup_finalize.cmake
Labels: Build system, ready to test

#7831 use Utilities::MPI::some_to_some() in SparsityTools::distribute_spars…
  source/lac/dynamic_sparsity_pattern.cc
  source/lac/sparsity_tools.cc
Labels: Parallel distributed, Reviewed and ready to merge, ready to test

#7766 split SparsityPattern into a base class and derived class with a spec…
  include/deal.II/lac/sparsity_pattern.h
  source/lac/sparsity_pattern.cc
  tests/serialization/sparsity_pattern.output
  tests/sparsity/sparsity_pattern_13.cc
  tests/sparsity/sparsity_pattern_13.output
Labels: Linear Algebra, Reviewed and ready to merge, ready for review, ready to test

#7836 fix tbb range size type
  include/deal.II/lac/la_vector.templates.h
  include/deal.II/lac/vector_operations_internal.h
Labels: Reviewed and ready to merge, ready to test

#6981 AD Helpers: Add helper for vector functions (QP-level)
  doc/news/changes/major/20190321Jean-PaulPelteret
  include/deal.II/differentiation/ad/ad_helpers.h
  source/differentiation/ad/ad_helpers.cc
  source/differentiation/ad/ad_helpers.inst1.in
  source/differentiation/ad/ad_helpers.inst2.in
Labels: Automatic differentiation, Reviewed and ready to merge, ready to test

#7853 Also link with LAPACK libraries in SCALAPCK symbol test
  cmake/configure/configure_scalapack.cmake
Labels: Build system, Reviewed and ready to merge, ready to test

#7834 Added get_names to Extractors.
  doc/news/changes/minor/20190319LucaHeltai
  include/deal.II/fe/fe_values_extractors.h
  source/fe/CMakeLists.txt
  source/fe/fe_values_extractors.cc
  tests/fe/fe_values_extractor_02.cc
  tests/fe/fe_values_extractor_02.output
Labels: Reviewed and ready to merge, ready to test

#7854 Rename the helper classes in the Differentiation::AD namespace
  doc/news/changes/major/20180827Jean-PaulPelteret
  doc/news/changes/major/20180930Jean-PaulPelteret
  doc/news/changes/major/20190220Jean-PaulPelteret
  doc/news/changes/major/20190321Jean-PaulPelteret
  include/deal.II/differentiation/ad/ad_helpers.h
  source/differentiation/ad/ad_helpers.cc
  source/differentiation/ad/ad_helpers.inst1.in
  source/differentiation/ad/ad_helpers.inst2.in
  tests/ad_common_tests/step-44-helper_res_lin_01.h
  tests/ad_common_tests/step-44-helper_var_form_01.h
Labels: Automatic differentiation, Reviewed and ready to merge, ready to test

#7855 Add SymEngine to the readme file in the documentation
  doc/readme.html
Labels: Documentation, Reviewed and ready to merge, Symbolic differentiation, Web site, ready for review

#7856 New variant of mesh_loop.
  doc/news/changes/minor/20190323LucaHeltai
  include/deal.II/meshworker/mesh_loop.h
  tests/meshworker/mesh_loop_class_01.cc
  tests/meshworker/mesh_loop_class_01.output
Labels: Parallel shared, ready to test

#7858 CMake: Also filter SYMENGINE_CXX_FLAGS
  cmake/configure/configure_symengine.cmake
Labels: Bug, High Priority :warning:

#7801 Allow CXX14/17 autodetection for MSVC
  cmake/checks/check_01_cxx_features.cmake
  cmake/checks/check_02_compiler_features.cmake
  cmake/configure/configure_2_boost.cmake
Labels: ready to test

#7845 Remove IndexSet overloads in DataOut and FEValues
  doc/news/changes/incompatibilities/20190320DanielArndt
  examples/step-41/step-41.cc
  examples/step-42/step-42.cc
  include/deal.II/fe/fe_values.h
  include/deal.II/numerics/data_out_dof_data.h
  include/deal.II/numerics/data_out_dof_data.templates.h
  source/fe/fe_values.inst.in
  source/numerics/data_out_dof_data.inst.in
  source/numerics/data_out_dof_data_codim.inst.in
Labels: ready to test

#7841 FEValuesViews output traits
  doc/news/changes/minor/20190320LucaHeltai
  include/deal.II/fe/fe_values.h
  tests/fe/fe_values_views_types.cc
  tests/fe/fe_values_views_types.output
Labels: ready to test

#7828 Add SparsityTools::gather_sparsity_pattern()
  doc/news/changes/minor/20190319DenisDavydov_b
  include/deal.II/lac/dynamic_sparsity_pattern.h
  include/deal.II/lac/sparsity_tools.h
  source/lac/dynamic_sparsity_pattern.cc
  source/lac/sparsity_tools.cc
  tests/sparsity/dynamic_sparsity_pattern_19.cc
  tests/sparsity/dynamic_sparsity_pattern_19.mpirun=3.output
Labels: Linear Algebra, Parallel distributed, ready for review, ready to test

#7793 Add useful methods to TrilinosWrappers::PreconditionAMG::AdditionalData
  doc/news/changes/minor/20190310Jean-PaulPelteret-1
  include/deal.II/lac/trilinos_precondition.h
  source/lac/trilinos_precondition_ml.cc
  tests/trilinos/precondition_amg_dgp_01.cc
  tests/trilinos/precondition_amg_dgp_01.with_64bit_indices=off.output
  tests/trilinos/precondition_amg_dgp_03.cc
  tests/trilinos/precondition_amg_dgp_03.with_64bit_indices=off.output
Labels: Linear Algebra, ready for review, ready to test

#7843 add DynamicSparsityPattern::nonempty_cols() and nonempty_rows()
  doc/news/changes/minor/20190320DenisDavydov
  include/deal.II/lac/dynamic_sparsity_pattern.h
  source/lac/dynamic_sparsity_pattern.cc
  tests/sparsity/dynamic_sparsity_pattern_20.cc
  tests/sparsity/dynamic_sparsity_pattern_20.output
Labels: Linear Algebra, Reviewed and ready to merge, ready to test

#7840 New assign_co_dimensional_manifold_indicators function.
  doc/news/changes/minor/20190319LucaHeltai_b
  include/deal.II/grid/grid_tools.h
  include/deal.II/grid/tria_accessor.h
  include/deal.II/grid/tria_accessor.templates.h
  source/grid/grid_tools.cc
  source/grid/grid_tools.inst.in
  tests/grid/grid_tools_propagate_manifold_ids_01.cc
  tests/grid/grid_tools_propagate_manifold_ids_01.output
Labels: Reviewed and ready to merge, ready to test

#7764 Detect CUDA compute capability
  cmake/configure/CUDAComputeCapability/cuda_compute_capability.cu
  cmake/configure/configure_1_cuda.cmake
  doc/external-libs/cuda.html
Labels: GPU

#7862 Add documentation for initialising Trilinos AMG constant modes
  include/deal.II/lac/trilinos_precondition.h
Labels: Documentation, Linear Algebra

#7861 Additional doco LocalIntegrators::L2
  include/deal.II/integrators/l2.h
Labels: Reviewed and ready to merge, ready to test

#7847 Fix problem with GrowingVectorMemory for LinearAlgebra::distributed::Vector<Number, MemorySpace::CUDA>
  source/base/mpi.cc
  source/lac/CMakeLists.txt
  source/lac/vector_memory.cc
  source/lac/vector_memory.cu
  tests/cuda/vector_memory_01.cu
  tests/cuda/vector_memory_01.output
  tests/cuda/vector_memory_02.cu
  tests/cuda/vector_memory_02.output
Labels: GPU, Reviewed and ready to merge, ready to test

#7833 add Trilinos error checks and fix nonlocal sparsity graph entry
  source/lac/trilinos_sparsity_pattern.cc
Labels: Do not merge :skull_and_crossbones:, External libraries, ready to test

#7850 Revamp the layout of the main 'index.html' file.
  doc/CMakeLists.txt
  doc/documentation.html
  doc/index.html
  doc/navbar.html
  doc/title.html.in
Labels: Documentation, Web site

#7814 Fix 'test' target for MSVC
  tests/quick_tests/CMakeLists.txt
  tests/quick_tests/run.cmake
Labels: ready to test

#7819 DoFRenumbering::cell_wise with p::Tria
  doc/news/changes/minor/20190311TimoHeister
  doc/news/changes/minor/20190316DenisDavydov
  include/deal.II/dofs/dof_renumbering.h
  source/dofs/dof_renumbering.cc
  tests/dofs/dof_renumbering_10.cc
  tests/dofs/dof_renumbering_10.with_p4est=true.mpirun=1.output
  tests/dofs/dof_renumbering_10.with_p4est=true.mpirun=3.output
Labels: DoFs, Parallel, ready for review, ready to test

#7868 CI: fix left-over "pending"
  Jenkinsfile
Labels: ready to test

#7870 doc: fix small error
  include/deal.II/dofs/dof_handler.h
  include/deal.II/hp/dof_handler.h
Labels: Reviewed and ready to merge, ready to test

#7867 fix warning in ginkgo_solver.cc
  source/lac/ginkgo_solver.cc
Labels: Reviewed and ready to merge, ready to test

#7859 CI: kill older running builds
  Jenkinsfile
  contrib/ci/Jenkinsfile.osx
  contrib/ci/Jenkinsfile.tidy
Labels: Infrastructure, ready to test

#7863 Rename parallel::distributed::SolutionTransfer::prepare_serialization()
  doc/news/changes/minor/20190326Arndt
  include/deal.II/distributed/solution_transfer.h
  source/distributed/solution_transfer.cc
  tests/mpi/p4est_save_02.cc
  tests/mpi/p4est_save_03.cc
  tests/mpi/p4est_save_04.cc
  tests/mpi/p4est_save_06.cc
Labels: Reviewed and ready to merge, ready to test

#7864 Rename Solver (base) class to SolverBase
  include/deal.II/lac/eigen.h
  include/deal.II/lac/solver.h
  include/deal.II/lac/solver_bicgstab.h
  include/deal.II/lac/solver_cg.h
  include/deal.II/lac/solver_fire.h
  include/deal.II/lac/solver_gmres.h
  include/deal.II/lac/solver_minres.h
  include/deal.II/lac/solver_qmrs.h
  include/deal.II/lac/solver_relaxation.h
  include/deal.II/lac/solver_richardson.h
  include/deal.II/optimization/solver_bfgs.h
  source/lac/solver.inst.in
Labels: Linear Algebra, ready to test

#7872 Fix a changelog entry.
  doc/news/changes/minor/20190326Arndt
Labels: Reviewed and ready to merge

#7871 Allow initialization of Vector with std::initializer_list.
  doc/news/changes/minor/20190328Bangerth
  include/deal.II/lac/vector.h
  tests/vector/vector_59.cc
  tests/vector/vector_59.output
Labels: ready to test

#7874 Remove '__' from include guards.
  include/deal.II/differentiation/ad/ad_helpers.h
  include/deal.II/fe/fe_nedelec_sz.h
  include/deal.II/lac/cuda_kernels.templates.h
  include/deal.II/lac/trilinos_tpetra_vector.templates.h
  include/deal.II/matrix_free/cuda_hanging_nodes_internal.h
Labels: Miscellaneous, Reviewed and ready to merge, ready to test

#7873 Clean up the vector header a bit.
  include/deal.II/lac/vector.h
  include/deal.II/lac/vector.templates.h
Labels: Documentation, Reviewed and ready to merge, ready to test
