Repository dealii/dealii, pull requests merged in 2021-09, with the labels that each got.

#12730 step-26: Remove stray newline in formula
  examples/step-26/doc/intro.dox
Labels: Documentation, Reviewed and ready to merge, Tutorials

#12703 Require GINKGO 1.4.0
  cmake/configure/configure_2_ginkgo.cmake
  cmake/modules/FindGINKGO.cmake
Labels: Reviewed and ready to merge, ready to test

#12732 Boost 1.77 compatibility: change order of includes
  include/deal.II/numerics/rtree.h
Labels: Bug, WIP :warning:, External libraries, ready to test

#12736 Add a static_assert to DataOutStack.
  include/deal.II/numerics/data_out_stack.h
Labels: ready to test

#12735 Fix size of data copied to constant memory and add missing include
  include/deal.II/matrix_free/cuda_matrix_free.templates.h
  tests/cuda/cuda_vector_05.cu
Labels: Reviewed and ready to merge, ready to test

#12733 Implement PreconditionMG::get_multigrid()
  include/deal.II/multigrid/multigrid.h
Labels: Reviewed and ready to merge, Multigrid, ready to test

#12714 Extend the documentation of VT::point_values()
  include/deal.II/numerics/vector_tools_evaluate.h
Labels: Documentation, Reviewed and ready to merge

#12740 FEFaceEvaluation: Do not run into reduced reads with Hessians
  include/deal.II/matrix_free/evaluation_kernels.h
Labels: Matrix-free, ready to test

#12739 Add test for inserting particle method
  tests/particles/insert_particle.cc
  tests/particles/insert_particle.with_p4est=true.mpirun=2.output
Labels: Tests, Particles, ready to test

#12742 Fix test for Hessians on faces with MatrixFree
  tests/matrix_free/matrix_vector_hessians_faces.cc
  tests/matrix_free/matrix_vector_hessians_faces.output
Labels: Matrix-free, Tests, ready to test

#12743 Extend references of HangingNodes
  doc/doxygen/references.bib
  include/deal.II/matrix_free/hanging_nodes_internal.h
Labels: Documentation, Reviewed and ready to merge, Matrix-free

#12745 Fix MGTransferGlobalCoarsening::copy_to_mg()
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
Labels: Bug, Multigrid, ready to test

#12731 Implement MGTransferGlobalCoarsening::memory_consumption()
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Multigrid, ready to test

#12738 Fix MGTransferMatrixFree::interpolate_to_mg() for PBC
  include/deal.II/multigrid/mg_transfer_internal.h
  include/deal.II/multigrid/mg_transfer_matrix_free.h
  source/multigrid/mg_transfer_internal.cc
  tests/multigrid/interpolate_to_mg_01.cc
  tests/multigrid/interpolate_to_mg_01.with_p4est=true.mpirun=2.output
Labels: Reviewed and ready to merge, Multigrid, ready to test

#12746 Update documentation of MGTransferGlobalCoarsening regarding supported elements
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
Labels: Documentation, Multigrid, simplices

#12741 Adjust some symbols in step-47.
  examples/step-47/doc/results.dox
Labels: Documentation, Tutorials, ready to test

#12748 Avoid comment from grid_in.cc showing up in doc of read_vtk.
  source/grid/grid_in.cc
Labels: Documentation, Reviewed and ready to merge

#12747 Fix unused-but-set-variable warnings
  include/deal.II/lac/trilinos_sparse_matrix.h
  include/deal.II/matrix_free/matrix_free.templates.h
  source/fe/fe_q_base.cc
  source/grid/grid_generator.cc
Labels: Reviewed and ready to merge, ready to test

#12749 Consistently declare size_type in preconditioners derived from PreconditionRelaxation.
  include/deal.II/lac/precondition.h
Labels: ready to test

#12744 Hessians on general cells and faces
  doc/news/changes/major/20210906MaximilianBergbauer
  include/deal.II/matrix_free/fe_evaluation.h
  include/deal.II/matrix_free/mapping_info.templates.h
  tests/matrix_free/integrate_functions_hessians.cc
  tests/matrix_free/integrate_functions_hessians.output
  tests/matrix_free/matrix_vector_hessians_general_cells.cc
  tests/matrix_free/matrix_vector_hessians_general_cells.output
  tests/matrix_free/matrix_vector_hessians_general_faces.cc
  tests/matrix_free/matrix_vector_hessians_general_faces.output
Labels: Matrix-free, ready to test

#12692 Make Tensor::unroll() work with iterators.
  include/deal.II/base/tensor.h
Labels: Reviewed and ready to merge, ready to test

#12750 Avoid warning about unused variable
  include/deal.II/base/tensor.h
Labels: ready to test

#12753 Reduce run time of FEEvaluation tests with Hessians
  tests/matrix_free/matrix_vector_hessians_cells.cc
  tests/matrix_free/matrix_vector_hessians_cells.output
  tests/matrix_free/matrix_vector_hessians_faces.cc
  tests/matrix_free/matrix_vector_hessians_faces.output
  tests/matrix_free/matrix_vector_hessians_general_cells.cc
  tests/matrix_free/matrix_vector_hessians_general_cells.output
  tests/matrix_free/matrix_vector_hessians_general_faces.cc
  tests/matrix_free/matrix_vector_hessians_general_faces.output
Labels: Tests, ready to test

#12651 Extend ScratchData to return jumps and averages of FE functions on an interface
  doc/news/changes/minor/20210814Jean-PaulPelteret
  include/deal.II/fe/fe_interface_values.h
  include/deal.II/meshworker/scratch_data.h
  source/meshworker/scratch_data.cc
  tests/meshworker/scratch_data_10a.cc
  tests/meshworker/scratch_data_10a.output
  tests/meshworker/scratch_data_10b.cc
  tests/meshworker/scratch_data_10b.output
Labels: Reviewed and ready to merge, ready to test

#12758 Rename VECTOR to VectorType
  include/deal.II/non_matching/mesh_classifier.h
  source/non_matching/mesh_classifier.cc
Labels: Reviewed and ready to merge, ready to test, Non-matching

#12755 Allow TrilinosPayload to use another TrilinosPayload as an exemplar operator
  doc/news/changes/minor/20210912LeiPelteret
  include/deal.II/lac/trilinos_linear_operator.h
  include/deal.II/lac/trilinos_sparse_matrix.h
  source/lac/trilinos_sparse_matrix.cc
  tests/lac/step-40-linear_operator_01.cc
  tests/lac/step-40-linear_operator_01.with_trilinos=true.mpirun=3.with_p4est=true.output
  tests/lac/step-40-linear_operator_02.cc
  tests/lac/step-40-linear_operator_02.with_trilinos=true.mpirun=3.with_p4est=true.output
  tests/lac/step-40-linear_operator_03.cc
  tests/lac/step-40-linear_operator_03.with_trilinos=true.mpirun=3.with_p4est=true.output
  tests/lac/step-40-linear_operator_04.cc
  tests/lac/step-40-linear_operator_04.with_trilinos=true.mpirun=3.with_p4est=true.output
  tests/lac/step-40-linear_operator_05.cc
  tests/lac/step-40-linear_operator_05.with_trilinos=true.mpirun=3.with_p4est=true.output
  tests/lac/step-40-linear_operator_06.cc
  tests/lac/step-40-linear_operator_06.with_trilinos=true.mpirun=3.with_p4est=true.output
Labels: Linear Algebra, ready to test

#12764 Refactor hanging_nodes_internals.h
  include/deal.II/matrix_free/cuda_fe_evaluation.h
  include/deal.II/matrix_free/cuda_hanging_nodes_internal.h
  include/deal.II/matrix_free/cuda_matrix_free.h
  include/deal.II/matrix_free/cuda_matrix_free.templates.h
  include/deal.II/matrix_free/hanging_nodes_internal.h
Labels: Reviewed and ready to merge, GPU, ready to test

#12765 Add a few references to the FE_Q_iso_Q1 element documentation.
  doc/doxygen/references.bib
  include/deal.II/fe/fe_q_iso_q1.h
Labels: ready to test

#12768 MatrixFree: Do not build inner face data if not requested
  include/deal.II/matrix_free/face_setup_internal.h
  include/deal.II/matrix_free/matrix_free.templates.h
  tests/matrix_free/matrix_vector_faces_33.cc
  tests/matrix_free/matrix_vector_faces_33.output
Labels: Matrix-free, ready to test

#12767 HangingNodes: ignore artificial neighbors
  include/deal.II/matrix_free/hanging_nodes_internal.h
Labels: Bug, Reviewed and ready to merge, Matrix-free, ready to test

#12769 matrix-free documentation
  include/deal.II/matrix_free/matrix_free.h
Labels: Documentation, Matrix-free

#12770 Fix two bibtex entries.
  doc/doxygen/references.bib
Labels: Documentation, ready to test

#12772 ShapeInfo: store both subface interpolation matrices
  include/deal.II/matrix_free/cuda_matrix_free.templates.h
  include/deal.II/matrix_free/evaluation_kernels.h
  include/deal.II/matrix_free/shape_info.h
  include/deal.II/matrix_free/shape_info.templates.h
  tests/matrix_free/hanging_node_kernels_01.cc
Labels: Reviewed and ready to merge, Matrix-free, ready to test

#12773 Support MappingCartesian in FEPointEvaluation
  include/deal.II/fe/mapping_cartesian.h
  include/deal.II/matrix_free/fe_point_evaluation.h
  source/fe/mapping_cartesian.cc
  tests/matrix_free/point_evaluation_13.cc
  tests/matrix_free/point_evaluation_13.output
Labels: Mapping, ready to test

#12761 Instantiate MatrixTools::apply_boundary_values also for complex values
  source/numerics/matrix_tools.cc
  source/numerics/matrix_tools.inst.in
  tests/lac/block_matrices_06.cc
  tests/lac/block_matrices_06.with_complex_values=on.output
Labels: ready to test

#12779 Allow to disable fast matrix-free hanging-node algorithm
  include/deal.II/matrix_free/matrix_free.h
  include/deal.II/matrix_free/matrix_free.templates.h
Labels: Reviewed and ready to merge, Matrix-free, ready to test

#12782 Avoid set but unused variable
  source/lac/petsc_parallel_sparse_matrix.cc
Labels: Reviewed and ready to merge, Linear Algebra, External libraries, ready to test

#12783 Make FEEvaluationBase::apply_hanging_node_constraints protected
  include/deal.II/matrix_free/fe_evaluation.h
Labels: Matrix-free, ready to test

#12784 Fix typo in ScratchData doc
  include/deal.II/meshworker/scratch_data.h
Labels: Reviewed and ready to merge
