Repository dealii/dealii, pull requests merged in 2021-10, with the labels that each got.

#12786 Fix FEPointEvaluation for non-zero starting component
  doc/news/changes/minor/20211001Gassmoeller
  include/deal.II/matrix_free/fe_point_evaluation.h
  tests/matrix_free/point_evaluation_14.cc
  tests/matrix_free/point_evaluation_14.output
Labels: Reviewed and ready to merge, Matrix-free, ready to test

#12785 Mapping classes: Unify public/private properties
  include/deal.II/fe/mapping_cartesian.h
  include/deal.II/fe/mapping_manifold.h
  include/deal.II/fe/mapping_q.h
Labels: Mapping, ready to test

#12788 Test custom separators for Patterns::Map
  tests/parameter_handler/patterns_17.cc
  tests/parameter_handler/patterns_17.output
Labels: Reviewed and ready to merge, ready to test

#12789 Fix bug in ParameterHandler::parse_input for .prm
  source/base/parameter_handler.cc
  tests/parameter_handler/parameter_handler_26.cc
  tests/parameter_handler/parameter_handler_26.output
  tests/parameter_handler/prm/parameter_handler_26_fail.prm
  tests/parameter_handler/prm/parameter_handler_26_success.prm
Labels: Enhancement, ready to test

#12790 Permit conversion of multi-level triangulations to simplices.
  source/grid/grid_generator.cc
  tests/simplex/conv_hex_to_simplex_02.cc
  tests/simplex/conv_hex_to_simplex_02.output
Labels: Triangulation, ready to test

#12792 Add missing compress() to VectorTools::create_right_hand_side()
  include/deal.II/numerics/vector_tools_rhs.templates.h
Labels: Bug, ready to test
