Repository dealii/dealii, pull requests merged in 2022-03, with the labels that each got.

#13466 Fix the TBB quick test.
  tests/quick_tests/tbb.cc
Labels: Reviewed and ready to merge, Tests, ready to test

#13394 Add ArborXWrappers::DistributedTree
  cmake/modules/FindARBORX.cmake
  doc/doxygen/options.dox.in
  doc/news/changes/minor/20220215Turcksin
  include/deal.II/arborx/distributed_tree.h
  include/deal.II/base/config.h.in
  source/arborx/access_traits.cc
  tests/arborx/distributed_tree_intersect.cc
  tests/arborx/distributed_tree_intersect.mpirun=2.output
  tests/arborx/distributed_tree_nearest.cc
  tests/arborx/distributed_tree_nearest.mpirun=2.output
Labels: ready to test

#13452 Provide a second error for Trilinos sparsity pattern problems.
  source/lac/trilinos_sparsity_pattern.cc
Labels: ready to test

#13463 Minor update to FE_Nedelec.
  include/deal.II/fe/fe_nedelec.h
Labels: Documentation, ready to test

#13445 Error out with too large Trilinos sparsity patterns.
  source/lac/trilinos_sparsity_pattern.cc
Labels: ready to test

#13476 Avoid integer comparison warning.
  source/lac/trilinos_sparsity_pattern.cc
Labels: ready to test

#13465 Remove MPI 2.x logic
  include/deal.II/base/aligned_vector.h
  include/deal.II/base/mpi.h
  include/deal.II/base/mpi_consensus_algorithms.templates.h
  include/deal.II/lac/la_parallel_vector.templates.h
  source/base/mpi.cc
  tests/mpi/create_mpi_datatype_01.cc
Labels: Reviewed and ready to merge, ready to test

#13482 Deprecate Utilities::MPI::create_group
  include/deal.II/base/mpi.h
  source/base/mpi.cc
  source/base/process_grid.cc
  source/lac/scalapack.cc
Labels: Reviewed and ready to merge, ready to test

#13483 MPI 3: minor edits
  examples/step-76/step-76.cc
  source/base/mpi.cc
Labels: ready to test

#13481 clarify docu of MatrixFree::initialize_dof_vector()
  include/deal.II/matrix_free/matrix_free.h
Labels: Documentation, Matrix-free

#13467 Run quick tests in GitHub Linux CI
  .github/workflows/linux.yml
  tests/quick_tests/affinity.cc
Labels: ready for review, ready to test

#13472 Deal gracefully with replicating an empty array.
  include/deal.II/base/aligned_vector.h
Labels: ready to test

#13471 Use a valid communicator.
  tests/fullydistributed_grids/repartitioning_05.cc
Labels: ready to test

#13486 fix a test
  tests/trilinos/precondition.cc
Labels: Reviewed and ready to merge, Tests, ready to test

#13479 Simplify logic in RepartitioningPolicyTools::FirstChildPolicy
  source/distributed/repartitioning_policy_tools.cc
Labels: Reviewed and ready to merge, Parallel distributed, ready to test

#13395 Introduce a template variable mpi_type_id_for_type.
  doc/news/changes/minor/20220227Bangerth
  include/deal.II/base/mpi.h
  include/deal.II/base/mpi.templates.h
  include/deal.II/base/mpi_noncontiguous_partitioner.templates.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  source/base/mpi.cc
  source/base/partitioner.cc
  source/base/process_grid.cc
  source/distributed/repartitioning_policy_tools.cc
  source/distributed/tria_base.cc
  source/lac/scalapack.cc
  source/matrix_free/vector_data_exchange.cc
  tests/mpi/mpi_type_id_for_type_01.cc
  tests/mpi/mpi_type_id_for_type_01.output
  tests/mpi/renumber_cuthill_mckee.cc
  tests/mpi/renumber_cuthill_mckee_02.cc
Labels: ready to test

#13490 affine_constraints: hide another block of forward declarations
  include/deal.II/lac/affine_constraints.h
Labels: ready to test

#13473 Provide a template variable that can be used to query whether T is a natively supported MPI type.
  doc/news/changes/minor/20220301Bangerth
  include/deal.II/base/mpi.h
  include/deal.II/base/template_constraints.h
  tests/mpi/is_mpi_type.cc
  tests/mpi/is_mpi_type.output
Labels: ready to test

#13487 Fix bugs in ComputeIndexOwner::Dictionary and CellIDTranslator
  include/deal.II/grid/cell_id_translator.h
  source/base/mpi_compute_index_owner_internal.cc
Labels: Bug, Parallel distributed, ready to test

#13495 Minor doc adjustments.
  include/deal.II/base/quadrature_lib.h
  include/deal.II/grid/reference_cell.h
Labels: ready to test

#13478 Move p:d:T::has_hanging_nodes() to DistributedTriangulationBase
  include/deal.II/distributed/fully_distributed_tria.h
  include/deal.II/distributed/tria.h
  include/deal.II/distributed/tria_base.h
  source/distributed/fully_distributed_tria.cc
  source/distributed/tria.cc
  source/distributed/tria_base.cc
  tests/fullydistributed_grids/copy_distributed_tria_01.with_p4est=true.mpirun=1.output
  tests/fullydistributed_grids/copy_distributed_tria_01.with_p4est=true.mpirun=5.output
  tests/fullydistributed_grids/copy_distributed_tria_02.with_p4est=true.mpirun=1.output
  tests/fullydistributed_grids/copy_distributed_tria_02.with_p4est=true.mpirun=5.output
  tests/fullydistributed_grids/copy_serial_tria_01.mpirun=1.output
  tests/fullydistributed_grids/copy_serial_tria_01.mpirun=5.output
  tests/fullydistributed_grids/copy_serial_tria_02.mpirun=1.output
  tests/fullydistributed_grids/copy_serial_tria_02.mpirun=5.output
  tests/fullydistributed_grids/copy_serial_tria_03.mpirun=1.output
  tests/fullydistributed_grids/copy_serial_tria_03.mpirun=5.output
  tests/fullydistributed_grids/copy_serial_tria_04.mpirun=1.output
  tests/fullydistributed_grids/copy_serial_tria_04.mpirun=4.output
  tests/fullydistributed_grids/copy_serial_tria_04.mpirun=5.output
  tests/fullydistributed_grids/copy_serial_tria_05.mpirun=9.output
  tests/fullydistributed_grids/copy_serial_tria_07.mpirun=1.output
  tests/fullydistributed_grids/copy_serial_tria_07.mpirun=5.output
  tests/fullydistributed_grids/copy_serial_tria_10.mpirun=1.output
  tests/fullydistributed_grids/repartitioning_01.with_p4est=true.mpirun=4.output
  tests/fullydistributed_grids/repartitioning_02.with_p4est=true.mpirun=5.output
  tests/fullydistributed_grids/repartitioning_03.with_p4est=true.mpirun=5.output
  tests/fullydistributed_grids/repartitioning_04.with_p4est=true.mpirun=5.output
  tests/fullydistributed_grids/repartitioning_05.with_p4est=true.mpirun=4.output
  tests/fullydistributed_grids/repartitioning_06.with_p4est=true.mpirun=4.output
  tests/fullydistributed_grids/repartitioning_08.with_p4est=true.mpirun=4.output
  tests/fullydistributed_grids/save_load_01.with_p4est=true.mpirun=1.output
  tests/fullydistributed_grids/save_load_01.with_p4est=true.mpirun=4.output
  tests/fullydistributed_grids/tests.h
Labels: Triangulation, Parallel distributed, ready to test

#13488 Removing DEAL_II_MPI_CONST_CAST
  include/deal.II/base/mpi.templates.h
  source/base/data_out_base.cc
  source/distributed/fully_distributed_tria.cc
  source/distributed/tria_base.cc
  source/dofs/dof_handler_policy.cc
  source/lac/scalapack.cc
  source/lac/sparsity_tools.cc
Labels: Reviewed and ready to merge, ready to test

#13489 Added `n_nonzero_elements` to PETSc `BlockSparseMatrix`.
  include/deal.II/lac/petsc_block_sparse_matrix.h
  source/lac/petsc_parallel_block_sparse_matrix.cc
  tests/lac/block_matrices_01.cc
  tests/lac/block_matrices_01.output
  tests/petsc/block_matrices_01.cc
  tests/petsc/block_matrices_01.mpirun=1.output
  tests/trilinos/block_matrices_01.cc
  tests/trilinos/block_matrices_01.mpirun=1.output
Labels: ready for review, Reviewed and ready to merge, ready to test

#13497 Add std_cxx17::variant.
  include/deal.II/base/std_cxx17/variant.h
  include/deal.II/base/table_handler.h
  source/base/table_handler.cc
Labels: ready to test

#13507 Use get_communicator()
  include/deal.II/matrix_free/matrix_free.templates.h
Labels: Reviewed and ready to merge, Matrix-free, ready to test

#13504 Remove a note.
  include/deal.II/multigrid/multigrid.h
Labels: ready to test

#13499 Use fast hanging node algorithm for polynomial global coarsening
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Reviewed and ready to merge, Multigrid, ready to test

#13505 Add AffineConstraints::is_closed()
  include/deal.II/lac/affine_constraints.h
  include/deal.II/lac/affine_constraints.templates.h
Labels: Linear Algebra, ready to test

#13511 Removed outdated comment.
  include/deal.II/grid/tria.h
Labels: Documentation

#13181 Extend MeshWorker::ScratchData to support hp
  doc/news/changes/minor/20220109Jean-PaulPelteret
  include/deal.II/hp/fe_collection.h
  include/deal.II/hp/mapping_collection.h
  include/deal.II/meshworker/copy_data.h
  include/deal.II/meshworker/scratch_data.h
  source/hp/fe_collection.cc
  source/meshworker/scratch_data.cc
  tests/meshworker/scratch_data_01_hp.cc
  tests/meshworker/scratch_data_01_hp.output
  tests/meshworker/scratch_data_02_hp.cc
  tests/meshworker/scratch_data_02_hp.with_muparser=on.with_umfpack=on.output
  tests/meshworker/scratch_data_03_hp.cc
  tests/meshworker/scratch_data_03_hp.with_muparser=on.with_umfpack=on.output
  tests/meshworker/scratch_data_09a_hp.cc
  tests/meshworker/scratch_data_09a_hp.output
  tests/meshworker/scratch_data_09b_hp.cc
  tests/meshworker/scratch_data_09b_hp.output
  tests/meshworker/scratch_data_09c_hp.cc
  tests/meshworker/scratch_data_09c_hp.output
  tests/meshworker/scratch_data_09d_hp.cc
  tests/meshworker/scratch_data_09d_hp.output
Labels: ready for review, ready to test

#13494 GC: enable inplace operation for coarse side
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Multigrid, ready to test

#13493 ComputeIndexOwner: allow to use map instead of vector
  include/deal.II/base/mpi_compute_index_owner_internal.h
  source/base/mpi_compute_index_owner_internal.cc
Labels: Parallel distributed, ready to test

#13496 Implement ReferenceCell::point_is_inside.
  doc/news/changes/minor/20220305Bangerth
  include/deal.II/grid/reference_cell.h
  tests/simplex/reference_cell_point_is_inside_01.cc
  tests/simplex/reference_cell_point_is_inside_01.output
Labels: ready to test

#13506 Check during MF::reinit() if AffineConstraints are closed
  doc/news/changes/incompatibilities/20220308Munch
  include/deal.II/matrix_free/matrix_free.templates.h
  tests/matrix_free/mixed_mesh_hn_algorithm_01.cc
  tests/matrix_free/mixed_mesh_hn_algorithm_01.output
Labels: Bug, Matrix-free, ready to test

#13310 Speed up evaluation of RefSpaceFEFieldFunction
  include/deal.II/matrix_free/tensor_product_kernels.h
  source/non_matching/fe_values.cc
  source/non_matching/quadrature_generator.cc
  tests/matrix_free/tensor_product_evaluate_05.cc
  tests/matrix_free/tensor_product_evaluate_05.output
  tests/matrix_free/tensor_product_evaluate_06.cc
  tests/matrix_free/tensor_product_evaluate_06.output
Labels: ready to test, Non-matching

#13492 Optimize broadcast for natively-supported MPI types
  doc/news/changes/minor/2022030422Andreuzzi
  include/deal.II/base/mpi.h
  tests/mpi/broadcast_03.cc
  tests/mpi/broadcast_03.mpirun=1.output
  tests/mpi/broadcast_03.mpirun=5.output
Labels: Parallel distributed, ready to test

#13524 MatrixFree: fix typo assert message
  include/deal.II/matrix_free/matrix_free.templates.h
Labels: Reviewed and ready to merge, Matrix-free

#12617 MatrixFree: store refinement configuration once per cell
  include/deal.II/matrix_free/dof_info.h
  include/deal.II/matrix_free/dof_info.templates.h
  include/deal.II/matrix_free/fe_evaluation.h
  include/deal.II/matrix_free/matrix_free.templates.h
  include/deal.II/matrix_free/tools.h
  source/matrix_free/dof_info.cc
Labels: Matrix-free, ready to test

#13527 Reserve internal container with correct size.
  source/distributed/tria.cc
Labels: Reviewed and ready to merge, Parallel distributed, ready to test

#13526 Enable `sc_init` again.
  source/base/mpi.cc
Labels: ready to test

#13519 Introduce internal::MatrixFreeFunctions::ConstraintInfo
  include/deal.II/matrix_free/constraint_info.h
  tests/matrix_free/constraint_info_01.cc
  tests/matrix_free/constraint_info_01.output
Labels: Matrix-free, ready to test

#13438 Support SUNDIALS 6.0 and later.
  include/deal.II/sundials/arkode.h
  include/deal.II/sundials/ida.h
  include/deal.II/sundials/kinsol.h
  include/deal.II/sundials/n_vector.h
  include/deal.II/sundials/n_vector.templates.h
  include/deal.II/sundials/sunlinsol_wrapper.h
  source/sundials/arkode.cc
  source/sundials/ida.cc
  source/sundials/kinsol.cc
  source/sundials/n_vector.inst.in
  source/sundials/sunlinsol_wrapper.cc
Labels: External libraries, ready to test

#11871 MGLevelGlobalTransfer/MGTransferMatrixFree: allow user to init vectors
  doc/news/changes/minor/20210309Munch
  include/deal.II/multigrid/mg_transfer.h
  include/deal.II/multigrid/mg_transfer.templates.h
  include/deal.II/multigrid/mg_transfer_matrix_free.h
  source/multigrid/mg_transfer_matrix_free.cc
  tests/matrix_free/multigrid_dg_sip_01.cc
Labels: Reviewed and ready to merge, Multigrid, ready to test

#13520 Refactor constraint application of MGTwoLevelTransfer
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Multigrid, ready to test

#13508 GitHub-CI: test CPP17
  .github/workflows/linux.yml
Labels: Tests

#13498 GC: allow to pass in external partitioner
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Multigrid, ready to test

#13529 Implement MGLevelObject::n_levels()
  include/deal.II/base/mg_level_object.h
Labels: Reviewed and ready to merge, ready to test

#13528 Compute DoFInfo::hanging_node_constraint_masks_comp once
  include/deal.II/matrix_free/dof_info.templates.h
  include/deal.II/matrix_free/fe_evaluation.h
  include/deal.II/matrix_free/matrix_free.templates.h
  include/deal.II/matrix_free/tools.h
  source/matrix_free/dof_info.cc
Labels: Matrix-free, ready to test

#13525 Refine MGTwoLevelTransfer::enable_inplace_operations_if_possible()
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Reviewed and ready to merge, Multigrid, ready to test

#13533 MGTwoLevelTransfer: remove fine-vector specialization for DG
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Multigrid, ready to test

#13514 Specifying material IDs on Gmsh imports
  examples/step-49/doc/intro.dox
  include/deal.II/grid/grid_in.h
Labels: Documentation, ready to test

#13539 MGTransferGlobalCoarsening::initialize_dof_vector() skip zeroing
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
Labels: Reviewed and ready to merge, Multigrid, ready to test

#13542 Fix typo
  include/deal.II/lac/precondition.h
Labels: Documentation

#13545 Make doxygen show correct header file for GridTools::Cache
  include/deal.II/grid/grid_tools.h
Labels: ready to test

#13521 Revert most of "Avoid implicit bool conversions"
  include/deal.II/base/geometry_info.h
  include/deal.II/fe/fe_poly.h
  include/deal.II/fe/fe_poly.templates.h
  include/deal.II/fe/fe_poly_face.templates.h
  include/deal.II/fe/fe_poly_tensor.h
  include/deal.II/matrix_free/evaluation_kernels.h
  include/deal.II/matrix_free/fe_evaluation.h
  include/deal.II/matrix_free/fe_point_evaluation.h
  include/deal.II/matrix_free/mapping_data_on_the_fly.h
  include/deal.II/matrix_free/mapping_info.templates.h
  include/deal.II/meshworker/integration_info.h
  source/distributed/fully_distributed_tria.cc
  source/fe/fe_dgp_nonparametric.cc
  source/fe/fe_enriched.cc
  source/fe/fe_face.cc
  source/fe/fe_nedelec_sz.cc
  source/fe/fe_p1nc.cc
  source/fe/fe_poly_tensor.cc
  source/fe/fe_values.cc
  source/fe/mapping_cartesian.cc
  source/fe/mapping_fe.cc
  source/fe/mapping_fe_field.cc
  source/fe/mapping_manifold.cc
  source/fe/mapping_q.cc
  source/grid/grid_tools_cache.cc
  source/numerics/data_out.cc
  source/numerics/data_out_faces.cc
  source/numerics/data_out_rotation.cc
Labels: ready to test

#11148 Allow user to specify CMAKE_CUDA_HOST_COMPILER
  cmake/configure/configure_1_cuda.cmake
  cmake/macros/macro_deal_ii_invoke_autopilot.cmake
Labels: GPU, ready to test

#13546 Add Multigrid::set_edge_in_matrix()
  include/deal.II/multigrid/multigrid.h
  include/deal.II/multigrid/multigrid.templates.h
Labels: Multigrid, ready to test

#13535 Change one GitHub Workflow CI check to use C++20
  .github/workflows/linux.yml
Labels: Infrastructure, Reviewed and ready to merge, ready to test

#13538 Fix test for nearest query for ArborXWrappers::DistributedTree
  tests/arborx/distributed_tree_intersect.with_arborx_with_mpi=on.mpirun=2.output
  tests/arborx/distributed_tree_nearest.cc
  tests/arborx/distributed_tree_nearest.mpirun=2.output
  tests/arborx/distributed_tree_nearest.with_arborx_with_mpi=on.mpirun=2.output
Labels: Tests, External libraries, ready to test

#13541 Add ScalarType as template parameter to MeshWorker::CopyData
  doc/news/changes/minor/20220314Jean-PaulPelteret-2
  include/deal.II/meshworker/copy_data.h
  tests/meshworker/mesh_loop_09a.cc
  tests/meshworker/mesh_loop_09a.output
  tests/meshworker/mesh_loop_09b.cc
  tests/meshworker/mesh_loop_09b.output
Labels: Reviewed and ready to merge, ready to test

#13550 GC: test FE_DGQ(0)
  tests/multigrid-global-coarsening/mg_transfer_a_01.cc
  tests/multigrid-global-coarsening/mg_transfer_a_01.with_p4est=true.mpirun=1.output
  tests/multigrid-global-coarsening/mg_transfer_a_01.with_p4est=true.mpirun=2.output
  tests/multigrid-global-coarsening/mg_transfer_a_03.cc
  tests/multigrid-global-coarsening/mg_transfer_a_03.with_p4est=true.mpirun=2.output
Labels: Multigrid, ready to test

#13551 GC::create_geometric_coarsening_sequence() add assert
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Multigrid, ready to test

#13548 Fix docu of PreconditionChebyshev regarding degree
  include/deal.II/lac/precondition.h
Labels: Documentation

#13556 Rename a class.
  source/base/table_handler.cc
Labels: ready to test

#13557 GC: compressed weights -> AlignedVector
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Multigrid, ready to test

#13451 cell_weight: remove initial weight from distributed applications.
  doc/news/changes/incompatibilities/20220225Fehling
  examples/step-68/step-68.cc
  examples/step-75/step-75.cc
  include/deal.II/distributed/cell_weights.h
  include/deal.II/distributed/tria.h
  include/deal.II/grid/grid_tools.h
  include/deal.II/grid/tria.h
  source/distributed/cell_weights.cc
  source/distributed/tria.cc
  source/grid/grid_tools.cc
  tests/mpi/cell_weights_01.cc
  tests/mpi/cell_weights_01_back_and_forth_01.cc
  tests/mpi/cell_weights_01_back_and_forth_02.cc
  tests/mpi/cell_weights_02.cc
  tests/mpi/cell_weights_03.cc
  tests/mpi/cell_weights_03.mpirun=5.with_p4est=true.output
  tests/mpi/cell_weights_04.cc
  tests/mpi/cell_weights_04.mpirun=5.with_p4est=true.output
  tests/mpi/cell_weights_05.cc
  tests/mpi/cell_weights_05.mpirun=3.with_p4est=true.output
  tests/mpi/cell_weights_05.mpirun=5.with_p4est=true.output
  tests/mpi/cell_weights_06.cc
  tests/mpi/cell_weights_06.mpirun=3.with_p4est=true.output
  tests/mpi/hp_cell_weights_01.cc
  tests/mpi/hp_cell_weights_01.with_p4est=true.mpirun=2.output
  tests/mpi/hp_cell_weights_02.cc
  tests/mpi/hp_cell_weights_03.cc
  tests/mpi/hp_cell_weights_04.cc
  tests/particles/particle_weights_01.cc
  tests/particles/particle_weights_01.with_p4est=true.mpirun=1.output
  tests/particles/particle_weights_01.with_p4est=true.mpirun=4.output
  tests/particles/step-68.cc
Labels: Bug, ready for review, Parallel distributed, ready to test

#13562 Avoid one use of GeometryInfo.
  source/particles/generators.cc
Labels: ready to test

#13560 Add an assertion.
  source/particles/generators.cc
Labels: ready to test

#13561 cell_weight: suggestions from code review.
  include/deal.II/distributed/cell_weights.h
  include/deal.II/distributed/tria.h
  include/deal.II/grid/grid_tools.h
  include/deal.II/grid/tria.h
  source/distributed/tria.cc
  source/grid/grid_tools.cc
Labels: Reviewed and ready to merge, ready to test

#13552 ConstraintKinds: compress/decompress
  include/deal.II/matrix_free/hanging_nodes_internal.h
  tests/matrix_free/hanging_node_kernels_02.cc
  tests/matrix_free/hanging_node_kernels_02.output
Labels: Reviewed and ready to merge, Matrix-free, ready to test

#13563 Simplify a piece of code.
  source/dofs/dof_renumbering.cc
Labels: Reviewed and ready to merge, ready to test

#13559 Minor particle cleanups.
  include/deal.II/particles/particle_handler.h
  source/particles/generators.cc
  source/particles/particle_handler.cc
Labels: Reviewed and ready to merge, ready to test

#13572 cell_weight: add changelog for bugfix.
  doc/news/changes/incompatibilities/20220225Fehling2
Labels: Documentation

#13571 Avoid a copy of a vector.
  source/grid/tria.cc
Labels: Reviewed and ready to merge, ready to test

#13576 Run one parallel hp unification test with three and four processes.
  tests/mpi/hp_unify_dof_indices_12.mpirun=3.with_p4est=true.output
  tests/mpi/hp_unify_dof_indices_12.mpirun=4.with_p4est=true.output
Labels: hp, ready to test

#13566 Use compressed_constraint_kind in MatrixFree (CPU)
  include/deal.II/matrix_free/constraint_info.h
  include/deal.II/matrix_free/dof_info.h
  include/deal.II/matrix_free/dof_info.templates.h
  include/deal.II/matrix_free/evaluation_kernels_hanging_nodes.h
  include/deal.II/matrix_free/evaluation_template_factory.h
  include/deal.II/matrix_free/evaluation_template_factory_hanging_nodes.templates.h
  include/deal.II/matrix_free/fe_evaluation.h
  include/deal.II/matrix_free/matrix_free.templates.h
  include/deal.II/matrix_free/tools.h
  source/matrix_free/dof_info.cc
  tests/matrix_free/hanging_node_kernels_01.cc
Labels: Matrix-free, ready to test

#13567 Make DoFRenumbering work when some processors have 0 DoFs.
  doc/news/changes/minor/20220323DavidWells
  source/dofs/dof_renumbering.cc
Labels: Bug, ready to test

#13582 Update the documentation of GridTools::cell_measure().
  include/deal.II/grid/grid_tools.h
Labels: Documentation, simplices
