Repository dealii/dealii, pull requests merged in 2022-06, with the labels that each got.

#13875 vtu zlib: assert max size
  source/base/data_out_base.cc
Labels: Post-processing, ready to test

#13886 fix a doxygen comment
  include/deal.II/grid/grid_generator.h
Labels: Documentation, Reviewed and ready to merge, ready to test

#13887 doxygen: don't use @ingroup simplex
  include/deal.II/base/quadrature_lib.h
  include/deal.II/fe/fe_pyramid_p.h
  include/deal.II/fe/fe_simplex_p.h
  include/deal.II/fe/fe_wedge_p.h
  include/deal.II/fe/mapping_fe.h
  include/deal.II/grid/grid_generator.h
  include/deal.II/grid/grid_in.h
Labels: Reviewed and ready to merge, ready to test

#13850 wrapcomments.py update
  contrib/utilities/wrapcomments.py
Labels: Reviewed and ready to merge, ready to test

#13885 Fix a problem with combining MPI::LargeCount and PETSc.
  include/deal.II/base/mpi_large_count.h
  source/base/data_out_base.cc
  source/base/mpi.cc
  source/distributed/tria_base.cc
Labels: Bug, ready to test

#13896 Fix compilation with CGAL.
  include/deal.II/cgal/utilities.h
  tests/cgal/cgal_quadrature_01.cc
Labels: Bug, High Priority :warning:, Reviewed and ready to merge, ready to test

#13888 Qualify int*_t and uint*_t with std::.
  include/deal.II/base/hdf5.h
  include/deal.II/base/mpi_noncontiguous_partitioner.h
  include/deal.II/base/types.h
  include/deal.II/distributed/p4est_wrappers.h
  include/deal.II/particles/property_pool.h
  source/base/data_out_base.cc
  source/base/hdf5.cc
  source/distributed/p4est_wrappers.cc
  source/distributed/repartitioning_policy_tools.cc
  tests/fe/fe_conformity_fill_vector_random.h
  tests/mpi/mpi_type_id_for_type_01.cc
Labels: Miscellaneous, ready to test

#13457 Allow to average values in parallel::distributed::SolutionTransfer
  doc/news/changes/minor/20220514Munch
  include/deal.II/distributed/solution_transfer.h
  include/deal.II/dofs/dof_accessor.h
  source/distributed/solution_transfer.cc
  source/dofs/dof_accessor_set.cc
  source/dofs/dof_accessor_set.inst.in
  tests/distributed_grids/solution_transfer_05.cc
  tests/distributed_grids/solution_transfer_05.mpirun=1.with_p4est=true.output
  tests/distributed_grids/solution_transfer_05.mpirun=2.with_p4est=true.output
Labels: Parallel distributed, ready to test

#13893 Fix arkode 3 and 4
  tests/sundials/arkode_03.output
  tests/sundials/arkode_03_in.prm
  tests/sundials/arkode_04.cc
  tests/sundials/arkode_04.output
  tests/sundials/arkode_04_in.prm
Labels: Reviewed and ready to merge, Tests, External libraries, ready to test

#13892 Fix step-81 complex number warnings
  examples/step-81/step-81.cc
Labels: ready to test

#13894 Avoid unicode and correct 10-5 -> 10^-5.
  tests/sundials/arkode_04.cc
  tests/sundials/arkode_05.cc
Labels: Documentation, Tests, ready to test

#13846 Restore compatibility with OpenCASCADE >= 7.6.0
  include/deal.II/opencascade/manifold_lib.h
  source/opencascade/manifold_lib.cc
  source/opencascade/utilities.cc
Labels: High Priority :warning:, External libraries, ready to test

#13867 LargeCount MPI_write/read_at
  source/distributed/fully_distributed_tria.cc
Labels: Bug, ready to test

#13899 Document possibility for data locality in matrix-free tutorial
  examples/step-37/doc/results.dox
Labels: Documentation

#13901 Add missing header to test
  tests/matrix_free/fe_nothing_01.cc
Labels: Reviewed and ready to merge, Tests, ready to test

#13898 Remove inclusion of additional headers
  include/deal.II/matrix_free/dof_info.h
  include/deal.II/matrix_free/dof_info.templates.h
  include/deal.II/matrix_free/evaluation_kernels.h
  include/deal.II/matrix_free/fe_evaluation_data.h
  include/deal.II/matrix_free/matrix_free.templates.h
  include/deal.II/matrix_free/task_info.h
  include/deal.II/numerics/vector_tools_project.templates.h
  source/matrix_free/task_info.cc
  tests/matrix_free/matrix_vector_large_degree_02.cc
  tests/matrix_free/matrix_vector_stokes_onedof.cc
  tests/simplex/matrix_free_01.cc
  tests/simplex/matrix_free_02.cc
Labels: Miscellaneous, ready to test

#10747 Add parallel test for find_active_cell_around_point
  tests/bits/point_value_03.cc
  tests/bits/point_value_03.mpirun=1.output
  tests/bits/point_value_03.mpirun=7.output
Labels: ready to test

#13900 Fix step-77 by fixing KINSOL.
  examples/step-77/step-77.cc
  include/deal.II/sundials/copy.h
  include/deal.II/sundials/kinsol.h
  source/sundials/CMakeLists.txt
  source/sundials/copy.cc
  source/sundials/kinsol.cc
  tests/sundials/copy_01.cc
  tests/sundials/copy_01.with_mpi=true.with_petsc=true.with_petsc_with_complex=false.mpirun=4.output
  tests/sundials/step-77.cc
  tests/sundials/step-77.with_umfpack=on.output
Labels: Tutorials, External libraries, ready to test

#13743 Cgal dealii tria from implicit function
  doc/doxygen/images/grid_generator_implicit_function_2d.png
  doc/doxygen/images/grid_generator_implicit_function_3d.png
  include/deal.II/cgal/utilities.h
  include/deal.II/grid/grid_generator.h
  tests/cgal/cgal_surface_triangulation_03.cc
  tests/cgal/cgal_surface_triangulation_03.output
  tests/cgal/implicit_triangulation_01.cc
  tests/cgal/implicit_triangulation_01.output
  tests/cgal/implicit_triangulation_02.cc
  tests/cgal/implicit_triangulation_02.output
Labels: ready for review, External libraries, ready to test

#13907 Add typename and instantiation to `project_boundary_values_div_conforming`
  include/deal.II/numerics/vector_tools_boundary.h
  include/deal.II/numerics/vector_tools_boundary.templates.h
  source/numerics/vector_tools_boundary.inst.in
Labels: Finite Element, ready to test

#13903 Update sundials docs
  include/deal.II/sundials/arkode.h
  include/deal.II/sundials/ida.h
  include/deal.II/sundials/kinsol.h
  include/deal.II/sundials/n_vector.h
  include/deal.II/sundials/n_vector.templates.h
  include/deal.II/sundials/sunlinsol_wrapper.h
  source/sundials/arkode.cc
  source/sundials/ida.cc
  source/sundials/kinsol.cc
  source/sundials/n_vector.cc
  source/sundials/sunlinsol_wrapper.cc
  tests/sundials/arkode_04.cc
Labels: Documentation

#13902 Cleanup sundials context
  examples/step-77/step-77.cc
  include/deal.II/sundials/arkode.h
  include/deal.II/sundials/ida.h
  include/deal.II/sundials/kinsol.h
  source/sundials/arkode.cc
  source/sundials/ida.cc
  source/sundials/kinsol.cc
  tests/sundials/arkode_01.cc
  tests/sundials/arkode_02.cc
  tests/sundials/arkode_03.cc
  tests/sundials/arkode_04.cc
  tests/sundials/arkode_05.cc
  tests/sundials/arkode_06.cc
  tests/sundials/arkode_07.cc
  tests/sundials/arkode_08.cc
  tests/sundials/arkode_repeated_solve.cc
  tests/sundials/ida_01.cc
  tests/sundials/ida_02.cc
  tests/sundials/kinsol_01.cc
  tests/sundials/kinsol_02.cc
  tests/sundials/kinsol_03.cc
  tests/sundials/kinsol_03_new_interface.cc
  tests/sundials/kinsol_04.cc
  tests/sundials/kinsol_04_new_interface.cc
  tests/sundials/kinsol_05.cc
  tests/sundials/kinsol_05_new_interface.cc
  tests/sundials/step-77.cc
Labels: External libraries, ready to test

#13915 MF: make things more consistent
  include/deal.II/matrix_free/evaluation_kernels.h
  include/deal.II/matrix_free/shape_info.templates.h
  include/deal.II/matrix_free/tensor_product_kernels.h
Labels: Matrix-free, ready to test

#13917 ParameterHandler::print_parameters(): Fix demangle alias parameter JSON
  source/base/parameter_handler.cc
  tests/parameter_handler/parameter_handler_write_json.cc
  tests/parameter_handler/parameter_handler_write_json.output
Labels: Bug, Reviewed and ready to merge, ready to test

#13919 Make fields private
  include/deal.II/matrix_free/tensor_product_kernels.h
Labels: Reviewed and ready to merge, ready to test

#13912 Fix orientation issue with hex cells.
  source/cgal/surface_mesh.cc
  tests/cgal/cgal_surface_mesh_06.cc
  tests/cgal/cgal_surface_mesh_06.output
  tests/cgal/cgal_surface_mesh_07.cc
  tests/cgal/cgal_surface_mesh_07.output
Labels: Bug, ready for review, Triangulation, External libraries, ready to test

#13918 More sundials 6 2
  include/deal.II/sundials/sunlinsol_wrapper.h
  source/sundials/arkode.cc
  source/sundials/sunlinsol_wrapper.cc
  tests/sundials/arkode_repeated_solve.cc
  tests/sundials/arkode_repeated_solve.output
  tests/sundials/arkode_repeated_solve_in.prm
Labels: External libraries, ready to test

#13828 Simplify access to MG DoFs in DoFAccessor
  include/deal.II/dofs/dof_accessor.templates.h
  include/deal.II/dofs/dof_handler.h
  include/deal.II/dofs/dof_objects.h
  source/dofs/dof_handler.cc
  source/dofs/dof_handler.inst.in
  source/dofs/dof_handler_policy.cc
  source/dofs/dof_objects.cc
  source/dofs/dof_objects.inst.in
Labels: Multigrid, DoFs, ready to test

#13913 Fix input and output of some cgal tests.
  tests/cgal/cgal_mesh_criteria.cc
  tests/cgal/cgal_quadrature_01.cc
  tests/cgal/cgal_surface_mesh_02.cc
  tests/cgal/cgal_surface_mesh_03.cc
  tests/cgal/cgal_surface_triangulation_03.cc
  tests/cgal/cgal_surface_triangulation_03.output
Labels: ready for review, Triangulation, External libraries, ready to test

#13914 Fix compiler warning
  include/deal.II/matrix_free/evaluation_kernels.h
Labels: Matrix-free, ready to test

#13908 Rename fe_base.h to fe_data.h
  include/deal.II/fe/fe.h
  include/deal.II/fe/fe_base.h
  include/deal.II/fe/fe_data.h
  include/deal.II/fe/fe_rannacher_turek.h
  tests/bits/anna_1.cc
  tests/bits/anna_2.cc
  tests/bits/anna_3.cc
  tests/fe/fe_conformity_test.h
Labels: ready to test

#13920 Try to fix valence
  source/distributed/solution_transfer.cc
Labels: ready to test

#13925 base/polynomials_bdm.cc: avoid a compiler warning with gcc-12
  source/base/polynomials_bdm.cc
Labels: ready to test

#13927 CMake: add DEAL_II_CGAL_HAS_DEPRECATED_BOOST_INCLUDES check
  cmake/configure/configure_50_cgal.cmake
  include/deal.II/base/bounding_box_data_out.h
  include/deal.II/base/config.h.in
  include/deal.II/numerics/rtree.h
Labels: Reviewed and ready to merge, ready to test

#13935 Fix some test typenames for GCC-12.
  tests/algorithms/general_data_storage_01.output.gcc-12
  tests/base/unsubscribe_subscriptor.debug.output.gcc-12
  tests/parameter_handler/parameter_handler_25.output.gcc-12
Labels: Tests, ready to test

#13933 Fix some CGAL tests.
  tests/cgal/cgal_surface_triangulation_03.cc
  tests/cgal/implicit_triangulation_01.cc
  tests/cgal/implicit_triangulation_02.cc
Labels: Tests, External libraries, ready to test

#13934 Arkode linear jacobians
  tests/sundials/arkode_03.cc
  tests/sundials/arkode_03.output
  tests/sundials/arkode_03_in.prm
  tests/sundials/arkode_04.cc
  tests/sundials/arkode_05.cc
  tests/sundials/arkode_06.cc
  tests/sundials/arkode_07.cc
Labels: Tests, External libraries, ready to test

#13939 test distributed_grids/large_vtu_01: fix test
  tests/distributed_grids/large_vtu_01.cc
  tests/distributed_grids/large_vtu_01.with_p4est=true.with_zlib=on.mpirun=4.output
  tests/distributed_grids/large_vtu_01.with_p4est=true.with_zlib=on.mpirun=4.output.big
Labels: Reviewed and ready to merge, Tests, ready to test

#13941 test ginkgo/solver: adjust tolerances
  tests/ginkgo/solver.cc
  tests/ginkgo/solver.output
Labels: Tests

#13929 Move wrappers for CGAL points into header
  include/deal.II/cgal/point_conversion.h
  include/deal.II/cgal/surface_mesh.h
  include/deal.II/cgal/utilities.h
Labels: ready for review, ready to test

#13944 slepc/solver_04: adjust tolerances
  tests/slepc/solve_04.cc
  tests/slepc/solve_04.output
Labels: Tests

#13945 Fix TriaAccessor::is_ghost_on_level for case without MPI
  include/deal.II/grid/tria_accessor.templates.h
  source/grid/tria_accessor.cc
  tests/multigrid/is_locally_owned_on_level.cc
  tests/multigrid/is_locally_owned_on_level.output
Labels: Bug, Reviewed and ready to merge, Multigrid, Triangulation, ready to test

#13940 tests cgal/* add output variants
  tests/cgal/cgal_surface_mesh_02.cc
  tests/cgal/cgal_surface_mesh_02.output
  tests/cgal/cgal_surface_mesh_03.cc
  tests/cgal/cgal_surface_mesh_03.output
  tests/cgal/cgal_triangulation_06.cc
  tests/cgal/cgal_triangulation_06.output
Labels: Reviewed and ready to merge, Tests

#13950 CMake: use -Wno-misleading-indentation for grid_generator.cc compilation unit
  source/grid/CMakeLists.txt
Labels: ready for review, Build system, Reviewed and ready to merge, ready to test

#13909 Remove lex_faces from matrix-free kernels
  include/deal.II/matrix_free/evaluation_kernels.h
  include/deal.II/matrix_free/tensor_product_kernels.h
Labels: Discussion, Matrix-free, ready to test

#13952 MatrixFree: Fix element-centric loops with different cell geometry compression
  include/deal.II/matrix_free/fe_evaluation.h
  include/deal.II/matrix_free/mapping_info.h
  include/deal.II/matrix_free/mapping_info.templates.h
  tests/matrix_free/compare_faces_by_cells.cc
Labels: Bug, High Priority :warning:, Matrix-free, ready to test

#13932 Move implementation of implicit_function() into .cc file
  include/deal.II/cgal/additional_data.h
  include/deal.II/cgal/triangulation.h
  include/deal.II/cgal/utilities.h
  include/deal.II/grid/grid_generator.h
  source/grid/grid_generator.cc
  source/grid/grid_generator.inst.in
  tests/cgal/implicit_triangulation_01.cc
  tests/cgal/implicit_triangulation_02.cc
Labels: High Priority :warning:, Triangulation, External libraries, ready to test

#13954 GridGenerator: put CGAL implementation into own compilation unit
  source/grid/CMakeLists.txt
  source/grid/grid_generator.cc
  source/grid/grid_generator.inst.in
  source/grid/grid_generator_cgal.cc
  source/grid/grid_generator_cgal.inst.in
Labels: High Priority :warning:, Compiler, ready to test

#13953 Replace 2*dim
  include/deal.II/matrix_free/mapping_info.h
Labels: ready to test

#13956 test cgal/cgal_surface_mesh_01: Update output
  tests/cgal/cgal_surface_mesh_01.output
Labels: Tests, ready to test

#13955 CGAL: fix header includes
  include/deal.II/cgal/additional_data.h
  include/deal.II/cgal/utilities.h
Labels: Bug, ready to test

#13767 Create a Triangulation<3> from a Triangulation<2,3>
  include/deal.II/grid/grid_generator.h
  source/grid/grid_generator_cgal.cc
  tests/cgal/cgal_triangulation_07.cc
  tests/cgal/cgal_triangulation_07.output
Labels: ready for review, External libraries, ready to test

#13958 precondition.h: switch from Assert to AssertThrow
  include/deal.II/lac/precondition.h
Labels: ready to test

#13963 CMake: Use -Wno-pass-failed for clang
  cmake/setup_compiler_flags_gnu.cmake
Labels: Build system

#13906 Doc/fix update flags h
  doc/doxygen/headers/update_flags.h
Labels: Documentation, Reviewed and ready to merge

#13964 contrib/python_bindings: set PYTHON_EXECUTABLE
  contrib/python-bindings/CMakeLists.txt
Labels: Build system, Reviewed and ready to merge, Tests

#13960 Fix two tests with complex PETSc
  tests/petsc_complex/assemble_01.cc
  tests/petsc_complex/sparse_matrix_01.cc
Labels: Reviewed and ready to merge, Tests, ready to test

#13967 Explicitly template function pointwise_definiteness(..)
  source/non_matching/quadrature_generator.inst.in
Labels: Quadrature, ready to test, Non-matching

#13961 Fix more PETSc complex tests
  tests/simplex/step-17.cc
  tests/simplex/step-18.cc
  tests/simplex/step-40.cc
  tests/simplex/step-40.mpirun=1.with_petsc=true.output
  tests/simplex/step-40.mpirun=4.with_petsc=true.with_metis=true.output
Labels: Tests, ready to test

#13968 Run codespell
  examples/doxygen/step_3_mixed.cc
  examples/step-66/doc/results.dox
  examples/step-70/doc/results.dox
  examples/step-71/step-71.cc
  examples/step-81/doc/intro.dox
  examples/step-82/doc/intro.dox
  examples/step-82/step-82.cc
  include/deal.II/base/mpi.h
  include/deal.II/base/subscriptor.h
  include/deal.II/cgal/utilities.h
  include/deal.II/distributed/tria.h
  include/deal.II/dofs/dof_renumbering.h
  include/deal.II/fe/fe_q_iso_q1.h
  include/deal.II/fe/fe_values.h
  include/deal.II/lac/affine_constraints.templates.h
  include/deal.II/lac/solver_qmrs.h
  include/deal.II/matrix_free/evaluation_kernels.h
  include/deal.II/matrix_free/evaluation_kernels_hanging_nodes.h
  include/deal.II/matrix_free/tools.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
  include/deal.II/multigrid/mg_transfer_matrix_free.h
  include/deal.II/non_matching/quadrature_generator.h
  source/base/polynomials_raviart_thomas.cc
  source/distributed/tria.cc
  source/dofs/dof_handler_policy.cc
  source/fe/fe_simplex_p_bubbles.cc
  source/grid/tria.cc
  source/non_matching/quadrature_generator.cc
Labels: Documentation

#13969 CMake: use full compiler/linker flags for trilinos sanity checks
  cmake/configure/configure_20_trilinos.cmake
Labels: Build system, ready to test

#13971 Remove remaining @author
  doc/developers/writing-documentation.html
  doc/doxygen/headers/exceptions.h
  doc/doxygen/headers/grid.h
  doc/doxygen/headers/manifold.h
  doc/doxygen/headers/parallel.h
  doc/doxygen/headers/petsc.h
  doc/doxygen/headers/physics.h
  doc/doxygen/headers/slepc.h
  doc/doxygen/headers/trilinos.h
Labels: Documentation

#13974 CMake: Use default Kokkos' DefaultNodeType in Tpetra test
  cmake/configure/configure_20_trilinos.cmake
Labels: Build system, ready to test

#13973 CMake: Use deal.II's global index type in Tpetra compatibility test
  cmake/configure/configure_20_trilinos.cmake
Labels: Build system, ready to test

#13975 Fix the MPI window functions with clang.
  include/deal.II/base/aligned_vector.h
Labels: Bug, High Priority :warning:, ready to test

#13916 VT::interpolate_boundary_values() for pyramids and wedges
  include/deal.II/numerics/vector_tools_boundary.templates.h
Labels: ready to test

#13976 Fix generalized support points of FE_RaviartThomasNodal
  source/fe/fe_raviart_thomas_nodal.cc
  tests/fe/fe_data_test.output
  tests/fe/rtn_1.cc
  tests/fe/rtn_1.output
Labels: Finite Element, ready to test

#13979 Fix test
  tests/fe/fe_values_view_25b_nonsymmetric.cc
  tests/fe/fe_values_view_get_function_from_local_dof_values_01.cc
Labels: Tests, ready to test

#13978 Also allow FE_RaviartThomasNodal in other project function
  include/deal.II/numerics/vector_tools_boundary.templates.h
Labels: Finite Element, ready to test

#13889 Minor improvement to the documentation of FE_PolyTensor.
  include/deal.II/fe/fe_poly_tensor.h
Labels: Finite Element, ready to test

#13986 Fix MatrixFree::get_face_category()
  include/deal.II/matrix_free/matrix_free.h
Labels: Bug, Reviewed and ready to merge, Matrix-free, ready to test

#13988 Fix PETSc complex tests
  tests/petsc_complex/assemble_01.mpirun=1.output
  tests/simplex/step-17.cc
  tests/simplex/step-18.cc
  tests/simplex/step-18.mpirun=1.with_petsc=true.with_petsc_with_complex=false.output
Labels: Tests

#13995 switch all DEAL_II_DEPRECATED_EARLY to DEAL_II_DEPRECATED
  include/deal.II/base/array_view.h
  include/deal.II/base/mpi.h
  include/deal.II/base/symmetric_tensor.h
  include/deal.II/base/tensor.h
  include/deal.II/distributed/fully_distributed_tria.h
  include/deal.II/distributed/tria.h
  include/deal.II/distributed/tria_base.h
  include/deal.II/fe/mapping_q.h
  include/deal.II/grid/grid_tools.h
  include/deal.II/grid/tria.h
  include/deal.II/matrix_free/fe_evaluation.h
  include/deal.II/particles/particle_accessor.h
  include/deal.II/particles/particle_handler.h
  include/deal.II/physics/transformations.h
Labels: Reviewed and ready to merge

#13989 Tests for hanging nodes mf RaviartThomas
  tests/matrix_free/matrix_vector_rt_03.cc
  tests/matrix_free/matrix_vector_rt_03.output
  tests/matrix_free/matrix_vector_rt_common.h
  tests/matrix_free/matrix_vector_rt_face_03.cc
  tests/matrix_free/matrix_vector_rt_face_03.output
  tests/matrix_free/matrix_vector_rt_face_common.h
Labels: ready to test

#13873 MatrixFree: Use faster data structure to detect parents of cells
  include/deal.II/matrix_free/matrix_free.templates.h
Labels: Matrix-free, ready to test

#13946 Simplify access to number of raw objects
  include/deal.II/grid/grid_tools.h
  include/deal.II/grid/tria_objects.h
Labels: Triangulation, ready to test

#14002 Fix failing symengine tests
  tests/symengine/batch_optimizer_09_1.output.symengine-0.9.0
  tests/symengine/sd_common_tests/step-44-sd-quadrature_level.h
Labels: ready to test

#13987 DoFInfo::compute_tight_partitioners for hp
  source/matrix_free/dof_info.cc
Labels: Reviewed and ready to merge, Matrix-free, ready to test

#14006 Fix compilation with clang-13.
  source/grid/grid_generator.cc
Labels: ready to test

#14009 [9.4] Fix compilation with clang-13.
  source/grid/grid_generator.cc
Labels: Release, ready to test

#14005 MatrixFree: improve assert
  source/matrix_free/task_info.cc
Labels: ready to test

#14007 Improve documentation of MF::AD::cell_vectorization_category
  include/deal.II/matrix_free/matrix_free.h
Labels: Documentation

#14010 Can't use ReferenceCells in switch-case.
  tests/simplex/poisson_01.cc
Labels: ready to test

#14011 Can't use ReferenceCells in switch-case.
  source/cgal/surface_mesh.cc
Labels: ready to test

#14012 [9.4] Take over #14010 and #14011
  source/cgal/surface_mesh.cc
  tests/simplex/poisson_01.cc
Labels: Release, ready to test

#14017 Minor text improvements in a tutorial documentation.
  examples/step-23/doc/intro.dox
Labels: Documentation

#14016 Add reference to fast hanging-node algo and global coarsening
  doc/doxygen/references.bib
  include/deal.II/matrix_free/hanging_nodes_internal.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
Labels: Documentation, Reviewed and ready to merge

#14019 MGConstrainedDoFs::clear_user_constraints
  include/deal.II/multigrid/mg_constrained_dofs.h
  tests/multigrid/constrained_dofs_07.cc
  tests/multigrid/constrained_dofs_07.output
Labels: Multigrid, ready to test

#14018 Better describe what FullMatrix is and does.
  include/deal.II/lac/full_matrix.h
Labels: Documentation, ready to test

#14015 Make get_cell_range_category() more consistent with get_cell_category()
  include/deal.II/matrix_free/matrix_free.h
  tests/matrix_free/get_cell_catergory_01.cc
  tests/matrix_free/get_cell_catergory_01.output
Labels: Reviewed and ready to merge, Matrix-free, ready to test

#14013 MatrixFree: allow categorization of ghost cells
  source/matrix_free/task_info.cc
  tests/matrix_free/categorize_ghost_01.cc
  tests/matrix_free/categorize_ghost_01.with_p4est.mpirun=2.output
Labels: Matrix-free, hp, ready to test

#14023 Remove obsolete header file
  include/deal.II/matrix_free/helper_functions.h
  include/deal.II/matrix_free/mapping_info.h
Labels: Matrix-free, ready to test

#14026 Fix warning of gcc-12 with gather_pd/ps instructions
  include/deal.II/base/vectorization.h
Labels: High Priority :warning:, Compiler, SIMD, ready to test

#14030 [9.4] Take over #14029: Work around a GCC-12 warning about array accesses.
  include/deal.II/grid/reference_cell.h
Labels: Release, Miscellaneous, ready to test

#14025 Query ghost index set only once in Partitioner::global_to_local
  include/deal.II/base/partitioner.h
Labels: Parallel distributed, ready to test

#14034 Remove deprecated SparseVanka constructors
  doc/news/changes/incompatibilities/20220622Arndt-1
  include/deal.II/lac/sparse_vanka.h
  include/deal.II/lac/sparse_vanka.templates.h
Labels: ready to test

#14032 Disable HYPRE in the Tvmult test.
  tests/petsc/preconditioner_tvmult_01.cc
  tests/petsc/preconditioner_tvmult_01.with_petsc_with_hypre=true.with_petsc_with_complex=false.mpirun=3.output
Labels: Tests, ready to test

#14035 Get rid of some warnings from defining Threads::new_thread().
  include/deal.II/base/thread_management.h
Labels: Miscellaneous, ready to test

#14033 [9.4] Takeover #14032: Disable HYPRE in the Tvmult test.
  tests/petsc/preconditioner_tvmult_01.cc
  tests/petsc/preconditioner_tvmult_01.with_petsc_with_hypre=true.with_petsc_with_complex=false.mpirun=3.output
Labels: Release, Tests, ready to test

#14036 [9.4] Take over #14035: Get rid of some warnings from defining Threads::new_thread().
  include/deal.II/base/thread_management.h
Labels: Release, Miscellaneous, ready to test

#13991 Auto-detect update_jacobian_grads
  include/deal.II/matrix_free/mapping_info.h
  include/deal.II/matrix_free/mapping_info.templates.h
  include/deal.II/matrix_free/mapping_info_storage.h
  include/deal.II/matrix_free/mapping_info_storage.templates.h
  include/deal.II/matrix_free/matrix_free.templates.h
  tests/matrix_free/matrix_vector_rt_common.h
  tests/matrix_free/matrix_vector_rt_face_common.h
Labels: Matrix-free, ready to test

#14038 DoFTools fix doc typo
  include/deal.II/dofs/dof_tools.h
Labels: Documentation, Reviewed and ready to merge

#13808 Removed hp::DoFHandler.
  doc/news/changes/incompatibilities/20220524FehlingMunch
  include/deal.II/distributed/solution_transfer.h
  include/deal.II/dofs/dof_accessor.h
  include/deal.II/dofs/dof_renumbering.h
  include/deal.II/dofs/dof_tools.h
  include/deal.II/fe/fe.h
  include/deal.II/fe/fe_enriched.h
  include/deal.II/fe/fe_tools.templates.h
  include/deal.II/fe/fe_tools_extrapolate.templates.h
  include/deal.II/fe/fe_tools_interpolate.templates.h
  include/deal.II/fe/mapping_fe_field.h
  include/deal.II/grid/grid_tools.h
  include/deal.II/hp/dof_handler.h
  include/deal.II/matrix_free/matrix_free.h
  include/deal.II/matrix_free/matrix_free.templates.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  include/deal.II/numerics/data_out.h
  include/deal.II/numerics/data_out_dof_data.h
  include/deal.II/numerics/data_out_dof_data.templates.h
  include/deal.II/numerics/data_out_faces.h
  include/deal.II/numerics/data_out_rotation.h
  include/deal.II/numerics/data_out_stack.h
  include/deal.II/numerics/data_postprocessor.h
  include/deal.II/numerics/fe_field_function.h
  include/deal.II/numerics/solution_transfer.h
  source/distributed/solution_transfer.cc
  source/dofs/dof_accessor.cc
  source/dofs/dof_accessor_get.cc
  source/dofs/dof_accessor_set.cc
  source/dofs/dof_renumbering.cc
  source/dofs/dof_tools.cc
  source/fe/mapping_fe_field.cc
  source/grid/grid_tools_dof_handlers.cc
  source/numerics/data_out.cc
  source/numerics/data_out_stack.cc
  source/numerics/fe_field_function.cc
  source/numerics/smoothness_estimator.cc
  tests/bits/periodicity_06.cc
  tests/bits/periodicity_07.cc
  tests/data_out/data_out_faces_postprocessor_scalar_02.cc
  tests/data_out/data_out_faces_postprocessor_vector_02.cc
  tests/data_out/data_out_postprocessor_scalar_02.cc
  tests/data_out/data_out_postprocessor_vector_02.cc
  tests/data_out/data_out_rotation_postprocessor_scalar_02.cc
  tests/dofs/count_dofs_on_patch.cc
  tests/dofs/extract_dofs_by_component_02_mg.cc
  tests/dofs/get_dofs_on_patch.cc
  tests/matrix_free/matrix_vector_hp_no_template.cc
  tests/mpi/periodicity_02.cc
  tests/mpi/periodicity_03.cc
  tests/mpi/periodicity_04.cc
  tests/mpi/periodicity_06.cc
  tests/mpi/periodicity_07.cc
Labels: Epic, hp, ready to test

#13921 Use shortcut when determining isotropic refinement cases
  include/deal.II/base/geometry_info.h
Labels: Triangulation, ready to test

#13922 Speed up evaluation of some ReferenceCell operations
  include/deal.II/grid/reference_cell.h
Labels: Triangulation, ready to test

#13931 Use pre-compiled structdim for access to TriaObjects in Accessor
  include/deal.II/grid/tria_accessor.templates.h
Labels: Triangulation, ready to test

#14021 Restructure inline functions of IndexSet
  include/deal.II/base/index_set.h
  source/base/index_set.cc
Labels: Miscellaneous, ready to test

#14022 Reduce header inclusions of index_set.h in evaluation_kernels
  include/deal.II/base/mpi.h
  include/deal.II/matrix_free/dof_info.h
  include/deal.II/matrix_free/fe_evaluation_data.h
  include/deal.II/matrix_free/task_info.h
  include/deal.II/matrix_free/vector_data_exchange.h
  source/base/mpi.cc
  source/matrix_free/vector_data_exchange.cc
Labels: Miscellaneous, ready to test

#13853 Avoid some uses of Triangulation::user_flags
  source/dofs/dof_handler.cc
  source/dofs/dof_handler_policy.cc
  source/grid/tria_description.cc
  source/multigrid/mg_tools.cc
Labels: DoFs, ready to test

#13947 DoFAccessor: Run process_dof_indices only on FE entities with DoFs
  include/deal.II/dofs/dof_accessor.templates.h
Labels: DoFs, ready to test

#14024 Do not add locally owned dofs to ghost set during construction
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Multigrid, ready to test

#14042 Slightly reword DataOutResample's documentation.
  include/deal.II/numerics/data_out_resample.h
Labels: Documentation

#14046 Mark two tests that depend on p4est as such.
  tests/bits/point_value_03.with_p4est=on.mpirun=1.output
  tests/bits/point_value_03.with_p4est=on.mpirun=7.output
Labels: Tests, External libraries, ready to test

#14040 Remove deprecated DoFTools functions
  tests/mpi/muelu_periodicity.cc
Labels: ready to test

#14047 Remove DoFHandler's initialize and set_fe
  doc/news/changes/incompatibilities/20220624Arndt-2
  include/deal.II/dofs/dof_handler.h
  source/dofs/dof_handler.cc
Labels: ready to test

#14045 Include index_set.h in two more tests.
  tests/base/mpi_create_partitioning_01.cc
  tests/base/mpi_evenly_distributed_partitioning_01.cc
Labels: Reviewed and ready to merge, Tests, ready to test

#14044 step-81: Mention example step in the tutorial lists
  doc/doxygen/tutorial/tutorial.h.in
  examples/step-81/doc/kind
Labels: Documentation, Tutorials

#14043 Remove deprecated QProjector member functions
  doc/news/changes/incompatibilities/20220624Arndt
  include/deal.II/base/qprojector.h
  include/deal.II/numerics/vector_tools_boundary.templates.h
  source/base/qprojector.cc
  source/grid/grid_out.cc
  tests/base/qprojector.cc
  tests/base/quadrature_sorted_test.cc
  tests/base/quadrature_test.cc
  tests/fe/fe_support_points_common.h
  tests/fe/rt_normal_02.cc
Labels: ready to test

#14054 Remove trailing const
  include/deal.II/matrix_free/tools.h
Labels: Reviewed and ready to merge, ready to test

#13842 FESystem::build_interface_constraints() for wedges/pyramids
  source/fe/fe.cc
  source/fe/fe_system.cc
Labels: Finite Element, ready to test, simplices

#14014 Add test (MF+DG+hp)
  tests/matrix_free/poisson_dg_hp.cc
  tests/matrix_free/poisson_dg_hp.with_p4est=true.mpirun=1.output
  tests/matrix_free/poisson_dg_hp.with_p4est=true.mpirun=2.output
Labels: Reviewed and ready to merge, Matrix-free, hp, ready to test

#14058 Fix a few MatrixFree tests
  tests/mappings/mapping_q_eulerian_08.cc
  tests/mappings/mapping_q_eulerian_14.cc
  tests/matrix_free/pre_and_post_loops_05.cc
  tests/matrix_free/stokes_computation.cc
  tests/numerics/project_parallel_qpmf_common.h
Labels: Tests, ready to test

#14049 fix a warning when compiling with cuda support
  include/deal.II/matrix_free/cuda_matrix_free.templates.h
Labels: GPU

#14050 User projects: Make sure that CMAKE_CUDA_HOST_COMPILER is set.
  cmake/macros/macro_deal_ii_initialize_cached_variables.cmake
Labels: Build system, GPU, Compiler

#14060 Remove deprecated header file lac/parallel_block_vector.h
  doc/news/changes/incompatibilities/20220627Arndt
  include/deal.II/lac/parallel_block_vector.h
Labels: Reviewed and ready to merge, ready to test

#14061 Fix some VectorizedArrayTypes for non-default vectorization
  include/deal.II/matrix_free/fe_evaluation.h
  tests/matrix_free/matrix_vector_stokes_no_vectorization.cc
  tests/matrix_free/matrix_vector_stokes_no_vectorization.output
Labels: Matrix-free, ready to test

#14062 Simplify assertion by AssertIndexRange
  include/deal.II/dofs/dof_objects.h
Labels: DoFs, ready to test

#13930 Speed up computation of cell vertex indices cache
  source/grid/tria.cc
Labels: Triangulation, ready to test

#14067 Speed up ReferenceCell::standard_vs_true_line_orientation
  include/deal.II/grid/reference_cell.h
Labels: Triangulation, ready to test

#13866 Clean up PolynomialsRaviartThomas
  include/deal.II/base/polynomials_raviart_thomas.h
  include/deal.II/fe/fe_raviart_thomas.h
  include/deal.II/matrix_free/shape_info.templates.h
  source/base/polynomials_raviart_thomas.cc
  source/fe/fe_raviart_thomas.cc
  source/fe/fe_raviart_thomas_nodal.cc
  tests/base/polynomials_rt.output
  tests/base/polynomials_rt_bubbles.output
  tests/base/polynomials_tensor.output
Labels: Finite Element, ready to test

#14051 DoFHandlerPolicy: Speed up function renumber_face_mg_dofs
  source/dofs/dof_handler_policy.cc
Labels: Multigrid, DoFs, ready to test

#14020 Avoid unnecessary locally_relevant_dofs in mg_transfer_internal
  source/multigrid/mg_transfer_internal.cc
Labels: Multigrid, ready to test

#13951 MatrixFree: Simplify some code in initialization of DoF indices
  include/deal.II/matrix_free/matrix_free.templates.h
Labels: Matrix-free, ready to test

#14057 Fix bug in MatrixFree::reinit for MG levels with empty process
  include/deal.II/matrix_free/matrix_free.templates.h
  tests/matrix_free/reinit_matrix_free_mg.cc
  tests/matrix_free/reinit_matrix_free_mg.with_p4est=ture.mpirun=17.output
Labels: Bug, Matrix-free, ready to test

#14074 Add MGTransferGlobalCoarsening::min_level() and max_level()
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
Labels: Multigrid, ready to test

#14075 MGTransferBlockMatrixFree: allow to copy form/to other type of block vector
  include/deal.II/multigrid/mg_transfer_matrix_free.h
Labels: Multigrid, ready to test

#14077 Fix warning about possibly uninitialized variables
  include/deal.II/grid/tria_accessor.templates.h
Labels: Reviewed and ready to merge, DoFs, ready to test

#14070 Remove CellId::to_cell
  doc/news/changes/incompatibilities/20220628Arndt
  include/deal.II/grid/cell_id.h
  source/grid/cell_id.cc
  source/grid/cell_id.inst.in
  tests/distributed_grids/refine_periodic_02.cc
Labels: Reviewed and ready to merge, ready to test

#14079 Fix another matrix-free test case
  tests/matrix_free/stokes_computation.cc
Labels: Tests, ready to test

#14078 Remove remaining deprecations
  doc/news/changes/incompatibilities/20220629Arndt
  include/deal.II/base/quadrature_lib.h
  include/deal.II/fe/fe_tools.templates.h
  include/deal.II/grid/reference_cell.h
  include/deal.II/particles/particle_handler.h
  include/deal.II/sundials/arkode.h
  source/grid/manifold_lib.cc
  source/sundials/arkode.cc
  tests/bits/point_value_03.cc
  tests/matrix_free/tensor_product_evaluate_01.cc
  tests/matrix_free/tensor_product_evaluate_02.cc
  tests/matrix_free/tensor_product_evaluate_03.cc
  tests/matrix_free/tensor_product_evaluate_04.cc
  tests/matrix_free/tensor_product_evaluate_05.cc
  tests/matrix_free/tensor_product_evaluate_06.cc
Labels: ready to test
