Repository dealii/dealii, pull requests merged in 2022-04, with the labels that each got.

#13587 Provide a proper reference.
  doc/doxygen/references.bib
  include/deal.II/fe/fe_q_dg0.h
Labels: Documentation

#13589 LA::d::V:reinit() add check
  include/deal.II/lac/la_parallel_vector.templates.h
Labels: Parallel distributed, ready to test

#13579 Allow loading triangular meshes from Gmsh with some cells inverted
  source/grid/grid_in.cc
  source/grid/grid_tools.cc
  source/grid/grid_tools_nontemplates.cc
  tests/grid/grid_in_gmsh_03.cc
  tests/grid/grid_in_gmsh_03.geo
  tests/grid/grid_in_gmsh_03.msh
  tests/grid/grid_in_gmsh_03.output
Labels: Enhancement, Reviewed and ready to merge, ready to test, simplices

#13565 Add wrappers for ArborX::Sphere
  doc/news/changes/minor/20220311Turcksin
  include/deal.II/arborx/access_traits.h
  source/arborx/access_traits.cc
  source/arborx/access_traits.inst.in
  tests/arborx/sphere_intersect.cc
  tests/arborx/sphere_intersect.output
  tests/arborx/sphere_nearest.cc
  tests/arborx/sphere_nearest.output
Labels: Reviewed and ready to merge, ready to test

#13547 Add RPE::all_points_found() and ::point_found()
  include/deal.II/base/mpi_remote_point_evaluation.h
  include/deal.II/numerics/vector_tools_evaluate.h
  source/base/mpi_remote_point_evaluation.cc
Labels: Parallel distributed, ready to test

#13536 Nodal renumbering
  doc/news/changes/major/20220312DavidWells
  include/deal.II/dofs/dof_renumbering.h
  source/dofs/dof_renumbering.cc
  source/dofs/dof_renumbering.inst.in
  tests/dofs/nodal_renumbering_01.cc
  tests/dofs/nodal_renumbering_01.mpirun=2.with_p4est=true.output
  tests/dofs/nodal_renumbering_01.mpirun=3.with_p4est=true.output
  tests/dofs/nodal_renumbering_01.with_p4est=true.output
Labels: Enhancement, DoFs, ready to test

#13583 Minor updates to DataOutFilter.
  include/deal.II/base/data_out_base.h
Labels: Documentation, ready to test

#13594 Update link to wiki in `indent_common.sh`.
  contrib/utilities/indent_common.sh
Labels: Documentation, Infrastructure

#13600 Define Quadrature<0>::SubQuadrature as Quadrature<0>
  include/deal.II/base/quadrature.h
Labels: Reviewed and ready to merge, Quadrature, ready to test

#13601 bug in RemotePointEvaluation::point_found(i) for i=0
  source/base/mpi_remote_point_evaluation.cc
Labels: Bug, Reviewed and ready to merge, Parallel distributed, ready to test

#13597 Specialize NonMatching::FaceQuadratureGenerator in 1D
  include/deal.II/non_matching/quadrature_generator.h
  source/base/quadrature.cc
  source/non_matching/immersed_surface_quadrature.cc
  source/non_matching/quadrature_generator.cc
  tests/non_matching/face_quadrature_generator.cc
  tests/non_matching/face_quadrature_generator.output
  tests/non_matching/immersed_surface_quadrature.cc
  tests/non_matching/immersed_surface_quadrature.output
Labels: ready to test, Non-matching

#13607 Test LA::d::V's shared-memory capability on a Cartesian virtual topology
  tests/lac/distributed_vector_sm.cc
  tests/lac/distributed_vector_sm.mpirun=4.output
Labels: ready to test

#13606 Simplify check for BlockVector
  include/deal.II/matrix_free/fe_evaluation.h
Labels: Matrix-free, ready to test

#13603 Fix MGTransferGlobalCoarsening::interpolate_to_mg()
  include/deal.II/matrix_free/constraint_info.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  tests/multigrid-global-coarsening/interpolate_01.cc
  tests/multigrid-global-coarsening/interpolate_01.with_p4est=true.mpirun=1.output
  tests/multigrid-global-coarsening/interpolate_01.with_p4est=true.mpirun=4.output
Labels: Bug, Reviewed and ready to merge, Multigrid, ready to test

#13609 Added Zenodo DOI for step-75.
  examples/step-75/doc/intro.dox
Labels: Documentation

#13614 fix bug in Assert() macro
  include/deal.II/particles/particle_accessor.h
Labels: Reviewed and ready to merge, ready to test

#13612 fix a release mode warning
  include/deal.II/meshworker/copy_data.h
Labels: ready to test

#13605 Generalize IsBlockVector
  include/deal.II/lac/block_vector_base.h
Labels: ready to test

#13608 Introduce MGTransferBlockMatrixFreeBase
  include/deal.II/multigrid/mg_transfer_matrix_free.h
  source/multigrid/mg_transfer_matrix_free.cc
  source/multigrid/mg_transfer_matrix_free.inst.in
Labels: Multigrid, ready to test

#13604 RPE: refactor determination of unique mapping and all points found
  include/deal.II/base/mpi_remote_point_evaluation.h
  source/base/mpi_remote_point_evaluation.cc
  tests/remote_point_evaluation/mapping_04.cc
  tests/remote_point_evaluation/mapping_04.with_p4est=true.mpirun=2.output
Labels: Parallel distributed, ready to test, Non-matching

#13621 Make DoFRenumbering::support_point_wise() about twice as fast.
  source/dofs/dof_renumbering.cc
  tests/dofs/nodal_renumbering_01.mpirun=2.with_p4est=true.debug.output
  tests/dofs/nodal_renumbering_01.mpirun=2.with_p4est=true.release.output
  tests/dofs/nodal_renumbering_01.mpirun=3.with_p4est=true.debug.output
  tests/dofs/nodal_renumbering_01.mpirun=3.with_p4est=true.release.output
  tests/dofs/nodal_renumbering_01.with_p4est=true.debug.output
  tests/dofs/nodal_renumbering_01.with_p4est=true.release.output
Labels: Enhancement, DoFs, ready to test

#13617 Using uint64_t as node variables for hdf5 output
  source/base/data_out_base.cc
Labels: ready to test

#13629 Fix typo in variable name
  include/deal.II/matrix_free/dof_info.h
Labels: Matrix-free, ready to test

#13341 Add iota views to FEEval
  doc/news/changes/minor/20220206Munch
  include/deal.II/matrix_free/fe_evaluation.h
  include/deal.II/matrix_free/fe_evaluation_data.h
  tests/matrix_free/ecl_02.cc
Labels: ready to test

#13573 Add functions to MGTools
  include/deal.II/multigrid/mg_tools.h
  source/multigrid/mg_tools.cc
  source/multigrid/mg_tools.inst.in
  tests/multigrid/mg_stats_01.cc
  tests/multigrid/mg_stats_01.with_p4est=true.mpirun=3.output
Labels: Multigrid, ready to test

#13615 Quadrature generator with discrete levelset
  include/deal.II/non_matching/fe_values.h
  include/deal.II/non_matching/quadrature_generator.h
  source/non_matching/fe_values.cc
  source/non_matching/fe_values.inst.in
  source/non_matching/quadrature_generator.cc
  source/non_matching/quadrature_generator.inst.in
  tests/non_matching/discrete_quadrature_generator.cc
  tests/non_matching/discrete_quadrature_generator.output
Labels: ready to test, Non-matching

#13610 FEInterfaceValues::get_jump/average_*_function_values
  doc/news/changes/minor/20220411JiaqiZhang
  examples/step-74/step-74.cc
  include/deal.II/fe/fe_interface_values.h
  tests/feinterface/fe_interface_values_10.cc
  tests/feinterface/fe_interface_values_10.output
  tests/simplex/step-74.cc
Labels: ready to test

#13634 Remove parameter use_fast_hanging_node_algorithm from MF
  include/deal.II/matrix_free/matrix_free.h
  include/deal.II/matrix_free/matrix_free.templates.h
  tests/matrix_free/mixed_mesh_hn_algorithm_01.cc
  tests/matrix_free/mixed_mesh_hn_algorithm_01.output
Labels: Matrix-free, ready to test

#13626 Changes to XDMFEntry to use uint64_t data types
  include/deal.II/base/data_out_base.h
  source/base/data_out_base.cc
Labels: ready to test

#13636 Simplify MGTransferBlockMatrixFreeBase::copy_to_mg()
  include/deal.II/multigrid/mg_transfer_matrix_free.h
Labels: Multigrid, ready to test

#13647 Add function to simplex docs.
  include/deal.II/grid/grid_generator.h
Labels: Documentation

#13650 Remove unnecessary include.
  tests/dofs/nodal_renumbering_01.cc
Labels: ready to test

#13652 Instantiate make_periodicity_constraints for all scalar numbers
  source/dofs/dof_tools_constraints.cc
  source/dofs/dof_tools_constraints.inst.in
Labels: DoFs, ready to test

#13655 Update documentation in DataOutFaces.
  include/deal.II/numerics/data_out_faces.h
Labels: Reviewed and ready to merge, ready to test

#13625 Add enable_abort_on_exception
  doc/news/changes/minor/20220420PasqualeAfrica
  include/deal.II/base/exceptions.h
  source/base/exceptions.cc
Labels: Discussion, Reviewed and ready to merge, ready to test

#13564 Provide a count_cycles() function.
  tests/performance/instrumentation_step_3_count_cycles.cc
  tests/performance/instrumentation_step_3_count_cycles.with_valgrind=true.threads=1.release.run_only
  tests/performance/valgrind_instrumentation.h
Labels: ready to test

#13658 Assert that a method was choosen in the time stepping methods.
  include/deal.II/base/time_stepping.h
  include/deal.II/base/time_stepping.templates.h
Labels: ready to test

#13654 Ghost particle property pool breakage
  source/particles/particle_handler.cc
  tests/particles/particle_handler_22.cc
  tests/particles/particle_handler_22.with_p4est=true.mpirun=2.output
Labels: Reviewed and ready to merge, Particles, ready to test
