Repository dealii/dealii, pull requests merged in 2023-08, with the labels that each got.

#15812 Add constrained entries to partitioner_coarse in NonNestedMG
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  tests/multigrid-global-coarsening/non_nested_multigrid_04.cc
  tests/multigrid-global-coarsening/non_nested_multigrid_04.with_p4est=true.mpirun=1.output
  tests/multigrid-global-coarsening/non_nested_multigrid_04.with_p4est=true.mpirun=4.output
Labels: Multigrid, ready to test

#15808 Use Cache::get_vertex_to_cell_map() in GT::find_all_locally_owned_act…
  include/deal.II/grid/grid_tools.h
  source/grid/grid_tools.cc
  source/grid/grid_tools_dof_handlers.cc
  source/grid/grid_tools_dof_handlers.inst.in
Labels: Reviewed and ready to merge, ready to test

#15811 GridTools::find_active_cell_around_point() and find_all_active_cells_around_point() for simplices
  doc/news/changes/minor/20230801Munch2
  source/grid/grid_tools.cc
  source/grid/grid_tools_dof_handlers.cc
  tests/remote_point_evaluation/find_all_active_cells_around_point_01.cc
  tests/remote_point_evaluation/find_all_active_cells_around_point_01.output
Labels: ready to test

#15802 Adjust expectations in a GridTools::get_coarse_mesh_description().
  source/grid/grid_tools.cc
Labels: ready to test

#15822 Fix test
  tests/remote_point_evaluation/find_all_active_cells_around_point_01.cc
Labels: ready to test

#15826 Fix a build warning
  include/deal.II/base/mpi_noncontiguous_partitioner.templates.h
Labels: Reviewed and ready to merge, ready to test

#15805 Added gradient() evaluation to VectorFunctionFromTensorFunction
  doc/news/changes/minor/20230730AbbasBallout
  include/deal.II/base/function.h
  include/deal.II/base/function.templates.h
  tests/base/functions_08_gradient.cc
  tests/base/functions_08_gradient.output
Labels: ready to test

#15832 Avoid memory allocations in step 68
  examples/step-68/step-68.cc
  tests/performance/timing_step_68.cc
Labels: ready to test

#15829 Split fe_values.h and fe_values.cc into three files each.
  include/deal.II/fe/fe_values.h
  include/deal.II/fe/fe_values_base.h
  include/deal.II/fe/fe_values_views.h
  source/fe/CMakeLists.txt
  source/fe/fe_values.cc
  source/fe/fe_values.inst.in
  source/fe/fe_values_base.cc
  source/fe/fe_values_base.inst.in
  source/fe/fe_values_views.cc
  source/fe/fe_values_views.inst.in
Labels: Miscellaneous, ready to test

#15785 PETScWrappers::TimeStepper support resizing while solving
  include/deal.II/lac/petsc_compatibility.h
  include/deal.II/lac/petsc_ts.h
  include/deal.II/lac/petsc_ts.templates.h
  source/lac/petsc_compatibility.cc
  tests/petsc/petsc_ts_03.cc
  tests/petsc/petsc_ts_03.output
Labels: ready for review, ready to test

#15841 MGTwoLevelTransfer: remove temporal vector in compute_weights()
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Multigrid, ready to test

#15816 Introduce Triangulation::contains_cell()
  doc/news/changes/minor/20230801Munch
  include/deal.II/grid/tria.h
  source/distributed/fully_distributed_tria.cc
  source/grid/tria.cc
Labels: ready to test

#15801 Make GridGenerator::hyper_cube_with_cylindrical_hole<2>() more robust.
  source/grid/grid_generator.cc
  tests/grid/grid_generator_plate_with_a_hole_4.cc
Labels: ready to test

#15787 Require PETSc to be configured with MPI support
  cmake/configure/configure_20_petsc.cmake
  doc/news/changes/incompatibilities/20230724DanielArndt
  include/deal.II/base/config.h.in
  include/deal.II/base/mpi_stub.h
  source/lac/petsc_communication_pattern.cc
  source/lac/petsc_matrix_base.cc
  source/lac/petsc_parallel_vector.cc
  source/lac/petsc_vector_base.cc
  tests/lac/utilities_01.with_petsc=true.with_petsc_with_complex=false.output
  tests/lac/vector_type_traits_is_serial_03.with_petsc=true.output
  tests/petsc/different_matrix_preconditioner.with_petsc_with_hypre=true.output
  tests/petsc/reinit_preconditioner_02.with_petsc_with_hypre=true.with_64bit_indices=off.output
  tests/petsc/solver_03_precondition_boomeramg.with_petsc_with_hypre=true.output
  tests/petsc/solver_03_precondition_boomeramg_symmetric.with_petsc_with_hypre=true.output
  tests/petsc/solver_03_precondition_parasails.with_64bit_indices=off.with_petsc_with_hypre=true.output
Labels: ready to test

#15817 Introduce Triangulation::as_dof_handler_level_iterator()
  doc/news/changes/minor/20230801Munch_2
  include/deal.II/grid/tria_accessor.h
  source/grid/tria_accessor.cc
Labels: DoFs, ready to test

#15850 No longer list IWR as the hosting institution.
  doc/doxygen/CMakeLists.txt
  doc/doxygen/scripts/mod_footer.pl.in
Labels: Documentation, Reviewed and ready to merge

#15849 PETScWrappers:Align SNES with TS in comments and Jacobian handling
  include/deal.II/lac/petsc_snes.h
  include/deal.II/lac/petsc_snes.templates.h
  include/deal.II/lac/petsc_ts.templates.h
Labels: Reviewed and ready to merge, ready to test

#15852 Fix compiling with PETSc with complex scalar type
  source/lac/petsc_vector_base.cc
Labels: Reviewed and ready to merge, External libraries, ready to test

#15857 Avoid memory allocation in CellIDTranslator
  include/deal.II/grid/cell_id_translator.h
Labels: Multigrid, Triangulation, ready to test

#15858 MatrixFree hanging nodes: reduce memory allocations for line setup
  include/deal.II/matrix_free/hanging_nodes_internal.h
Labels: Matrix-free, ready to test

#15859 MatrixFree fast hanging node constraints: simplify a check
  include/deal.II/matrix_free/hanging_nodes_internal.h
Labels: Matrix-free, ready to test

#15861 Remove not needed virtual
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
Labels: Multigrid, ready to test

#15864 Making hanging constraints: Reduce number of memory allocations
  include/deal.II/lac/affine_constraints.templates.h
  source/dofs/dof_tools_constraints.cc
Labels: Linear Algebra, DoFs, ready to test

#15862 Fix issue when compiling with HIP
  include/deal.II/base/numbers.h
Labels: Reviewed and ready to merge, ready to test

#15856 [9.5] Fix compiling with PETSc with complex scalar type
  source/lac/petsc_vector_base.cc
Labels: ready to test

#15806 Add NodeVisitor in rtree.h
  doc/news/changes/minor/20230810MarcoFeder
  include/deal.II/numerics/rtree.h
  tests/boost/node_visitor_01.cc
  tests/boost/node_visitor_01.output
  tests/boost/node_visitor_02.cc
  tests/boost/node_visitor_02.output
Labels: Reviewed and ready to merge, ready to test

#15868 Use iterative implementation for Utilities::pow to support Intel GPUs
  include/deal.II/base/utilities.h
Labels: Reviewed and ready to merge, ready to test

#15867 MatrixFree setup: Reduce cost of vector access pattern computation
  include/deal.II/matrix_free/dof_info.templates.h
Labels: Matrix-free, ready to test

#15870 Don't use implementation-reserved double underscores
  include/deal.II/trilinos/nox.templates.h
Labels: Reviewed and ready to merge, ready to test

#15803 NonMatching: Add support for FE_Q_iso_Q1 to MeshClassifier and Discrete(Face)QuadratureGenerator
  include/deal.II/non_matching/immersed_surface_quadrature.h
  include/deal.II/non_matching/quadrature_generator.h
  source/non_matching/immersed_surface_quadrature.cc
  source/non_matching/mesh_classifier.cc
  source/non_matching/quadrature_generator.cc
  tests/non_matching/discrete_quadrature_generator.cc
  tests/non_matching/discrete_quadrature_generator.output
Labels: ready to test

#15866 Matrix-free renumbering: Avoid sorting
  source/dofs/dof_renumbering.cc
Labels: Matrix-free, DoFs, ready to test

#15851 Multiple components in MGTwoLevelTransferNonNested
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  tests/multigrid-global-coarsening/non_nested_transfer_04.cc
  tests/multigrid-global-coarsening/non_nested_transfer_04.with_p4est=true.mpirun=1.output
  tests/multigrid-global-coarsening/non_nested_transfer_04.with_p4est=true.mpirun=2.output
Labels: Multigrid, ready to test

#15874 Fix bug in AffineConstraints::shift
  include/deal.II/lac/affine_constraints.templates.h
  tests/dofs/dof_constraints_12.cc
  tests/dofs/dof_constraints_12.output
  tests/dofs/dof_constraints_13.cc
  tests/dofs/dof_constraints_13.output
Labels: Bug, ready for review, DoFs, ready to test

#15875 SIMD: Allow to switch off vectorized gather/scatter
  cmake/setup_cached_variables.cmake
  doc/news/changes/minor/20230814Kronbichler
  include/deal.II/base/config.h.in
  include/deal.II/base/vectorization.h
Labels: Reviewed and ready to merge, SIMD, ready to test

#15876 Use target_link_options for link options
  cmake/macros/macro_copy_target_properties.cmake
Labels: ready to test

#15878 Modernize a test.
  tests/fe/rt_normal_02.cc
  tests/fe/rt_normal_02.output
Labels: ready to test

#15883 Matrix-free diagonal: Ensure constant loop bounds
  include/deal.II/matrix_free/tools.h
Labels: Reviewed and ready to merge, Matrix-free, ready to test

#15863 Use Kokkos constructs in tensor product kernels when using Kokkos 4.0 or later
  include/deal.II/matrix_free/cuda_tensor_product_kernels.h
Labels: ready to test

#15884 Enable std::unique_ptr in MGSmootherRelaxation
  doc/news/changes/minor/20230816Kronbichler
  include/deal.II/multigrid/mg_smoother.h
Labels: Multigrid, ready to test

#15886 Avoid using deprecated functions in timing_matrix_free_kokkos.cc
  tests/performance/timing_matrix_free_kokkos.cc
Labels: Reviewed and ready to merge, ready to test

#15888 Fix cuda_tensor_product_kernels.h
  include/deal.II/matrix_free/cuda_tensor_product_kernels.h
Labels: ready to test

#15885 Fix notebook: use list of Triangulation in merge_triangulations
  contrib/python-bindings/notebooks/tutorial-1.ipynb
Labels: ready to test

#15889 Use if constexpr in some more places.
  include/deal.II/numerics/data_out_dof_data.templates.h
Labels: Reviewed and ready to merge, ready to test, C++17

#15890 Use a relative tolerance.
  source/grid/tria_description.cc
Labels: Reviewed and ready to merge, ready to test

#15896 Introduce SmartPointer::get()
  include/deal.II/base/smartpointer.h
Labels: ready to test

#15891 Restructure tensor-product kernels via 1d interpolants
  include/deal.II/matrix_free/tensor_product_kernels.h
Labels: Matrix-free, ready to test

#15895 Move the internal FEValuesViews functions into a new file.
  include/deal.II/fe/fe_values_views.h
  include/deal.II/fe/fe_values_views_internal.h
  source/fe/CMakeLists.txt
  source/fe/fe_values_views.cc
  source/fe/fe_values_views_internal.cc
  source/fe/fe_values_views_internal.inst.in
Labels: Miscellaneous, ready to test

#15898 Be terser in specifying default arguments: ComponentMask.
  include/deal.II/dofs/dof_tools.h
  include/deal.II/fe/mapping_fe_field.h
  include/deal.II/multigrid/mg_constrained_dofs.h
  include/deal.II/multigrid/mg_tools.h
  include/deal.II/non_matching/coupling.h
  include/deal.II/numerics/error_estimator.h
  include/deal.II/numerics/point_value_history.h
  include/deal.II/numerics/smoothness_estimator.h
  include/deal.II/numerics/vector_tools_boundary.h
  include/deal.II/numerics/vector_tools_interpolate.h
  include/deal.II/particles/generators.h
  include/deal.II/particles/utilities.h
Labels: Finite Element, ready to test

#15897 CellIDTranslator: make Assert to AssertThrow
  include/deal.II/grid/cell_id_translator.h
Labels: ready to test

#15900 Always inline a new function to restore performance
  include/deal.II/matrix_free/tensor_product_kernels.h
Labels: Matrix-free, ready to test, Performance tester

#15892 Non-nested transfer: add assert
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Multigrid, ready to test

#15908 Standardize on 'const X' instead of 'X const'.
  include/deal.II/base/cuda.h
  include/deal.II/base/partitioner.templates.h
  include/deal.II/base/template_constraints.h
  include/deal.II/fe/fe_tools.templates.h
  include/deal.II/lac/block_vector_base.h
  include/deal.II/lac/petsc_matrix_base.h
  include/deal.II/lac/precondition.h
  include/deal.II/lac/scalapack.templates.h
  include/deal.II/lac/solver_cg.h
  include/deal.II/lac/sparse_matrix_tools.h
  include/deal.II/matrix_free/type_traits.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  include/deal.II/numerics/matrix_creator.templates.h
  include/deal.II/numerics/rtree.h
  include/deal.II/numerics/vector_tools_boundary.templates.h
  source/base/polynomial.cc
  source/distributed/field_transfer.cc
  source/distributed/p4est_wrappers.cc
  source/dofs/dof_accessor_set.cc
  source/grid/grid_generator.cc
  source/grid/grid_tools.cc
  source/numerics/derivative_approximation.cc
  source/particles/generators.cc
  tests/base/graph_coloring_01.cc
  tests/base/graph_coloring_02.cc
  tests/base/graph_coloring_02a.cc
  tests/base/graph_coloring_03.cc
  tests/base/graph_coloring_05.cc
  tests/base/graph_coloring_06.cc
  tests/base/mpi_some_to_some_01.cc
  tests/mappings/mapping_get_vertices_on_face.cc
  tests/matrix_free/matrix_vector_rt_04.cc
  tests/matrix_free/matrix_vector_rt_face_04.cc
  tests/numerics/assemble_matrix_parallel_01.cc
  tests/numerics/assemble_matrix_parallel_02.cc
  tests/numerics/assemble_matrix_parallel_03.cc
  tests/numerics/assemble_matrix_parallel_04.cc
  tests/petsc/assemble_matrix_parallel_01.cc
  tests/trilinos/assemble_matrix_parallel_01.cc
Labels: Reviewed and ready to merge, ready to test

#15807 MGTwoLevelTransfer: specialize setup for FCP and p-mg
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Multigrid, ready to test

#15912 Fix for https://github.com/dealii/dealii/issues/15882
  include/deal.II/lac/petsc_ts.templates.h
Labels: Reviewed and ready to merge, ready to test

#15914 MappingQ: don't require update_JxW_values or update_normal_vectors
  source/fe/mapping_q.cc
Labels: Mapping, ready to test

#15909 Standardize on 'const X' instead of 'X const', part II
  contrib/python-bindings/source/wrappers.cc
  include/deal.II/base/numbers.h
  include/deal.II/base/patterns.h
  include/deal.II/base/time_stepping.templates.h
  include/deal.II/boost_adaptors/bounding_box.h
  include/deal.II/boost_adaptors/point.h
  include/deal.II/fe/fe_tools.templates.h
  include/deal.II/numerics/matrix_creator.templates.h
  source/grid/grid_generator.cc
  source/grid/grid_tools.cc
  source/lac/cuda_solver_direct.cc
  source/lac/cuda_sparse_matrix.cc
  source/lac/vector.cc
  source/numerics/derivative_approximation.cc
  tests/base/time_stepping_01.cc
  tests/base/time_stepping_02.cc
  tests/cuda/solver_02.cc
  tests/cuda/sparse_matrix_01.cc
  tests/grid/grid_generator_open_torus.cc
  tests/grid/grid_tools_aspect_ratio.cc
  tests/lac/sparse_matrix_print.cc
  tests/manifold/transfinite_manifold_10.cc
  tests/mappings/mapping_get_vertices_on_face.cc
  tests/matrix_free/coefficient_eval_device.cc
  tests/matrix_free/matrix_vector_rt_04.cc
  tests/matrix_free/matrix_vector_rt_common.h
  tests/matrix_free/matrix_vector_rt_face_04.cc
  tests/matrix_free/matrix_vector_rt_face_common.h
  tests/particles/properties_01.cc
  tests/particles/properties_02.cc
  tests/remote_point_evaluation/search_adjacent_cells.cc
  tests/tensors/tensor_accessors_01.cc
  tests/trilinos/assemble_matrix_parallel_02.cc
  tests/trilinos/assemble_matrix_parallel_03.cc
  tests/trilinos/assemble_matrix_parallel_04.cc
  tests/trilinos/assemble_matrix_parallel_05.cc
  tests/trilinos/assemble_matrix_parallel_06.cc
  tests/trilinos/assemble_matrix_parallel_07.cc
Labels: ready to test

#15915 Tensor polynomials: Remove nonsensical comments
  include/deal.II/base/polynomials_abf.h
  include/deal.II/base/polynomials_bdm.h
  include/deal.II/base/polynomials_bernardi_raugel.h
  include/deal.II/base/polynomials_nedelec.h
  include/deal.II/base/polynomials_raviart_thomas.h
  include/deal.II/base/polynomials_rt_bubbles.h
  include/deal.II/base/tensor_polynomials_base.h
Labels: Documentation

#15918 step-75: enable pseudo-3d solution
  examples/step-75/step-75.cc
Labels: Reviewed and ready to merge, Tutorials, ready to test

#15905 MatrixFree ShapeInfo: Move some code to UnivariateShapeData
  include/deal.II/matrix_free/shape_info.h
  include/deal.II/matrix_free/shape_info.templates.h
Labels: Matrix-free, ready to test

#15913 Matrix-free ShapeInfo: Simplify initialization of Raviart-Thomas
  include/deal.II/matrix_free/shape_info.h
  include/deal.II/matrix_free/shape_info.templates.h
Labels: Matrix-free, ready to test

#15907 Disable eliminate_unrefined_islands in create_geometric_coarsening_sequence().
  doc/news/changes/incompatibilities/20230822Fehling
  doc/news/changes/minor/20230822Fehling
  include/deal.II/grid/tria.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  source/grid/tria.cc
Labels: Multigrid, ready to test

#15906 Add a default constructor to AffineConstraints. (And be more terse about default arguments.)
  include/deal.II/dofs/dof_tools.h
  include/deal.II/lac/affine_constraints.h
  include/deal.II/multigrid/mg_tools.h
  include/deal.II/non_matching/coupling.h
Labels: ready to test

#15843 FEPointEvaluation/MappingInfo for simplices
  include/deal.II/matrix_free/fe_point_evaluation.h
  include/deal.II/non_matching/mapping_info.h
Labels: Discussion, Matrix-free, ready to test

#15924 non_nested_multigrid_04 needs Trilinos
  tests/multigrid-global-coarsening/non_nested_multigrid_04.with_p4est=true.with_trilinos=true.mpirun=1.output
  tests/multigrid-global-coarsening/non_nested_multigrid_04.with_p4est=true.with_trilinos=true.mpirun=4.output
Labels: ready to test

#15899 Expose RemotePointEvaluation parameters in non-nested multigrid
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  tests/multigrid-global-coarsening/non_nested_multigrid_03.cc
  tests/multigrid-global-coarsening/non_nested_transfer_02.cc
Labels: ready to test

#15925 clang-format: Use QualifierAlignment: Left
  .clang-format
  cmake/scripts/expand_instantiations.cc
  examples/.clang-format
Labels: ready to test

#15820 MGTwoLevelTransferNonNested: enable simplex
  doc/news/changes/minor/20230802Munch
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  tests/multigrid-global-coarsening/mg_transfer_a_05.cc
  tests/multigrid-global-coarsening/mg_transfer_a_05.with_p4est=true.mpirun=1.output
  tests/multigrid-global-coarsening/mg_transfer_util.h
  tests/multigrid-global-coarsening/non_nested_multigrid_01.cc
  tests/multigrid-global-coarsening/non_nested_multigrid_01.mpirun=1.with_trilinos=true.output
  tests/multigrid-global-coarsening/non_nested_transfer_05.cc
  tests/multigrid-global-coarsening/non_nested_transfer_05.with_p4est=true.mpirun=1.output
Labels: Multigrid, ready to test

#15926 Remove unnecessary include file
  include/deal.II/fe/mapping_q.h
  source/non_matching/fe_values.cc
Labels: Reviewed and ready to merge, Miscellaneous, ready to test

#15923 VectorizedArray for ARM NEON
  cmake/checks/check_01_cpu_features.cmake
  cmake/setup_write_config.cmake
  doc/news/changes/minor/20230824Bergbauer
  include/deal.II/base/config.h.in
  include/deal.II/base/numbers.h
  include/deal.II/base/vectorization.h
Labels: ready to test

#15928 Introduce IndexSet::is_subset_of().
  doc/news/changes/minor/20230824Bangerth
  include/deal.II/base/index_set.h
  source/base/index_set.cc
  tests/base/index_set_34.cc
  tests/base/index_set_34.output
Labels: ready to test

#15929 Fix indentation CI
  tests/performance/timing_step_37_gc.cc
Labels: High Priority :warning:, ready to test, Performance tester

#15917 Use common code for tensor product polynomial evaluation
  source/base/tensor_product_polynomials.cc
  tests/base/polynomial_test.cc
Labels: Finite Element, ready to test

#15933 Avoid some loops that get never entered
  source/base/tensor_product_polynomials.cc
Labels: Miscellaneous, ready to test

#15935 Remove unnecessary code in a test
  tests/matrix_free/get_functions_common.h
Labels: Matrix-free, Tests, ready to test

#15934 Only use necessary vector_tools include file
  include/deal.II/numerics/smoothness_estimator.h
  source/numerics/smoothness_estimator.cc
Labels: Miscellaneous, ready to test

#15938 Fix assert
  source/base/data_out_base.cc
Labels: ready to test

#15937 Avoid switches in cuda_tensor_product_kernels.h
  include/deal.II/matrix_free/cuda_tensor_product_kernels.h
Labels: GPU, Matrix-free, ready to test

#15939 Fix range-based for loop in performance test
  tests/performance/timing_navier_stokes.cc
Labels: ready to test, Performance tester

#15940 MatrixFree: Use constexpr when selecting evaluator factory
  include/deal.II/matrix_free/fe_evaluation.h
Labels: Matrix-free, ready to test

#15944 Fix some additional warnings
  source/base/tensor_product_polynomials.cc
Labels: Miscellaneous, ready to test

#15941 FEEvaluation: Add some padding between different data fields
  include/deal.II/matrix_free/fe_evaluation_data.h
Labels: Matrix-free, ready to test

#15947 Added one assertion to setup_line_to_cell.
  include/deal.II/matrix_free/hanging_nodes_internal.h
Labels: Matrix-free, ready to test

#15948 Add matrix-free interpolation test for Raviart-Thomas case
  tests/matrix_free/interpolate_rt.cc
  tests/matrix_free/interpolate_rt.output
Labels: Matrix-free, Tests, ready to test

#15949 Also run check for symmetry for fe_degree = 0
  include/deal.II/matrix_free/shape_info.templates.h
Labels: Matrix-free, ready to test

#15950 FEEvaluation for Raviart-Thomas: use fewer multiplications
  include/deal.II/matrix_free/fe_evaluation.h
Labels: Matrix-free, ready to test
