Repository dealii/dealii, pull requests merged in 2023-09, with the labels that each got.

#15953 Add an assertion to IndexSet::compress().
  source/base/index_set.cc
Labels: ready to test

#15932 Add Functions::RayleighKotheVortex
  doc/news/changes/minor/20230820Munch
  examples/step-68/step-68.cc
  include/deal.II/base/function_lib.h
  source/base/function_lib.cc
  tests/performance/timing_step_68.cc
Labels: ready to test

#15958 Simplify some GridTools functions.
  source/grid/grid_tools.cc
Labels: Reviewed and ready to merge, Miscellaneous, ready to test

#15943 Make the p::s::T serialization test use zorder.
  tests/sharedtria/serialization_01.cc
Labels: Tests, ready to test

#15865 reset ghost state in MG_transfer_global_coarsening interpolate
  doc/news/changes/minor/20230904Schussnig
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Multigrid, ready to test

#15960 Update shasum for clang-format mac.
  contrib/utilities/download_clang_format
Labels: Infrastructure

#15954 Another attempt to fix compile warning
  source/base/tensor_product_polynomials.cc
Labels: Miscellaneous, ready to test

#15962 Remove static declaration from a few tests
  tests/matrix_free/matrix_vector_faces_12.cc
  tests/matrix_free/matrix_vector_rt_04.cc
  tests/matrix_free/matrix_vector_rt_face_04.cc
Labels: Reviewed and ready to merge, Tests, ready to test

#15952 Added another test for limit_p_level_difference().
  tests/hp/limit_p_level_difference_05.cc
  tests/hp/limit_p_level_difference_05.output
Labels: Tests, hp adaptivity, ready to test

#15963 FE_PolyTensor: Only request dof_sign_change if necessary
  doc/news/changes/minor/20230907Kronbichler
  source/fe/fe_poly_tensor.cc
  tests/fe/rtn_4.cc
  tests/fe/rtn_4.output
Labels: Reviewed and ready to merge, Finite Element, ready to test

#15969 Add a reference to an article.
  doc/doxygen/references.bib
  include/deal.II/numerics/vector_tools_constraints.h
Labels: Documentation, Reviewed and ready to merge

#15967 Avoid using a deprecated function.
  tests/numerics/project_parallel_common.h
Labels: Reviewed and ready to merge, ready to test

#15968 Allow comparison of IndexSet objects against default-constructed objects.
  doc/news/changes/minor/20230907Bangerth
  include/deal.II/base/index_set.h
  tests/base/index_set_35.cc
  tests/base/index_set_35.output
Labels: Reviewed and ready to merge, ready to test

#15964 Matrix-free for Raviart-Thomas: Test correct interpolation (non-affine)
  tests/matrix_free/interpolate_rt_deformed.cc
  tests/matrix_free/interpolate_rt_deformed.output
Labels: Matrix-free, Tests, ready to test

#15970 Augment error message for clang-format.
  contrib/utilities/indent_common.sh
Labels: Reviewed and ready to merge

#15973 Update the count_lines.sh script.
  contrib/utilities/count_lines.sh
Labels: Infrastructure

#15966 Mark deprecated functions with DEAL_II_DEPRECATE_EARLY.
  include/deal.II/distributed/solution_transfer.h
  include/deal.II/dofs/dof_tools.h
  include/deal.II/fe/fe_tools_extrapolate.templates.h
  include/deal.II/fe/fe_tools_interpolate.templates.h
  include/deal.II/numerics/solution_transfer.h
  source/dofs/dof_renumbering.cc
  source/dofs/dof_tools_constraints.cc
  source/fe/mapping_q_cache.cc
  source/multigrid/mg_transfer_prebuilt.cc
  source/numerics/data_out_resample.cc
Labels: ready to test

#15965 Matrix-free shape info: Generate face orientation table for R-T
  include/deal.II/matrix_free/shape_info.templates.h
  tests/matrix_free/interpolate_rt_ball.cc
  tests/matrix_free/interpolate_rt_ball.output
Labels: Matrix-free, Tests, ready to test

#15977 Fix address boundary error in FEInterfaceValues::get_update_flags()
  include/deal.II/fe/fe_interface_values.h
  tests/feinterface/fe_interface_values_16.cc
  tests/feinterface/fe_interface_values_16.output
Labels: Reviewed and ready to merge, ready to test

#15951 Matrix-free evaluation of Raviart-Thomas: major restructuring
  doc/news/changes/incompatibilities/20230911Kronbichler
  include/deal.II/fe/mapping_q_internal.h
  include/deal.II/matrix_free/evaluation_kernels.h
  include/deal.II/matrix_free/fe_evaluation.h
  include/deal.II/matrix_free/mapping_info.templates.h
  include/deal.II/matrix_free/tensor_product_kernels.h
  tests/matrix_free/matrix_vector_hessians_cells.cc
  tests/performance/timing_navier_stokes.cc
Labels: Reviewed and ready to merge, Matrix-free, ready to test

#15980 Optimize arithmetic operations for Raviart-Thomas elements
  include/deal.II/matrix_free/fe_evaluation.h
Labels: Matrix-free, ready to test

#15981 Matrix-free FEEvaluation: Avoid indirection in call to sum factorization
  include/deal.II/matrix_free/fe_evaluation.h
Labels: Matrix-free, ready to test

#15983 Matrix-free: Split up evaluation_kernels.h into cell and face parts
  include/deal.II/matrix_free/evaluation_kernels.h
  include/deal.II/matrix_free/evaluation_kernels_face.h
  include/deal.II/matrix_free/evaluation_template_face_factory.templates.h
  include/deal.II/matrix_free/evaluation_template_factory_internal.h
  include/deal.II/matrix_free/fe_evaluation.h
  include/deal.II/matrix_free/fe_point_evaluation.h
  include/deal.II/matrix_free/tensor_product_kernels.h
Labels: Matrix-free, ready to test

#15986 Add QGaussRadau quadrature formula + tests
  doc/news/changes/minor/20230915Thiele
  include/deal.II/base/quadrature_lib.h
  source/base/quadrature_lib.cc
  tests/base/quadrature_test.cc
  tests/base/quadrature_test.output
Labels: Reviewed and ready to merge, ready to test

#15972 Implement StridedArrayView
  include/deal.II/base/array_view.h
Labels: Miscellaneous, ready to test

#15993 step-50: mark as matrix-free tutorial
  doc/doxygen/tutorial/tutorial.h.in
Labels: Tutorials

#15415 FE_Hermite objects for solving with Hermite finite elements
  doc/news/changes/major/20230621IvyWeber
  include/deal.II/fe/fe_hermite.h
  include/deal.II/fe/fe_update_flags.h
  include/deal.II/numerics/matrix_creator.templates.h
  source/dofs/dof_tools_sparsity.cc
  source/fe/CMakeLists.txt
  source/fe/fe_hermite.cc
  source/fe/fe_hermite.inst.in
  source/fe/fe_q.cc
  source/fe/fe_q_base.cc
  tests/fe/2d_grid_projection_hermite.cc
  tests/fe/2d_grid_projection_hermite.output
  tests/fe/derivatives.h
  tests/fe/derivatives_hermite.cc
  tests/fe/derivatives_hermite.output
  tests/fe/shapes.h
  tests/fe/shapes_hermite.cc
  tests/fe/shapes_hermite.output
Labels: Finite Element, ready to test

#15789 Pre-compute what's needed for AffineConstraints::distribute().
  include/deal.II/lac/affine_constraints.h
  include/deal.II/lac/affine_constraints.templates.h
Labels: ready to test

#15996 Add alternative interfaces for RemotePointEvaluation::evaluate_and_process and process_and_evaluate
  doc/news/changes/minor/20230917SchreterMunch_2
  include/deal.II/base/mpi_remote_point_evaluation.h
Labels: ready to test

#16000 Fix warning about deprecated implicit conversion.
  source/fe/fe_hermite.cc
Labels: Reviewed and ready to merge, Finite Element, ready to test

#16003 Matrix-free evaluation: Avoid pointer aliasing
  include/deal.II/matrix_free/fe_evaluation.h
  include/deal.II/matrix_free/vector_access_internal.h
Labels: Matrix-free, SIMD, ready to test

#15991 Unify QGaussRadauChebychev and QGaussRadau
  doc/news/changes/minor/20230916Thiele
  include/deal.II/base/quadrature_lib.h
  source/base/quadrature_lib.cc
  tests/base/quadrature_chebyshev.cc
Labels: Miscellaneous, ready to test

#16009 Simplify code slightly.
  include/deal.II/lac/solver_gmres.h
Labels: Reviewed and ready to merge, ready to test

#15971 Optimize FEPointEvaluation/NM::MappingInfo
  include/deal.II/base/derivative_form.h
  include/deal.II/base/floating_point_comparator.h
  include/deal.II/matrix_free/fe_point_evaluation.h
  include/deal.II/matrix_free/tensor_product_kernels.h
  include/deal.II/non_matching/mapping_info.h
Labels: Reviewed and ready to merge, Matrix-free, ready to test

#16016 Split building docker images to two separate workers.
  .github/workflows/docker.yml
Labels: Infrastructure

#15974 Implement AlignedVector::shrink_to_fit()
  doc/news/changes/minor/20230914Bergbauer
  include/deal.II/base/aligned_vector.h
  tests/base/aligned_vector_01.cc
  tests/base/aligned_vector_01.output
Labels: Miscellaneous, ready to test

#16010 Assert that AffineConstraints got index sets when running in parallel.
  include/deal.II/lac/affine_constraints.templates.h
  tests/gla/block_vec_02.cc
  tests/gla/vec_03.cc
  tests/hp/field_transfer_05.cc
  tests/lac/linear_operator_12.cc
  tests/lac/linear_operator_12a.cc
  tests/mpi/fe_tools_extrapolate_common.h
  tests/mpi/hp_integrate_difference.cc
  tests/mpi/interpolate_04.cc
  tests/mpi/multigrid_adaptive.cc
  tests/mpi/multigrid_uniform.cc
  tests/mpi/step-37.cc
  tests/multigrid-global-coarsening/mg_data_out_05.cc
  tests/multigrid-global-coarsening/mg_transfer_p_01.cc
  tests/multigrid-global-coarsening/mg_transfer_p_02.cc
  tests/multigrid-global-coarsening/mg_transfer_p_03.cc
  tests/multigrid-global-coarsening/mg_transfer_p_04.cc
  tests/multigrid-global-coarsening/mg_transfer_p_05.cc
  tests/multigrid-global-coarsening/mg_transfer_p_06.cc
  tests/multigrid-global-coarsening/mg_transfer_util.h
  tests/multigrid/mg_data_out_05.cc
  tests/remote_point_evaluation/vector_tools_evaluate_at_points_02.cc
  tests/simplex/step-67.cc
  tests/trilinos/direct_solver_3.cc
Labels: Linear Algebra, ready to test

#16017 github-windows: only create archive if on master.
  .github/workflows/windows.yml
Labels: Infrastructure

#16019 Remove unused variables.
  tests/lac/linear_operator_12.cc
  tests/lac/linear_operator_12a.cc
Labels: Reviewed and ready to merge, ready to test

#16020 Improve assert message for non-matching reference cell types
  include/deal.II/dofs/dof_accessor.templates.h
  include/deal.II/grid/reference_cell.h
  source/base/data_out_base.cc
Labels: ready to test

#16021 Improve cuthill mckee
  doc/news/changes/minor/20230920Kronbichler
  source/lac/sparsity_tools.cc
Labels: Linear Algebra, DoFs, ready to test

#16018 Fix uninitialized warning
  include/deal.II/matrix_free/fe_point_evaluation.h
Labels: Reviewed and ready to merge, Matrix-free, ready to test

#16025 NonMatching::MappingInfo: Shrink compressed vectors
  include/deal.II/non_matching/mapping_info.h
Labels: Matrix-free, ready to test

#16027 Fix compiling fe_tools_extrapolate tests without PETSc
  tests/mpi/fe_tools_extrapolate_common.h
Labels: Finite Element, ready to test

#16033 Simplify step-48 a bit.
  examples/step-48/step-48.cc
Labels: Reviewed and ready to merge, Tutorials, ready to test

#16032 Avoid deprecated AffineConstraints functions in the tutorials.
  examples/step-16/step-16.cc
  examples/step-32/step-32.cc
  examples/step-37/step-37.cc
  examples/step-40/step-40.cc
  examples/step-42/step-42.cc
  examples/step-45/step-45.cc
  examples/step-48/step-48.cc
  examples/step-50/step-50.cc
  examples/step-55/step-55.cc
  examples/step-63/step-63.cc
  examples/step-64/step-64.cc
  examples/step-66/step-66.cc
  examples/step-70/step-70.cc
  examples/step-75/step-75.cc
Labels: ready to test

#16034 Avoid use of old AffineConstraints functions.
  include/deal.II/lac/affine_constraints.h
  include/deal.II/multigrid/mg_constrained_dofs.h
  include/deal.II/numerics/vector_tools_constraints.templates.h
  source/dofs/dof_renumbering.cc
Labels: Linear Algebra, ready to test

#16041 Fix AffineConstraints copy constructor.
  include/deal.II/lac/affine_constraints.h
  tests/mpi/constraints_crash_03.cc
  tests/mpi/constraints_crash_03.mpirun=2.output
Labels: Linear Algebra, ready to test

#16023 Add signals to non nested multigrid
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  tests/multigrid-global-coarsening/events_non_nested.cc
  tests/multigrid-global-coarsening/events_non_nested.mpirun=1.with_trilinos=true.output
Labels: ready to test

#16039 fix AffineConstraints::copy_from
  include/deal.II/lac/affine_constraints.h
  tests/mpi/constraints_crash_01.cc
  tests/mpi/constraints_crash_01.mpirun=1.output
  tests/mpi/constraints_crash_02.cc
  tests/mpi/constraints_crash_02.mpirun=2.output
Labels: Reviewed and ready to merge, Linear Algebra, ready to test

#16037 Fix Assert* not ending with a semicolon
  include/deal.II/base/function.templates.h
  include/deal.II/base/symmetric_tensor.templates.h
  include/deal.II/fe/fe_tools_extrapolate.templates.h
  include/deal.II/integrators/grad_div.h
  include/deal.II/lac/block_matrix_base.h
  include/deal.II/lac/full_matrix.templates.h
  source/base/data_out_base.cc
  source/base/function_signed_distance.cc
  source/base/mpi.cc
  source/base/polynomial.cc
  source/base/table_handler.cc
  source/distributed/repartitioning_policy_tools.cc
  source/distributed/shared_tria.cc
  source/dofs/dof_handler_policy.cc
  source/dofs/dof_tools_constraints.cc
  source/fe/fe_poly_tensor.cc
  source/grid/grid_generator.cc
  source/grid/grid_tools.cc
  source/grid/tria.cc
  source/lac/petsc_vector_base.cc
  source/lac/sparsity_tools.cc
  source/numerics/data_out_faces.cc
  tests/base/point_02.cc
  tests/fe/fe_values_no_mapping.cc
  tests/matrix_free/stokes_computation.cc
  tests/mpi/trilinos_sparse_matrix_03.cc
  tests/multigrid-global-coarsening/stokes_computation.cc
  tests/non_matching/immersed_surface_quadrature.cc
  tests/numerics/no_flux_18.cc
  tests/sharedtria/tria_multigrid_01.cc
  tests/sharedtria/tria_zorder_01.cc
  tests/simplex/q_projection_01.cc
  tests/simplex/simplex_grids.h
Labels: ready to test

#16035 Deprecate AffineConstraints functions taking only one index set.
  include/deal.II/lac/affine_constraints.h
Labels: Linear Algebra, ready to test

#16045 Don't use BuildKit for docker CI
  .github/workflows/docker.yml
Labels: Infrastructure, Reviewed and ready to merge, ready to test

#16047 Docker: Fix driver field.
  .github/workflows/docker.yml
Labels: Infrastructure

#16049 MGTwoLevelTransfer: refine DG check
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  tests/multigrid-global-coarsening/transfer_bug_01.cc
  tests/multigrid-global-coarsening/transfer_bug_01.mpirun=2.output
Labels: Bug, Multigrid, ready to test

#16053 Add an assertion.
  include/deal.II/multigrid/mg_constrained_dofs.h
  source/base/index_set.cc
Labels: ready to test

#16054 Matrix-free kernels: Try to fix Cuda warning
  include/deal.II/matrix_free/evaluation_kernels_face.h
  include/deal.II/matrix_free/tensor_product_kernels.h
Labels: Matrix-free, ready to test

#16060 Docker: Use one process to decrease memory usage.
  contrib/docker/Dockerfile
Labels: Infrastructure

#16059 More assertions in AffineConstraints.
  include/deal.II/lac/affine_constraints.templates.h
Labels: ready to test

#16064 Minor cleanups.
  include/deal.II/multigrid/mg_constrained_dofs.h
Labels: Multigrid, ready to test

#16061 Docker: Use the default driver again.
  .github/workflows/docker.yml
Labels: ready for review, Infrastructure

#16050 MappingDataOnTheFly: make FE_Nothing unique_ptr
  include/deal.II/matrix_free/mapping_data_on_the_fly.h
Labels: Matrix-free, ready to test

#16062 Docker: Build images with different number of jobs.
  .github/workflows/docker.yml
  contrib/docker/Dockerfile
Labels: ready for review, Infrastructure

#16071 Docker: fix order of ARGS in Dockerfile.
  contrib/docker/Dockerfile
Labels: High Priority :warning:, Infrastructure
