Repository dealii/dealii, pull requests merged in 2023-06, with the labels that each got.

#15291 Add changelog entry.
  doc/news/changes/incompatibilities/20230531Bangerth
Labels: Documentation

#15289 TensorProductMatrixSymmetricSum: small modifications
  include/deal.II/lac/tensor_product_matrix.h
  include/deal.II/lac/tensor_product_matrix.templates.h
  source/lac/tensor_product_matrix.inst.in
  tests/lac/tensor_product_matrix_08.cc
Labels: Matrix-free, Linear Algebra, ready to test

#15288 MGTwoLevelTransfer: Clean old vector content in prolongate_add
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  tests/multigrid-global-coarsening/mg_transfer_a_01.cc
  tests/multigrid-global-coarsening/mg_transfer_a_01.with_p4est=true.mpirun=1.output
  tests/multigrid-global-coarsening/mg_transfer_a_01.with_p4est=true.mpirun=2.output
Labels: Multigrid, ready to test

#15287 MappingFEField: Remove update_JxW_values for Piola transform
  source/fe/mapping_fe_field.cc
Labels: Reviewed and ready to merge, Mapping, ready to test

#15281 FEPointEvaluation: Integrate should use JxW
  doc/news/changes/incompatibilities/20230529Bergbauer
  include/deal.II/matrix_free/fe_point_evaluation.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  tests/matrix_free/point_evaluation_01.cc
  tests/matrix_free/point_evaluation_02.cc
  tests/matrix_free/point_evaluation_03.cc
  tests/matrix_free/point_evaluation_04.cc
  tests/matrix_free/point_evaluation_05.cc
  tests/matrix_free/point_evaluation_06.cc
  tests/matrix_free/point_evaluation_07.cc
  tests/matrix_free/point_evaluation_08.cc
  tests/matrix_free/point_evaluation_09.cc
  tests/matrix_free/point_evaluation_10.cc
  tests/matrix_free/point_evaluation_11.cc
  tests/matrix_free/point_evaluation_13.cc
  tests/matrix_free/point_evaluation_14.cc
  tests/matrix_free/point_evaluation_15.cc
  tests/matrix_free/point_evaluation_16.cc
  tests/matrix_free/point_evaluation_17.cc
  tests/matrix_free/point_evaluation_21.cc
  tests/matrix_free/point_evaluation_22.cc
  tests/matrix_free/point_evaluation_23.cc
  tests/matrix_free/point_evaluation_24.cc
  tests/non_matching/mapping_info.cc
  tests/remote_point_evaluation/remote_point_evaluation_01.cc
  tests/remote_point_evaluation/remote_point_evaluation_02.cc
Labels: Matrix-free, ready to test, Non-matching

#15270 Fix warnings when compiling with nvcc_wrapper
  examples/step-47/step-47.cc
  examples/step-7/step-7.cc
  examples/step-85/step-85.cc
  include/deal.II/base/numbers.h
  include/deal.II/base/tensor.h
Labels: ready to test

#15293 Wrap some PETSc documentation lines.
  include/deal.II/lac/petsc_precondition.h
Labels: Documentation, Miscellaneous

#15294 Document that compute_aspect_ratio_of_cells() requires LAPACK.
  include/deal.II/grid/grid_tools.h
  tests/mappings/mapping_q_cache_09.with_lapack=true.output
Labels: Miscellaneous, External libraries, ready to test

#14346 Add process_dofs_vectorized_transpose() variants with constant_offset
  include/deal.II/matrix_free/vector_access_internal.h
Labels: Reviewed and ready to merge, Matrix-free, SIMD, ready to test

#15273 Tensor product kernels: Evaluate integrate values only
  include/deal.II/fe/mapping_q_internal.h
  include/deal.II/matrix_free/fe_point_evaluation.h
  include/deal.II/matrix_free/tensor_product_kernels.h
  source/fe/mapping_q.cc
  source/non_matching/quadrature_generator.cc
  tests/matrix_free/point_evaluation_25.cc
  tests/matrix_free/point_evaluation_25.output
Labels: Matrix-free, ready to test

#14595 Added reinit(partitioners) to LA::distributed::BlockVector.
  doc/news/changes/minor/20221220Fehling
  include/deal.II/lac/la_parallel_block_vector.h
  include/deal.II/lac/la_parallel_block_vector.templates.h
  include/deal.II/lac/la_parallel_vector.h
  tests/mpi/parallel_block_vector_14.cc
  tests/mpi/parallel_block_vector_14.mpirun=10.output
Labels: Linear Algebra, ready to test

#15296 Mark two tests as dependent on p4est.
  tests/petsc/step-77-snes.with_p4est=true.mpirun=1.output
  tests/petsc/step-77-snes.with_p4est=true.mpirun=2.output
Labels: Tests, Miscellaneous, ready to test

#15218 Add a function for projecting points onto reference cells.
  include/deal.II/base/std_cxx17/algorithm.h
  include/deal.II/grid/reference_cell.h
  source/grid/reference_cell.cc
  source/grid/reference_cell.inst.in
  tests/grid/closest_point.cc
  tests/grid/closest_point.output
  tests/grid/reference_cell_type_04.cc
Labels: ready to test, simplices

#15300 Fix matrix_free test.
  tests/matrix_free/point_evaluation_25.cc
Labels: ready to test

#15299 Avoid taking references on temporaries.
  examples/step-70/step-70.cc
Labels: Bug, Reviewed and ready to merge, ready to test

#15312 Hotfix muparser: Fix problem with IntelLLVM finite math
  bundled/muparser_v2_3_3/src/muParserTest.cpp
Labels: External libraries, ready to test

#15311 Fix a comment at the end of an ifdef.
  include/deal.II/base/std_cxx17/algorithm.h
Labels: Reviewed and ready to merge, Miscellaneous

#15307 Fix dim = 1 mesh loading with gmsh.
  source/grid/grid_in.cc
  tests/grid/grid_in_gmsh_04.cc
  tests/grid/grid_in_gmsh_04.msh
  tests/grid/grid_in_gmsh_04.output
Labels: Triangulation, ready to test

#15164 Allow using Trilinos 14.0
  cmake/configure/configure_20_trilinos.cmake
  cmake/modules/FindDEAL_II_TRILINOS.cmake
Labels: ready to test

#15315 Mark loop indices as 'const' where possible.
  examples/step-11/step-11.cc
  examples/step-15/step-15.cc
  examples/step-51/step-51.cc
  examples/step-60/step-60.cc
  examples/step-72/step-72.cc
  examples/step-79/step-79.cc
  examples/step-85/step-85.cc
  include/deal.II/differentiation/ad/ad_helpers.h
  include/deal.II/dofs/dof_accessor.templates.h
  include/deal.II/fe/fe_data.h
  include/deal.II/fe/fe_interface_values.h
  include/deal.II/grid/tria_accessor.templates.h
  include/deal.II/meshworker/dof_info.h
  include/deal.II/meshworker/loop.h
  include/deal.II/non_matching/fe_values.h
  include/deal.II/numerics/vector_tools_boundary.templates.h
  include/deal.II/numerics/vector_tools_rhs.templates.h
  source/base/data_out_base.cc
  source/base/partitioner.cc
  source/base/polynomials_barycentric.cc
  source/base/polynomials_bernardi_raugel.cc
  source/base/qprojector.cc
  source/dofs/dof_renumbering.cc
  source/fe/fe_abf.cc
  source/fe/fe_bernardi_raugel.cc
  source/fe/fe_face.cc
  source/fe/fe_raviart_thomas.cc
  source/grid/grid_generator.cc
  source/grid/grid_in.cc
  source/grid/grid_out.cc
  source/grid/grid_tools.cc
  source/grid/grid_tools_dof_handlers.cc
  source/grid/tria.cc
  source/grid/tria_accessor.cc
  source/matrix_free/task_info.cc
  source/opencascade/utilities.cc
  tests/dofs/n_boundary_dofs_03.cc
  tests/feinterface/fe_interface_values_11.cc
  tests/grid/closest_point.cc
  tests/grid/grid_in_gmsh_04.cc
  tests/grid/grid_tools_cache_04.cc
  tests/grid/reference_cell_type_04.cc
  tests/hp/n_boundary_dofs_03.cc
  tests/matrix_free/parallel_multigrid_interleave.cc
  tests/matrix_free/parallel_multigrid_interleave_renumber.cc
  tests/matrix_free/solver_cg_interleave.cc
  tests/mpi/mg_ghost_layer_periodic.cc
  tests/multigrid/renumbering_05.cc
  tests/multigrid/renumbering_06.cc
  tests/multigrid/renumbering_07.cc
  tests/multigrid/renumbering_08.cc
  tests/non_matching/fe_interface_values.cc
  tests/non_matching/fe_interface_values_non_standard_meshes.cc
  tests/non_matching/mesh_classifier.cc
  tests/performance/timing_mg_glob_coarsen.cc
  tests/performance/timing_navier_stokes.cc
  tests/performance/timing_step_37.cc
Labels: ready to test

#15308 Test icpx instead of icpc
  .github/workflows/linux.yml
  include/deal.II/grid/grid_reordering.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  source/base/qprojector.cc
Labels: ready to test

#15317 Minor updates to step-62.
  examples/step-62/step-62.cc
Labels: ready to test

#15316 Minor updates to step-69.
  examples/step-69/step-69.cc
Labels: ready to test

#15321 Only install new Intel compilers.
  .github/workflows/linux.yml
Labels: Infrastructure

#15322 Prefer numbers::is_nan over std::isnan
  include/deal.II/lac/full_matrix.templates.h
  source/distributed/tria_base.cc
  source/lac/lapack_full_matrix.cc
  source/lac/solver_control.cc
Labels: ready to test

#15318 Make distribute_local_to_global() work with std:: iterators
  doc/news/changes/minor/20230606Heinz
  include/deal.II/dofs/dof_accessor.templates.h
  tests/dofs/dof_accessor_03.cc
  tests/dofs/dof_accessor_03.with_p4est=true.mpirun=1.output
Labels: DoFs, ready to test

#15324 Remove unused mpi_communicator pointer members initialized by temporaries
  examples/step-45/step-45.cc
  tests/mpi/muelu_periodicity.cc
  tests/mpi/periodicity_02.cc
  tests/mpi/periodicity_03.cc
Labels: ready to test

#15325 Fix compiling with Trilinos 14 and Cuda
  cmake/modules/FindDEAL_II_TRILINOS.cmake
  include/deal.II/particles/particle_handler.h
Labels: ready to test

#15326 Fix compiler warning with clang-16
  source/grid/grid_tools.cc
Labels: Compiler, ready to test

#15266 Added support for VTK
  .github/workflows/linux.yml
  cmake/configure/configure_50_vtk.cmake
  cmake/modules/FindDEAL_II_VTK.cmake
  contrib/docker/Dockerfile
  doc/doxygen/options.dox.in
  doc/news/changes/major/20230524Africa
  doc/readme.html
  doc/users/cmake_dealii.html
  doc/users/config.sample
  include/deal.II/base/config.h.in
  include/deal.II/vtk/utilities.h
  tests/vtk/CMakeLists.txt
  tests/vtk/vtk_01.cc
  tests/vtk/vtk_01.output
Labels: External libraries, ready to test

#15292 Add flag to NM::MappingInfo reinit functions
  doc/news/changes/minor/20230601Heinz
  include/deal.II/non_matching/mapping_info.h
  tests/non_matching/mapping_info_03.cc
  tests/non_matching/mapping_info_03.output
Labels: ready to test

#15328 Use ReferenceCell::closest_point() in GridTools::find_active_cell_around_point().
  source/grid/grid_tools_cache.cc
  source/grid/grid_tools_dof_handlers.cc
  tests/simplex/find_active_cell_around_point_01.cc
  tests/simplex/find_active_cell_around_point_01.output
Labels: Reviewed and ready to merge, ready to test, simplices

#15283 Use Kokkos CMake targets
  cmake/macros/macro_copy_target_properties.cmake
  cmake/macros/macro_strip_known_generator_expressions.cmake
  cmake/modules/FindDEAL_II_KOKKOS.cmake
Labels: ready to test

#15335 Fix a typo in step-8
  examples/step-8/step-8.cc
Labels: Reviewed and ready to merge

#15334 ensure distribute_local_to_global() is called with contiguous iterators
  include/deal.II/dofs/dof_accessor.templates.h
Labels: Reviewed and ready to merge, ready to test

#15331 Add a test.
  tests/tensors/copy_from_01.cc
  tests/tensors/copy_from_01.output
Labels: ready to test

#14657 Hermite polynomials
  doc/doxygen/references.bib
  include/deal.II/base/polynomials_hermite.h
  source/base/CMakeLists.txt
  source/base/polynomials_hermite.cc
Labels: Finite Element, ready to test

#15330 Adjust iterator traits classes for C++20.
  include/deal.II/base/array_view.h
  include/deal.II/base/linear_index_iterator.h
  include/deal.II/base/vectorization.h
  include/deal.II/hp/collection.h
  include/deal.II/lac/block_vector_base.h
Labels: ready to test, C++

#15336 Fix renumbering in FEPointEvaluation
  doc/news/changes/minor/20230611HeinzMunch
  include/deal.II/matrix_free/fe_point_evaluation.h
  tests/matrix_free/point_evaluation_14.output
  tests/matrix_free/point_evaluation_26.cc
  tests/matrix_free/point_evaluation_26.output
  tests/matrix_free/point_evaluation_27.cc
  tests/matrix_free/point_evaluation_27.output
Labels: Matrix-free, ready to test

#15341 Step-69: fix typo in documentation
  examples/step-69/step-69.cc
Labels: Documentation

#15160 NonlinearSolverSelector class implementation
  doc/news/changes/minor/20230501Ingimarson
  include/deal.II/numerics/nonlinear.h
  tests/numerics/nonlinear_solver_selector_01.cc
  tests/numerics/nonlinear_solver_selector_01.with_sundials=on.output
  tests/numerics/nonlinear_solver_selector_01_nox.cc
  tests/numerics/nonlinear_solver_selector_01_nox.with_trilinos=on.output
  tests/numerics/nonlinear_solver_selector_03.cc
  tests/numerics/nonlinear_solver_selector_03.with_sundials=on.mpirun=4.output
  tests/numerics/nonlinear_solver_selector_03_nox.cc
  tests/numerics/nonlinear_solver_selector_03_nox.with_trilinos=on.mpirun=4.output
  tests/numerics/nonlinear_solver_selector_03_petsc.cc
  tests/numerics/nonlinear_solver_selector_03_petsc.with_petsc=on.mpirun=4.output
Labels: ready to test

#15344 PETSc: Convert PetscScalar* iterators when calling IndexSet::add_indices
  source/lac/petsc_vector_base.cc
Labels: ready to test

#15347 Enforce callback return value standard for the new NonlinearSolverSelector class.
  include/deal.II/numerics/nonlinear.h
  tests/numerics/nonlinear_solver_selector_01.cc
  tests/numerics/nonlinear_solver_selector_03.cc
Labels: Reviewed and ready to merge, ready to test

#15343 FEFaceEvaluation: Consistently use n_components_ template argument
  include/deal.II/matrix_free/fe_evaluation.h
Labels: Reviewed and ready to merge, Matrix-free, ready to test

#15350 Adjust the discussion about solvers in step-6.
  examples/step-6/doc/results.dox
Labels: Tutorials, ready to test

#15353 Fix unused-but-set-variable warning
  source/opencascade/utilities.cc
Labels: Reviewed and ready to merge, ready to test

#15345 Extend documentation of the results section of step-59
  doc/doxygen/references.bib
  examples/step-59/doc/intro.dox
  examples/step-59/doc/results.dox
  include/deal.II/lac/tensor_product_matrix.h
Labels: Documentation, Reviewed and ready to merge, Tutorials, ready to test

#15354 doc: add info to distort_random
  include/deal.II/grid/grid_tools.h
Labels: Documentation, Reviewed and ready to merge, ready to test

#15356 Clarify why n_faces() is only possible on cells.
  include/deal.II/grid/tria_accessor.h
  include/deal.II/grid/tria_accessor.templates.h
Labels: Reviewed and ready to merge, ready to test

#15357 make another AdditionalData ctor explicit
  include/deal.II/lac/sparse_decomposition.h
Labels: ready to test

#15358 Reuse NonMatching::MappingInfo
  include/deal.II/non_matching/mapping_info.h
  tests/non_matching/mapping_info_03.cc
Labels: Matrix-free, ready to test, Non-matching

#15351 Fix matrix_free_device tests for Trilinos 12.14.1
  include/deal.II/matrix_free/cuda_fe_evaluation.h
  include/deal.II/matrix_free/cuda_matrix_free.templates.h
  tests/matrix_free/matrix_free_device_no_index_initialize.cc
Labels: ready to test

#15342 FEFaceEvaluation: Select general path for exterior cells with constraints
  include/deal.II/matrix_free/fe_evaluation.h
Labels: Matrix-free, ready to test

#15338 Clarify the name of a variable.
  include/deal.II/fe/fe_data.h
  source/fe/fe.cc
  source/fe/fe_data.cc
  source/fe/fe_poly_tensor.cc
Labels: Finite Element, ready to test

#15359 Convert some more places to 'subobject' instead of 'quad'.
  include/deal.II/dofs/dof_accessor.templates.h
  include/deal.II/dofs/dof_handler.h
  include/deal.II/fe/fe_system.h
  include/deal.II/grid/grid_tools.h
  include/deal.II/grid/tria.h
  include/deal.II/grid/tria_accessor.h
  source/grid/reference_cell.cc
Labels: Documentation, ready to test

#15355 Fix compiling deal.II with PETSc and complex scalar type
  include/deal.II/numerics/vector_tools_mean_value.templates.h
  source/lac/petsc_vector_base.cc
Labels: ready to test

#15362 Use a delegating constructor in DSP.
  source/lac/dynamic_sparsity_pattern.cc
Labels: Reviewed and ready to merge, Miscellaneous, ready to test

#15276 recoverable SNES and TS
  include/deal.II/lac/petsc_compatibility.h
  include/deal.II/lac/petsc_precondition.h
  include/deal.II/lac/petsc_snes.h
  include/deal.II/lac/petsc_snes.templates.h
  include/deal.II/lac/petsc_ts.h
  include/deal.II/lac/petsc_ts.templates.h
  source/lac/petsc_compatibility.cc
  source/lac/petsc_precondition.cc
  tests/petsc/petsc_snes_05.cc
  tests/petsc/petsc_snes_06.cc
  tests/petsc/petsc_snes_06.output
  tests/petsc/petsc_snes_07.cc
  tests/petsc/petsc_snes_07.output
  tests/petsc/petsc_ts_03.cc
  tests/petsc/petsc_ts_04.cc
  tests/petsc/petsc_ts_04.output
  tests/petsc/petsc_ts_05.cc
  tests/petsc/petsc_ts_05.output
  tests/petsc/solver_03_mf.cc
Labels: Reviewed and ready to merge, ready to test

#15348 Make sure a conversion is safe.
  source/lac/petsc_vector_base.cc
Labels: ready to test

#15340 Fix MG p-transfer with FE_Nothing
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  tests/multigrid-global-coarsening/mg_transfer_p_06.cc
  tests/multigrid-global-coarsening/mg_transfer_p_06.with_p4est=true.mpirun=4.output
Labels: Multigrid, ready to test

#15007 Fix copy constructor of MappingQ
  source/fe/mapping_q.cc
Labels: Bug, ready to test

#15303 Tensor product evaluation at arbitrary points: Optimize linear case
  include/deal.II/matrix_free/tensor_product_kernels.h
Labels: Matrix-free, ready to test

#15364 NonNestedTransfer: allow to pass coarse DH with more dofs than fine DH
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Multigrid

#15365 Some updates to the step-19 documentation.
  examples/step-19/doc/intro.dox
  examples/step-19/doc/results.dox
Labels: Documentation, Tutorials

#15366 Avoid a quadratic bottleneck in AffineConstraints::distribute().
  include/deal.II/lac/affine_constraints.templates.h
Labels: Reviewed and ready to merge, DoFs, ready to test

#15368 PETSc: Fix backward compatibility
  include/deal.II/lac/petsc_compatibility.h
  include/deal.II/lac/petsc_snes.templates.h
  include/deal.II/lac/petsc_ts.templates.h
  source/lac/petsc_compatibility.cc
  source/lac/petsc_precondition.cc
  tests/petsc/vector_wrap_01.cc
  tests/petsc_complex/17.cc
  tests/petsc_complex/vector_wrap_01.cc
  tests/tests.h
Labels: Reviewed and ready to merge, ready to test

#15374 Fix a typo in step-19
  examples/step-19/doc/intro.dox
Labels: Documentation

#15360 Update tests
  tests/feinterface/fe_interface_values_13.cc
  tests/feinterface/fe_interface_values_13.debug.output
  tests/hp/non_hp_mode.cc
  tests/hp/non_hp_mode.debug.output
  tests/sparsity/sparsity_pattern_base_01.cc
  tests/sparsity/sparsity_pattern_base_01.output
  tests/tensors/copy_from_01.cc
Labels: ready to test

#15349 PETSc tests: Add alternative output files for clang-16
  tests/numerics/nonlinear_solver_selector_03_petsc.with_petsc_with_hypre=true.mpirun=4.output
  tests/petsc/petsc_snes_02.cc
  tests/petsc/petsc_snes_02.output
  tests/petsc/petsc_snes_04.mpirun=3.output.clang-16
  tests/petsc/petsc_snes_04.output.clang-16
  tests/petsc/petsc_snes_07.output.clang-16
  tests/petsc/petsc_ts_01.cc
  tests/petsc/petsc_ts_01.output
  tests/petsc/petsc_ts_05.output.clang-16
Labels: ready to test

#15327 github-actions: Do not treat `tautological-constant-compare` as error.
  .github/workflows/linux.yml
Labels: Infrastructure

#14955 Remove specialization of CellwiseInverseMassMatrixImplBasic::run()
  include/deal.II/matrix_free/evaluation_kernels.h
Labels: Discussion, Matrix-free, ready to test

#15373 Fix doxygen for PETScWrappers::TimeStepper using DEAL_II_CXX20_REQUIRES
  include/deal.II/lac/petsc_ts.h
Labels: Reviewed and ready to merge, ready to test

#15369 improve name and documentation
  include/deal.II/grid/grid_tools.h
  source/grid/grid_tools.cc
Labels: Reviewed and ready to merge, ready to test

#15286 Deprecate our own CUDA backend
  cmake/configure/configure_40_cuda.cmake
  doc/external-libs/cuda.html
Labels: Discussion, ready to test

#15372 Wait for communication to finish.
  source/grid/grid_tools.cc
Labels: ready to test

#15297 Choose to initialize BlockVector with ghost elements using reinit(partitioners).
  doc/news/changes/minor/20230602Fehling
  include/deal.II/lac/la_parallel_block_vector.h
  include/deal.II/lac/la_parallel_block_vector.templates.h
  include/deal.II/lac/petsc_block_vector.h
  include/deal.II/lac/trilinos_parallel_block_vector.h
  source/lac/trilinos_block_vector.cc
  tests/mpi/parallel_block_vector_reinit_01.cc
  tests/mpi/parallel_block_vector_reinit_01.mpirun=10.output
  tests/petsc/parallel_block_vector_reinit_01.cc
  tests/petsc/parallel_block_vector_reinit_01.mpirun=10.output
  tests/trilinos/parallel_block_vector_reinit_01.cc
  tests/trilinos/parallel_block_vector_reinit_01.mpirun=10.output
Labels: Linear Algebra, ready to test

#15376 Performance tests: small cleanup and documentation update
  tests/performance/instrumentation_step_22.cc
  tests/performance/instrumentation_step_3.cc
  tests/performance/instrumentation_step_3_count_cycles.cc
  tests/performance/instrumentation_step_3_count_cycles.with_valgrind=true.threads=1.release.run_only
  tests/performance/timing_mg_glob_coarsen.cc
  tests/performance/timing_navier_stokes.cc
  tests/performance/timing_step_22.cc
  tests/performance/timing_step_3.cc
  tests/performance/timing_step_37.cc
Labels: Reviewed and ready to merge, Tests, ready to test

#15378 fix: update ninja build resource
  doc/users/cmake_dealii.html
Labels: Documentation

#15379 Restrict GridTools::Cache tests using Zoltan
  tests/grid/grid_tools_cache_08.with_trilinos_with_zoltan=true.mpirun=1.output
  tests/grid/grid_tools_cache_08.with_trilinos_with_zoltan=true.mpirun=2.output
  tests/grid/grid_tools_cache_08.with_trilinos_with_zoltan=true.mpirun=4.output
  tests/grid/grid_tools_cache_09.with_trilinos_with_zoltan=true.mpirun=1.output
  tests/grid/grid_tools_cache_09.with_trilinos_with_zoltan=true.mpirun=2.output
  tests/grid/grid_tools_cache_09.with_trilinos_with_zoltan=true.mpirun=4.output
Labels: ready to test

#15380 Make FE_EVAL_FACTORY_DEGREE_MAX more robust
  include/deal.II/matrix_free/evaluation_kernels.h
  include/deal.II/matrix_free/evaluation_template_face_factory.templates.h
  include/deal.II/matrix_free/evaluation_template_factory.h
  include/deal.II/matrix_free/evaluation_template_factory.templates.h
  include/deal.II/matrix_free/fe_evaluation.h
Labels: Matrix-free, ready to test

#15385 Release preparation: update gitattributes
  .gitattributes
Labels: Reviewed and ready to merge

#15377 Remove error output in lapack_full_matrix.cc
  source/lac/lapack_full_matrix.cc
Labels: ready to test

#15388 Testsuite: fix gmsh tests
  tests/gmsh/gmsh_api_01.cc
  tests/gmsh/gmsh_api_02.cc
  tests/gmsh/gmsh_api_03.cc
  tests/gmsh/gmsh_api_04.cc
  tests/gmsh/gmsh_api_04.with_gmsh_with_api=on.output.3
  tests/gmsh/gmsh_api_05.cc
  tests/gmsh/gmsh_api_05.with_gmsh_with_api=on.output.2
Labels: Reviewed and ready to merge, Tests, ready to test

#15391 Fix ArborX tests for Trilinos 14/Kokkos 4
  source/base/kokkos.cc
  tests/arborx/distributed_tree_intersect.cc
  tests/arborx/distributed_tree_nearest.cc
  tests/arborx/point_intersect.cc
  tests/arborx/point_nearest.cc
  tests/arborx/sphere_intersect.cc
  tests/arborx/sphere_nearest.cc
Labels: Reviewed and ready to merge, Tests, ready to test

#15389 Testsuite: metis/metis_*: only run tests, do not compare output
  tests/metis/metis_01.output.2
  tests/metis/metis_01.output.3
  tests/metis/metis_01.output.clang8-sierra
  tests/metis/metis_01.run_only
  tests/metis/metis_01.with_64bit_indices=off.output.clang9-sierra
  tests/metis/metis_01a.output.2
  tests/metis/metis_01a.output.3
  tests/metis/metis_01a.output.64bit-metis
  tests/metis/metis_01a.output.clang8-sierra
  tests/metis/metis_01a.run_only
  tests/metis/metis_02.output.2
  tests/metis/metis_02.output.3
  tests/metis/metis_02.output.clang8-sierra
  tests/metis/metis_02.output.gcc-7-x86_64
  tests/metis/metis_02.run_only
  tests/metis/metis_03.output.2
  tests/metis/metis_03.output.3
  tests/metis/metis_03.output.clang8-sierra
  tests/metis/metis_03.run_only
  tests/metis/metis_04.output.2
  tests/metis/metis_04.output.3
  tests/metis/metis_04.output.4
  tests/metis/metis_04.output.clang8-sierra
  tests/metis/metis_04.run_only
  tests/metis/metis_04.with_64bit_indices=off.output.clang9-sierra
  tests/metis/metis_05.output.2
  tests/metis/metis_05.output.gcc-7-x86_64
  tests/metis/metis_05.run_only
Labels: Reviewed and ready to merge, Tests

#15393 Fix poor doxygen indentation choices.
  doc/doxygen/scripts/program2doxygen
Labels: Reviewed and ready to merge

#15392 add an entry in doc/news/changes/minor for PR #15377
  doc/news/changes/minor/20230620TaoJin
Labels: Documentation

#15405 Fix some more tests without hypre and with C++20
  include/deal.II/lac/trilinos_sparse_matrix.h
  tests/simplex/step-40.mpirun=1.with_petsc_with_hypre=true.output
  tests/simplex/step-40.mpirun=4.with_petsc_with_hypre=true.with_metis=true.output
  tests/simplex/step-55.mpirun=2.with_petsc_with_hypre=true.with_metis=true.output
Labels: Reviewed and ready to merge, ready to test

#15408 Minor adjustment to step-77.
  examples/step-77/step-77.cc
Labels: Reviewed and ready to merge, Tutorials, ready to test

#15394 Testsuite: mpi/hp_cell_weights_* do not compare output for metis variants
  tests/mpi/hp_cell_weights_03.cc
  tests/mpi/hp_cell_weights_03.with_metis=true.mpirun=2.output
  tests/mpi/hp_cell_weights_03.with_metis=true.mpirun=2.output.1
  tests/mpi/hp_cell_weights_03.with_metis=true.mpirun=2.run_only
  tests/mpi/hp_cell_weights_04.cc
  tests/mpi/hp_cell_weights_04.with_metis=true.mpirun=2.output
  tests/mpi/hp_cell_weights_04.with_metis=true.mpirun=2.output.1
  tests/mpi/hp_cell_weights_04.with_metis=true.mpirun=2.run_only
Labels: Reviewed and ready to merge, Tests, ready to test

#15396 Testsuite: numerics/nonlinear_solver_selector_03_petsc: add output variant
  tests/numerics/nonlinear_solver_selector_03_petsc.with_petsc_with_hypre=true.mpirun=4.output.2
Labels: Reviewed and ready to merge, Tests

#15409 Fix a typo in the name of a function in the documentation.
  include/deal.II/base/tensor.h
Labels: Documentation, Reviewed and ready to merge

#15399 Testsuite: do not compare output for some rpe/* tests
  tests/remote_point_evaluation/convert_intersections_to_rpe_data_02.with_cgal.geq.5.5.with_p4est=true.mpirun=1.output
  tests/remote_point_evaluation/convert_intersections_to_rpe_data_02.with_cgal.geq.5.5.with_p4est=true.mpirun=1.run_only
  tests/remote_point_evaluation/convert_intersections_to_rpe_data_02.with_cgal.geq.5.5.with_p4est=true.mpirun=2.output
  tests/remote_point_evaluation/convert_intersections_to_rpe_data_02.with_cgal.geq.5.5.with_p4est=true.mpirun=2.run_only
  tests/remote_point_evaluation/convert_intersections_to_rpe_data_02.with_cgal.geq.5.5.with_p4est=true.mpirun=3.output
  tests/remote_point_evaluation/convert_intersections_to_rpe_data_02.with_cgal.geq.5.5.with_p4est=true.mpirun=3.run_only
  tests/remote_point_evaluation/convert_intersections_to_rpe_data_02.with_cgal.geq.5.5.with_p4est=true.mpirun=4.output
  tests/remote_point_evaluation/convert_intersections_to_rpe_data_02.with_cgal.geq.5.5.with_p4est=true.mpirun=4.run_only
  tests/remote_point_evaluation/convert_intersections_to_rpe_data_04.with_cgal=true.with_p4est=true.mpirun=1.output
  tests/remote_point_evaluation/convert_intersections_to_rpe_data_04.with_cgal=true.with_p4est=true.mpirun=1.run_only
  tests/remote_point_evaluation/convert_intersections_to_rpe_data_04.with_cgal=true.with_p4est=true.mpirun=2.output
  tests/remote_point_evaluation/convert_intersections_to_rpe_data_04.with_cgal=true.with_p4est=true.mpirun=2.run_only
  tests/remote_point_evaluation/convert_intersections_to_rpe_data_04.with_cgal=true.with_p4est=true.mpirun=3.output
  tests/remote_point_evaluation/convert_intersections_to_rpe_data_04.with_cgal=true.with_p4est=true.mpirun=3.run_only
  tests/remote_point_evaluation/convert_intersections_to_rpe_data_04.with_cgal=true.with_p4est=true.mpirun=4.output
  tests/remote_point_evaluation/convert_intersections_to_rpe_data_04.with_cgal=true.with_p4est=true.mpirun=4.run_only
  tests/remote_point_evaluation/distributed_compute_intersection_locations_02.with_cgal.geq.5.5.with_p4est=true.mpirun=1.output
  tests/remote_point_evaluation/distributed_compute_intersection_locations_02.with_cgal.geq.5.5.with_p4est=true.mpirun=1.run_only
  tests/remote_point_evaluation/distributed_compute_intersection_locations_02.with_cgal.geq.5.5.with_p4est=true.mpirun=2.output
  tests/remote_point_evaluation/distributed_compute_intersection_locations_02.with_cgal.geq.5.5.with_p4est=true.mpirun=2.run_only
  tests/remote_point_evaluation/distributed_compute_intersection_locations_02.with_cgal.geq.5.5.with_p4est=true.mpirun=3.output
  tests/remote_point_evaluation/distributed_compute_intersection_locations_02.with_cgal.geq.5.5.with_p4est=true.mpirun=3.run_only
  tests/remote_point_evaluation/distributed_compute_intersection_locations_02.with_cgal.geq.5.5.with_p4est=true.mpirun=4.output
  tests/remote_point_evaluation/distributed_compute_intersection_locations_02.with_cgal.geq.5.5.with_p4est=true.mpirun=4.run_only
  tests/remote_point_evaluation/distributed_compute_intersection_locations_04.with_cgal=true.with_p4est=true.mpirun=1.output
  tests/remote_point_evaluation/distributed_compute_intersection_locations_04.with_cgal=true.with_p4est=true.mpirun=1.run_only
  tests/remote_point_evaluation/distributed_compute_intersection_locations_04.with_cgal=true.with_p4est=true.mpirun=2.output
  tests/remote_point_evaluation/distributed_compute_intersection_locations_04.with_cgal=true.with_p4est=true.mpirun=2.run_only
  tests/remote_point_evaluation/distributed_compute_intersection_locations_04.with_cgal=true.with_p4est=true.mpirun=3.output
  tests/remote_point_evaluation/distributed_compute_intersection_locations_04.with_cgal=true.with_p4est=true.mpirun=3.run_only
  tests/remote_point_evaluation/distributed_compute_intersection_locations_04.with_cgal=true.with_p4est=true.mpirun=4.output
  tests/remote_point_evaluation/distributed_compute_intersection_locations_04.with_cgal=true.with_p4est=true.mpirun=4.run_only
Labels: Reviewed and ready to merge, Tests

#15390 Try to work around an Intel compiler issue.
  source/dofs/dof_handler_policy.cc
Labels: Reviewed and ready to merge, DoFs, ready to test

#15413 Move source/matrix_free up in build order
  source/CMakeLists.txt
Labels: Build system, ready to test

#15411 Testsuite: symengine/symengine_tensor_operations_04: fix test compilation
  tests/symengine/symengine_tensor_operations_04.cc
Labels: Reviewed and ready to merge, Tests, ready to test

#15397 Testsuite: opencascade/stl_(refinement|write): do not compare output
  tests/opencascade/stl_refinement.output
  tests/opencascade/stl_refinement.output.libstdc++10
  tests/opencascade/stl_refinement.run_only
  tests/opencascade/stl_write.output
  tests/opencascade/stl_write.run_only
Labels: Reviewed and ready to merge, Tests, ready to test

#15414 Fix doxygen reflinks
  include/deal.II/base/scope_exit.h
  include/deal.II/fe/fe_raviart_thomas.h
  include/deal.II/grid/tria.h
  include/deal.II/lac/la_parallel_vector.h
Labels: Reviewed and ready to merge, ready to test

#15412 Spell 'set up' when used as a verb
  include/deal.II/base/process_grid.h
  include/deal.II/differentiation/ad/sacado_number_types.h
  include/deal.II/lac/ginkgo_solver.h
  include/deal.II/lac/petsc_block_vector.h
  include/deal.II/matrix_free/shape_info.templates.h
  include/deal.II/numerics/point_value_history.h
  include/deal.II/trilinos/nox.templates.h
  source/base/mpi_noncontiguous_partitioner.cc
  source/base/partitioner.cc
  source/distributed/repartitioning_policy_tools.cc
  source/numerics/point_value_history.cc
Labels: Documentation, Reviewed and ready to merge

#15422 Fix clang-tidy complaints
  examples/step-36/step-36.cc
  examples/step-71/step-71.cc
  include/deal.II/differentiation/sd/symengine_number_visitor_internal.h
  include/deal.II/differentiation/sd/symengine_optimizer.h
  source/differentiation/sd/symengine_number_types.cc
  source/differentiation/sd/symengine_utilities.cc
  source/opencascade/manifold_lib.cc
  source/sundials/ida.cc
Labels: Reviewed and ready to merge, ready to test

#15428 fe/fe_values: avoid a "maybe uninitialized" warning with gcc-13
  source/fe/fe_values.cc
Labels: ready for review, ready to test

#15423 Fix a few more 'set up'
  examples/step-15/step-15.cc
  examples/step-29/step-29.cc
  examples/step-44/step-44.cc
  examples/step-46/step-46.cc
  examples/step-50/step-50.cc
  examples/step-60/step-60.cc
  examples/step-76/step-76.cc
  include/deal.II/base/mpi_remote_point_evaluation.h
  include/deal.II/grid/grid_tools.h
  include/deal.II/grid/tria_description.h
  include/deal.II/lac/petsc_block_sparse_matrix.h
  include/deal.II/lac/petsc_ts.templates.h
  source/distributed/fully_distributed_tria.cc
Labels: Documentation, Reviewed and ready to merge, ready to test

#15431 Fix bug in AffineConstraints::make_sorted_row_list
  include/deal.II/lac/affine_constraints.templates.h
Labels: Linear Algebra, ready to test

#15436 Warn about the use of higher order output when using Visit.
  examples/step-11/step-11.cc
  examples/step-44/step-44.cc
  examples/step-65/step-65.cc
  examples/step-67/step-67.cc
Labels: Reviewed and ready to merge, Tutorials, ready to test

#15435 Add a better error message for Cuda + bundled Kokkos.
  cmake/configure/configure_40_cuda.cmake
Labels: Build system

#15437 Fix step-33.
  examples/step-33/doc/intro.dox
  examples/step-33/step-33.cc
Labels: Reviewed and ready to merge, Tutorials, ready to test

#15425 CMake: avoid adding ${DEAL_II_BUNDLED_INCLUDE_DIRS} to bundled targets
  bundled/boost-1.70.0/libs/iostreams/src/CMakeLists.txt
  bundled/boost-1.70.0/libs/serialization/src/CMakeLists.txt
  bundled/boost-1.70.0/libs/system/src/CMakeLists.txt
  bundled/kokkos-3.7.00/CMakeLists.txt
  bundled/muparser_v2_3_3/CMakeLists.txt
  bundled/tbb-2018_U2/src/CMakeLists.txt
  bundled/umfpack/AMD/Source/CMakeLists.txt
  bundled/umfpack/UMFPACK/Source/CMakeLists.txt
  cmake/macros/macro_populate_target_properties.cmake
Labels: ready for review, Build system, ready to test

#15441 MFTools::categorize_by_boundary_ids: use iterator
  include/deal.II/matrix_free/tools.h
Labels: Reviewed and ready to merge, ready to test

#15442 fix step-57 bilinear form
  examples/step-57/step-57.cc
Labels: Reviewed and ready to merge, Tutorials, ready to test

#15449 Test numerics/nonlinear_solver_selector_03: use check_solver_within_range macro
  tests/numerics/nonlinear_solver_selector_03.cc
  tests/numerics/nonlinear_solver_selector_03.with_sundials=on.mpirun=4.output
  tests/numerics/nonlinear_solver_selector_03_nox.with_trilinos=on.mpirun=4.output
  tests/numerics/nonlinear_solver_selector_03_petsc.with_petsc_with_hypre=true.mpirun=4.output
  tests/numerics/nonlinear_solver_selector_03_petsc.with_petsc_with_hypre=true.mpirun=4.output.2
Labels: Tests, ready to test

#15447 Test base/hdf5_0{3,5}.mpirun={1,4}: do not compare test output
  tests/base/hdf5_03.with_hdf5=true.mpirun=1.run_only
  tests/base/hdf5_03.with_hdf5=true.mpirun=4.run_only
  tests/base/hdf5_03.with_hdf5=true.with_complex_values=on.mpirun=1.output
  tests/base/hdf5_03.with_hdf5=true.with_complex_values=on.mpirun=1.output2
  tests/base/hdf5_03.with_hdf5=true.with_complex_values=on.mpirun=4.output
  tests/base/hdf5_03.with_hdf5=true.with_complex_values=on.mpirun=4.output2
  tests/base/hdf5_05.with_hdf5=true.mpirun=1.run_only
  tests/base/hdf5_05.with_hdf5=true.mpirun=4.run_only
  tests/base/hdf5_05.with_hdf5=true.with_complex_values=on.mpirun=1.output
  tests/base/hdf5_05.with_hdf5=true.with_complex_values=on.mpirun=1.output2
  tests/base/hdf5_05.with_hdf5=true.with_complex_values=on.mpirun=4.output
  tests/base/hdf5_05.with_hdf5=true.with_complex_values=on.mpirun=4.output2
Labels: Reviewed and ready to merge, Tests, ready to test

#15446 lac/parpack_solver: add missing compress() operation
  include/deal.II/lac/parpack_solver.h
Labels: Bug, Reviewed and ready to merge, ready to test

#15410 Discuss replacing KINSOL by SNES or NOX in step-77.
  examples/step-77/doc/intro.dox
  examples/step-77/doc/results.dox
  tests/trilinos/step-77-with-nox.cc
Labels: Reviewed and ready to merge, Tutorials, ready to test

#15434 Examples 9.5
  examples/step-15/step-15.cc
  examples/step-36/doc/intro.dox
  examples/step-39/doc/results.dox
  examples/step-62/step-62.cc
  examples/step-7/doc/results.dox
  source/sundials/n_vector.inst.in
Labels: Reviewed and ready to merge, Tutorials, ready to test

#15451 Fix invalid memory access of DoFAccessorImplementation
  include/deal.II/dofs/dof_accessor.templates.h
Labels: DoFs, ready to test

#15448 Test cgal/cgal_surface_mesh_02: disable floating point exceptions
  tests/cgal/cgal_surface_mesh_02.cc
Labels: Reviewed and ready to merge, Tests, ready to test

#15452 Fix invalid data access in MatrixFreeTools::compute_diagonal
  include/deal.II/matrix_free/tools.h
Labels: Matrix-free, ready to test

#15450 NOX: catch std::runtime_error instead of char* for Trilinos 14.2.0 onwards
  include/deal.II/trilinos/nox.templates.h
Labels: Bug, Reviewed and ready to merge, ready to test

#15455 add mailmap entry
  .mailmap
Labels: Reviewed and ready to merge

#15370 Add a test for step-70.
  tests/non_matching/step-70.cc
  tests/non_matching/step-70.in.prm
  tests/non_matching/step-70.with_p4est=true.with_petsc=true.mpirun=2.output
Labels: Reviewed and ready to merge, Tutorials, Tests, ready to test

#15454 Advertise NonlinearSolverSelector in step-77.
  examples/step-77/doc/results.dox
Labels: Tutorials, ready to test

#15458 Revert a change that breaks compilation.
  source/differentiation/sd/symengine_number_types.cc
Labels: Reviewed and ready to merge, ready to test, Symbolic differentiation

#15460 Add output variant.
  tests/distributed_grids/3d_coarsening_04.output.2
Labels: ready to test

#15462 Test cgal/cgal_triangulation_06: disable floating point exceptions
  tests/cgal/cgal_triangulation_06.cc
Labels: Reviewed and ready to merge, Tests, ready to test

#15461 Test distributed_grids/3d_refinement_08: add output variants
  tests/distributed_grids/3d_refinement_08.output.1
Labels: Tests

#15466 Test cgal/cgal_remesh_surface: disable floating point exceptions
  tests/cgal/cgal_remesh_surface.cc
Labels: Tests

#15467 Test cgal/cgal_triangulation_05: add test variant for clang-16, libc++
  tests/cgal/cgal_triangulation_05.output.clang-libc++
Labels: Tests

#15468 Test grid/grid_generator_pipe_junction: add output variant
  tests/grid/grid_generator_pipe_junction.output.clang-libc++
Labels: Tests

#15469 Test grid/grid_tools_cache_{04,06,08,09}: add output variants
  tests/grid/grid_tools_cache_04.with_p4est=true.with_trilinos=true.with_trilinos_with_zoltan=true.mpirun=4.output.clang-libc++
  tests/grid/grid_tools_cache_06.mpirun=1.with_p4est=true.output.clang-libc++
  tests/grid/grid_tools_cache_08.with_trilinos_with_zoltan=true.mpirun=2.output.clang-libc++
  tests/grid/grid_tools_cache_08.with_trilinos_with_zoltan=true.mpirun=4.output.clang-libc++
  tests/grid/grid_tools_cache_09.with_trilinos_with_zoltan=true.mpirun=1.output.clang-libc++
  tests/grid/grid_tools_cache_09.with_trilinos_with_zoltan=true.mpirun=2.output.clang-libc++
  tests/grid/grid_tools_cache_09.with_trilinos_with_zoltan=true.mpirun=4.output.clang-libc++
Labels: Tests

#15470 Test: lac/linear_operator_10: disable floating point exceptions
  tests/lac/linear_operator_10.cc
Labels: Tests

#15471 Test lac/vector_memory_02: add output variant
  tests/lac/vector_memory_02.debug.output.clang-libc++
Labels: Tests

#15465 Filter out --help from argv when initializing Kokkos
  source/base/mpi.cc
Labels: ready to test

#15472 Test distributed_grids/checkpointing_03: do not run debug variant
  tests/distributed_grids/checkpointing_03.with_trilinos=true.mpirun=2.release.output
Labels: Tests

#15473 Test mpi/trilinos_step-27: add output variant
  tests/mpi/trilinos_step-27.with_p4est=true.with_trilinos=true.mpirun=1.output.clang-libc++
Labels: Tests

#15475 Test scalapack/*: restrict all scalapack tests to less than 10 mpi ranks
  tests/scalapack/scalapack_01.mpirun=11.output
  tests/scalapack/scalapack_02.mpirun=10.output
  tests/scalapack/scalapack_03.mpirun=10.output
  tests/scalapack/scalapack_03_b.mpirun=10.output
  tests/scalapack/scalapack_03_c.mpirun=10.output
  tests/scalapack/scalapack_04.mpirun=11.output
  tests/scalapack/scalapack_04_b.mpirun=11.output
  tests/scalapack/scalapack_05.mpirun=11.output
  tests/scalapack/scalapack_05.mpirun=11.output.1
  tests/scalapack/scalapack_06.mpirun=11.output
  tests/scalapack/scalapack_06a.mpirun=11.output
  tests/scalapack/scalapack_06b.mpirun=11.output
  tests/scalapack/scalapack_06c.mpirun=11.output
  tests/scalapack/scalapack_07.mpirun=10.output
  tests/scalapack/scalapack_08.mpirun=11.output
  tests/scalapack/scalapack_10.with_hdf5=on.mpirun=11.output
  tests/scalapack/scalapack_10_a.with_hdf5=on.mpirun=11.output
  tests/scalapack/scalapack_10_b.with_hdf5=on.mpirun=11.output
  tests/scalapack/scalapack_10_c.with_hdf5=on.mpirun=11.output
  tests/scalapack/scalapack_10_d.with_hdf5=on.mpirun=11.output
  tests/scalapack/scalapack_11.mpirun=11.output
  tests/scalapack/scalapack_12_a.mpirun=11.output
  tests/scalapack/scalapack_12_b.mpirun=11.output
  tests/scalapack/scalapack_12_c.mpirun=11.output
  tests/scalapack/scalapack_12_d.mpirun=11.output
  tests/scalapack/scalapack_13_a.mpirun=11.output
  tests/scalapack/scalapack_13_b.mpirun=11.output
  tests/scalapack/scalapack_14_a.mpirun=11.output
  tests/scalapack/scalapack_14_b.mpirun=11.output
  tests/scalapack/scalapack_15.mpirun=10.output
  tests/scalapack/scalapack_15_a.mpirun=10.output
  tests/scalapack/scalapack_16.mpirun=11.output
  tests/scalapack/scalapack_16_a.mpirun=11.output
  tests/scalapack/scalapack_17_a.mpirun=11.output
  tests/scalapack/scalapack_17_b.mpirun=11.output
Labels: Tests

#15477 Test fe/fe_enriched_color_07: do not run debug variant
  tests/fe/fe_enriched_color_07.with_trilinos=true.with_muparser=true.with_trilinos_with_zoltan=true.with_petsc=true.with_petsc_with_complex=false.with_gsl=true.mpirun=2.release.output
Labels: Reviewed and ready to merge, Tests

#15474 Fixes for FPE and older versions of PETSc
  include/deal.II/lac/petsc_snes.templates.h
  include/deal.II/lac/petsc_ts.templates.h
  tests/petsc/petsc_snes_02.cc
  tests/petsc/petsc_snes_04.mpirun=3.output.clang-apple
  tests/petsc/petsc_snes_04.output.clang-apple
  tests/petsc/petsc_snes_06.cc
  tests/petsc/petsc_snes_07.cc
  tests/petsc/petsc_snes_07.output.clang-apple
  tests/petsc/petsc_ts_01.cc
  tests/petsc/petsc_ts_04.cc
  tests/petsc/petsc_ts_05.cc
  tests/petsc/petsc_ts_05.output.clang-apple
Labels: Tests, Linear Algebra, ready to test

#15482 fix unused variable warning
  source/opencascade/utilities.cc
Labels: ready to test

#15481 fix kinsol unused lambda capture warning
  source/sundials/kinsol.cc
Labels: ready to test

#15485 Add two output variants for tests writing p4est vtk output
  tests/distributed_grids/3d_coarse_grid_03.with_p4est_with_vtk_binary=false.output.2
  tests/distributed_grids/3d_coarse_grid_04.with_p4est_with_vtk_binary=false.output.2
Labels: Tests, ready to test

#15486 MatrixFree inverse mass matrix: Make tests more robust
  tests/matrix_free/inverse_mass_10.cc
  tests/matrix_free/inverse_mass_11.cc
Labels: Matrix-free, Tests, ready to test

#15487 Test mpi/p4est_bug_01: remove test
  tests/mpi/p4est_bug_01.cc
  tests/mpi/p4est_bug_01.with_p4est=true.expect=run.debug.output
Labels: Tests

#15488 Test: cgal/cgal_intersect_simplices_2d_3d: restrict to CGAL >= 5.5.0
  tests/cgal/cgal_intersect_simplices_2d_3d.with_cgal.geq.5.5.output
Labels: Tests

#15491 Test numerics/nonlinear_solver_selector_03: add ouput variant
  tests/numerics/nonlinear_solver_selector_03.with_sundials=on.mpirun=4.output.petsc
Labels: Reviewed and ready to merge, Tests

#15497 Test simplex/compute_point_locations_01: add output variant
  tests/simplex/compute_point_locations_01.output.clang-libc++
Labels: Reviewed and ready to merge, Tests

#15492 Ensure we set a flag correctly even if a task ends in an exception.
  doc/news/changes/minor/20230626Bangerth
  include/deal.II/base/thread_management.h
Labels: Reviewed and ready to merge, Parallel shared, ready to test

#15494 Require ArborX 1.3 or later
  cmake/modules/FindDEAL_II_ARBORX.cmake
Labels: Reviewed and ready to merge, External libraries, ready to test

#15493 Test non_matching/step-70: add an output variant
  tests/non_matching/step-70.with_p4est=true.with_petsc=true.mpirun=2.output.petsc
Labels: Reviewed and ready to merge, Tests

#15500 Tests: exonerate two debug test variants and run them again
  tests/distributed_grids/checkpointing_03.with_trilinos=true.mpirun=2.output
  tests/fe/fe_enriched_color_07.with_trilinos=true.with_muparser=true.with_trilinos_with_zoltan=true.with_petsc=true.with_petsc_with_complex=false.with_gsl=true.mpirun=2.output
Labels: Tests

#15510 [9.5] CMake: enable -ffp-exceptions-behavior=strict when compiling with clang
  cmake/setup_compiler_flags_gnu.cmake
Labels: Tests
