Repository dealii/dealii, pull requests merged in 2024-03, with the labels that each got.

#16702 TpetraWrappers::SparseMatrix: Fix unused paramter in SparseMatrix::compress
  include/deal.II/lac/trilinos_tpetra_sparse_matrix.templates.h
Labels: ready to test

#16707 LA::p::Vector: Only initialize data on demand
  include/deal.II/lac/la_parallel_vector.templates.h
Labels: Linear Algebra, ready to test

#16706 In step-40, say at least a little bit about parallel linear algebra.
  examples/step-40/doc/intro.dox
Labels: Documentation, Tutorials

#16711 Tpetra: Fix unity builds
  include/deal.II/lac/trilinos_tpetra_sparse_matrix.templates.h
  source/lac/trilinos_tpetra_sparsity_pattern.cc
Labels: External libraries, ready to test

#16705 Fix `hp::Refinement::limit_p_level_difference` for p-coarsening
  doc/news/changes/minor/20240229Fehling
  source/hp/refinement.cc
  tests/hp/limit_p_level_difference_06.cc
  tests/hp/limit_p_level_difference_06.output
Labels: Bug, hp adaptivity, ready to test

#16715 Improve an error message.
  source/base/parsed_function.cc
Labels: ready to test

#16716 vector_tools_interpolate.h: add a missing include
  include/deal.II/numerics/vector_tools_interpolate.h
Labels: Miscellaneous

#16717 Make it possible to instantiate some matrix-free stuff for std::complex data.
  include/deal.II/matrix_free/constraint_info.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Multigrid, Matrix-free, ready to test

#16720 Add necessary header files.
  tests/multigrid-global-coarsening/mg_transfer_util.h
Labels: ready to test

#16718 Fix a grammar error.
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
Labels: Documentation, Multigrid

#16721 Matrix-free MG transfer: Switch interpolation matrices to double type
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Multigrid, Matrix-free, ready to test

#16700 TpetraWrappers: Implement iterators for SparseMatrix
  include/deal.II/lac/trilinos_tpetra_sparse_matrix.h
  source/lac/trilinos_tpetra_sparsity_pattern.cc
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_01.cc
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_01.output
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_02.cc
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_02.output
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_03.cc
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_03.output
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_04.cc
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_04.output
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_05.cc
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_05.output
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_06.cc
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_06.output
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_07.cc
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_07.output
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_08.cc
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_08.output
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_09.cc
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_09.output
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_10.cc
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_10.output
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_11.cc
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_11.output
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_12.cc
  tests/trilinos_tpetra/trilinos_sparse_matrix_iterator_12.output
Labels: ready to test

#16723 Make a specialization of MGTwoLevelTransfer the general template.
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Multigrid, ready to test

#16704 Don't create new sections during parsing
  doc/news/changes/minor/20240229Munch
  include/deal.II/base/parameter_handler.h
  source/base/parameter_handler.cc
  tests/parameter_handler/parameter_handler_read_json_04.cc
  tests/parameter_handler/parameter_handler_read_json_04.output
  tests/parameter_handler/prm/parameter_handler_read_json_04.json
Labels: Reviewed and ready to merge, ready to test

#16729 Address a warning.
  include/deal.II/lac/trilinos_tpetra_sparse_matrix.h
Labels: Reviewed and ready to merge, External libraries, ready to test

#16731 Fix Tpetra SparseMatrix::add().
  include/deal.II/lac/trilinos_tpetra_sparse_matrix.templates.h
Labels: ready to test

#16733 Close the correct constraints objects.
  tests/multigrid-global-coarsening/mg_transfer_a_01.cc
  tests/multigrid-global-coarsening/mg_transfer_a_02.cc
  tests/multigrid-global-coarsening/mg_transfer_a_03.cc
  tests/multigrid-global-coarsening/mg_transfer_a_04.cc
Labels: ready to test

#16736 MatrixFree: Split tensor product points and single point kernels
  include/deal.II/fe/mapping_q_internal.h
  include/deal.II/matrix_free/fe_point_evaluation.h
  include/deal.II/matrix_free/tensor_product_kernels.h
  include/deal.II/matrix_free/tensor_product_point_kernels.h
Labels: Matrix-free, ready to test

#16735 Rename a few variables.
  include/deal.II/numerics/vector_tools_interpolate.templates.h
Labels: DoFs, ready to test

#16732 Add the missing variants of TpetraWrappers::SparseMatrix::set().
  include/deal.II/lac/trilinos_tpetra_sparse_matrix.templates.h
  tests/trilinos_tpetra/sparse_matrix_set_01.cc
  tests/trilinos_tpetra/sparse_matrix_set_01.output
  tests/trilinos_tpetra/sparse_matrix_set_02.cc
  tests/trilinos_tpetra/sparse_matrix_set_02.output
Labels: External libraries, ready to test

#16730 Also remove the specialization structure of MGTwoLevelTransferNonNested.
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Multigrid, ready to test

#16713 Colorize hyper rectangle with simplices
  source/grid/grid_generator.cc
  tests/grid/grid_generator_11.cc
  tests/grid/grid_generator_11.output
Labels: Triangulation, ready to test

#16741 In an internal function called from a virtual function, do not call virtual functions.
  source/grid/manifold_lib.cc
Labels: ready to test

#16740 Tensor product tests: Fix include file
  tests/matrix_free/tensor_product_evaluate_01.cc
  tests/matrix_free/tensor_product_evaluate_02.cc
  tests/matrix_free/tensor_product_evaluate_03.cc
  tests/matrix_free/tensor_product_evaluate_04.cc
  tests/matrix_free/tensor_product_evaluate_05.cc
  tests/matrix_free/tensor_product_evaluate_06.cc
  tests/matrix_free/tensor_product_evaluate_07.cc
  tests/matrix_free/tensor_product_evaluate_08.cc
Labels: Reviewed and ready to merge, Tests, ready to test

#16734 Implement VectorTools::interpolate_to_finer/coarser_mesh().
  doc/news/changes/minor/20240220Bangerth
  include/deal.II/numerics/vector_tools_interpolate.h
  include/deal.II/numerics/vector_tools_interpolate.templates.h
  source/numerics/vector_tools_interpolate.inst.in
  tests/multigrid-global-coarsening/interpolate_up_down_01.cc
  tests/multigrid-global-coarsening/interpolate_up_down_01.with_p4est=true.mpirun=1.output
  tests/multigrid-global-coarsening/interpolate_up_down_01.with_p4est=true.mpirun=3.output
  tests/multigrid-global-coarsening/interpolate_up_down_01.with_p4est=true.mpirun=7.output
Labels: DoFs, ready to test

#16743 Leave a couple comments in FETools.
  include/deal.II/fe/fe_tools.h
Labels: Documentation, ready to test

#16738 Add support for OpenCascade 7.8.0
  cmake/modules/FindDEAL_II_OPENCASCADE.cmake
Labels: Build system, Reviewed and ready to merge, External libraries, ready to test

#16744 SolverGMRES: Fix loop bound for orthogonalization
  include/deal.II/lac/solver_gmres.h
  tests/lac/solver_gmres_02.cc
  tests/lac/solver_gmres_02.output
Labels: Linear Algebra, ready to test

#16727 TrilinosWrappers::SolverDirect: adjust interface
  include/deal.II/lac/trilinos_solver.h
  source/lac/trilinos_solver.cc
Labels: External libraries, ready to test

#16748 Fix tests/performance/timing_mg_glob_coarsen.cc
  tests/performance/timing_mg_glob_coarsen.cc
Labels: Reviewed and ready to merge, Linear Algebra, ready to test, Performance tester

#16745 Cleanup of SolverGMRES and SolverFGMRES implementations
  doc/news/changes/incompatibilities/20240312Kronbichler
  doc/news/changes/minor/20240312Kronbichler
  examples/step-12/step-12.cc
  examples/step-22/doc/results.dox
  include/deal.II/lac/solver_gmres.h
  tests/examples/step-56.output
  tests/lac/gmres_reorthogonalize_01.cc
  tests/lac/gmres_reorthogonalize_02.cc
  tests/lac/gmres_reorthogonalize_03.cc
  tests/lac/gmres_reorthogonalize_04.cc
  tests/lac/gmres_reorthogonalize_05.cc
  tests/lac/solver.cc
  tests/lac/solver.output
  tests/lac/solver_gmres_01.cc
  tests/lac/solver_gmres_02.cc
  tests/lac/solver_monitor.cc
  tests/lac/solver_selector_01.output
  tests/lac/solver_selector_03.output
  tests/lac/solver_signals.cc
  tests/lac/solver_signals.with_lapack=true.output
  tests/matrix_free/stokes_computation.cc
  tests/matrix_free/stokes_computation.with_lapack=true.with_p4est=true.mpirun=4.output
  tests/multigrid-global-coarsening/stokes_computation.with_lapack=true.with_p4est=true.mpirun=4.output
  tests/multigrid/step-39-03.output
  tests/non_matching/step-70.with_p4est=true.with_petsc=true.mpirun=2.output
  tests/trilinos/deal_solver_03.cc
  tests/trilinos/deal_solver_03.output
  tests/trilinos_tpetra/deal_solver_03.cc
Labels: Linear Algebra, ready to test

#16751 dealii::Vector: Simplify reset of vector size
  include/deal.II/lac/vector.templates.h
Labels: Linear Algebra, ready to test

#16752 Tensor product kernels: Remove unnecessary include files
  include/deal.II/matrix_free/tensor_product_kernels.h
  include/deal.II/matrix_free/tensor_product_point_kernels.h
Labels: Matrix-free, ready to test

#16714 Fix unintended terminate in gmsh-API version of read_msh
  source/grid/grid_in.cc
  tests/gmsh/gmsh_api_06.cc
  tests/gmsh/gmsh_api_06.with_gmsh_with_api=on.output
Labels: ready to test

#16753 Add `spacedim` template parameter of DoFHandler
  include/deal.II/numerics/vector_tools_interpolate.h
  include/deal.II/numerics/vector_tools_interpolate.templates.h
Labels: Miscellaneous, ready to test

#16544 `ParameterHandler::parse_input_from_json()`: do not use mangled parameter names anymore
  doc/news/changes/incompatibilities/20240126SchreterMunch
  source/base/parameter_handler.cc
  tests/parameter_handler/parameter_handler_read_json_01.cc
  tests/parameter_handler/parameter_handler_read_json_01.output
  tests/parameter_handler/parameter_handler_read_json_02.cc
  tests/parameter_handler/parameter_handler_read_json_03.cc
  tests/parameter_handler/prm/parameter_handler_read_json_01.json
  tests/parameter_handler/prm/parameter_handler_read_json_02.json
  tests/parameter_handler/prm/parameter_handler_read_json_03.json
Labels: ready to test

#16750 Fix uninitialized variable
  include/deal.II/lac/precondition.h
  tests/lac/precondition_relaxation_01.cc
  tests/lac/precondition_relaxation_01.output
Labels: Linear Algebra, ready to test, Regression tester

#16757 SolverGMRES: Fix a test case
  tests/petsc/deal_solver_03.cc
  tests/trilinos/deal_solver_03.cc
  tests/trilinos/deal_solver_03.output
Labels: Tests, ready to test, Regression tester

#16749 SolverGMRES: Implement classical Gram-Schmidt with delayed reorthogonalization
  doc/doxygen/references.bib
  include/deal.II/lac/orthogonalization.h
  include/deal.II/lac/solver_gmres.h
  tests/lac/gmres_reorthogonalize_06.cc
  tests/lac/gmres_reorthogonalize_06.output
  tests/lac/solver_gmres_03.cc
  tests/lac/solver_gmres_03.output
  tests/lac/solver_gmres_04.cc
  tests/lac/solver_gmres_04.output
Labels: Reviewed and ready to merge, Linear Algebra, ready to test

#16760 SolverGMRES: Switch default orthogonalization strategy to delayed CGS2
  doc/news/changes/incompatibilities/20240312Kronbichler
  doc/news/changes/minor/20240312Kronbichler
  doc/news/changes/minor/20240319Kronbichler
  include/deal.II/lac/solver_gmres.h
  tests/lac/gmres_reorthogonalize_01.cc
  tests/lac/gmres_reorthogonalize_02.cc
  tests/lac/gmres_reorthogonalize_03.cc
  tests/lac/gmres_reorthogonalize_04.cc
  tests/lac/gmres_reorthogonalize_05.cc
Labels: Linear Algebra, ready to test

#16762 SolverGMRES: Improve documentation
  include/deal.II/lac/solver_gmres.h
Labels: Documentation, Linear Algebra

#16763 Make sure two cell iterator arguments lead to correct type deduction.
  include/deal.II/base/quadrature_point_data.h
Labels: Miscellaneous, ready to test

#16764 Fix the spelling of a type in the documentation.
  include/deal.II/base/template_constraints.h
Labels: Documentation

#16767 PETSc: support version 3.21
  include/deal.II/lac/petsc_ts.h
  include/deal.II/lac/petsc_ts.templates.h
Labels: ready to test

#16766 Augment assertions in TrilinosWrappers::*::SparseMatrix::add().
  include/deal.II/lac/trilinos_tpetra_sparse_matrix.templates.h
  source/lac/trilinos_sparse_matrix.cc
Labels: External libraries, ready to test

#16768 Early deprecate FEEvaluation::get_normal_vector()
  include/deal.II/matrix_free/fe_evaluation_data.h
  tests/petsc/step-67-with-petsc-ts.cc
Labels: Matrix-free, ready to test

#16425 Introduce FEPointEvaluation::integrate_value()
  include/deal.II/matrix_free/fe_evaluation.h
  include/deal.II/matrix_free/fe_point_evaluation.h
  tests/matrix_free/integrate_value_01.cc
  tests/matrix_free/integrate_value_01.output
Labels: Reviewed and ready to merge, Matrix-free, ready to test

#16423 Rename FPE::real_point() to FPE::quadrature_point()
  doc/news/changes/incompatibilities/20240107Munch
  include/deal.II/matrix_free/fe_point_evaluation.h
  tests/matrix_free/point_evaluation_12.cc
Labels: Discussion, Reviewed and ready to merge, Matrix-free, ready to test

#16755 Improve refinement strategy for Tetrahedrons
  doc/news/changes/minor/20240320StillFehnKronbichler
  source/grid/tria.cc
  tests/simplex/convert_hypercube_to_simplex_mesh_01.output
  tests/simplex/data_out_write_gnuplot_01.output
  tests/simplex/refinement_04.cc
  tests/simplex/refinement_04.output
  tests/simplex/refinement_05.cc
  tests/simplex/refinement_05.output
Labels: Triangulation, ready to test, Simplices

#16770 FEEvaluation: Remove specialized access class for d=1,n_components=1
  include/deal.II/matrix_free/fe_evaluation.h
Labels: Matrix-free, ready to test

#16761 SolverGMRES: Skip work if x is all zero
  include/deal.II/lac/solver_gmres.h
Labels: Linear Algebra, ready to test

#16775 Tensor product kernels: Implement generic operation for large sizes
  include/deal.II/matrix_free/tensor_product_kernels.h
Labels: Matrix-free, ready to test

#16778 Remove typo from step-26 intro.dox
  examples/step-26/doc/intro.dox
Labels: Documentation, Reviewed and ready to merge, Tutorials

#16779 fix typo regarding schur preconditioner for step-32
  examples/step-32/step-32.cc
Labels: Documentation, Reviewed and ready to merge, Tutorials

#16781 Add local_range() and in_local_range() to LA::TpetraWrappers::Vector
  include/deal.II/lac/trilinos_tpetra_vector.h
  include/deal.II/lac/trilinos_tpetra_vector.templates.h
Labels: Reviewed and ready to merge, External libraries, ready to test

#16776 FEEvaluation: Remove specialized Access class
  doc/news/changes/minor/20240322Kronbichler
  include/deal.II/matrix_free/fe_evaluation.h
Labels: Matrix-free, ready to test

#16785 CMake: fix OpenCASCADE-7.8 configure
  cmake/modules/FindDEAL_II_OPENCASCADE.cmake
Labels: Bug, Build system, Reviewed and ready to merge

#16765 FEPointEvaluation: Work towards dim < spacedim
  include/deal.II/base/derivative_form.h
  include/deal.II/base/floating_point_comparator.h
  include/deal.II/matrix_free/fe_point_evaluation.h
  include/deal.II/matrix_free/fe_remote_evaluation.h
  include/deal.II/matrix_free/shape_info.templates.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  include/deal.II/non_matching/mapping_info.h
  source/matrix_free/fe_point_evaluation.cc
  source/matrix_free/shape_info.inst.in
  tests/matrix_free/is_supported_01.output
  tests/matrix_free/point_evaluation_30.cc
  tests/matrix_free/point_evaluation_30.output
  tests/matrix_free/point_evaluation_31.cc
  tests/matrix_free/point_evaluation_31.output
  tests/matrix_free/point_evaluation_32.cc
  tests/matrix_free/point_evaluation_32.output
Labels: Matrix-free, ready to test

#16782 Fix test environment variables for OpenMPI 5.
  cmake/scripts/run_test.sh
Labels: Infrastructure, Tests, ready to test

#16789 FEEvaluation: Ensure assertions in get_value/gradient are working
  include/deal.II/matrix_free/fe_evaluation.h
Labels: Matrix-free, ready to test

#16790 Remove/deprecate Tensor::begin/end_raw().
  doc/news/changes/incompatibilities/20240326Bangerth
  include/deal.II/base/array_view.h
  include/deal.II/base/tensor.h
  include/deal.II/grid/grid_tools_geometry.h
Labels: ready to test

#16791 Provide a better error message.
  source/grid/tria.cc
Labels: ready to test

#16784 Fix compiler warning for macro usage in TpetraWrappers
  include/deal.II/lac/trilinos_tpetra_vector.templates.h
Labels: ready to test

#16793 Fix CI using Kokkos+Cuda and CMake 3.28.4 and later
  .github/workflows/linux.yml
Labels: Infrastructure, Reviewed and ready to merge, ready to test

#16771 Align Tensor<rank,dim,Number> to make vectorization possible.
  doc/news/changes/minor/20240323Bangerth
  doc/news/changes/minor/20240324Bangerth
  include/deal.II/base/tensor.h
  include/deal.II/base/utilities.h
Labels: ready to test

#16798 Instantiate MappingC1 for dim <= spacedim
  include/deal.II/fe/mapping_c1.h
  source/fe/mapping_c1.cc
  source/fe/mapping_c1.inst.in
Labels: Mapping, ready to test

#16797 `base/tensor.h`: make a statement a bit easier to read
  include/deal.II/base/tensor.h
Labels: ready to test

#16803 Augment documentation of class Tensor.
  include/deal.II/base/tensor.h
Labels: Documentation, ready to test

#16802 Fix compilation of a test.
  tests/symengine/symengine_tensor_operations_04.cc
Labels: Reviewed and ready to merge, Tests, ready to test

#16801 MappingQ: Do not assume contiguous storage of Tensor<2, dim>
  include/deal.II/fe/mapping_q_internal.h
Labels: High Priority :warning:, Reviewed and ready to merge, Mapping, SIMD, ready to test

#16780 Consistent periodic orientation encoding
  doc/news/changes/incompatibilities/20240525DavidWells
  include/deal.II/dofs/dof_tools.h
  include/deal.II/grid/grid_tools.h
  include/deal.II/grid/reference_cell.h
  include/deal.II/grid/tria.h
  include/deal.II/matrix_free/face_setup_internal.h
  source/distributed/tria.cc
  source/dofs/dof_tools_constraints.cc
  source/dofs/dof_tools_constraints.inst.in
  source/grid/grid_tools.cc
  source/grid/grid_tools_dof_handlers.cc
  source/grid/grid_tools_dof_handlers.inst.in
  source/grid/tria.cc
  source/grid/tria_accessor.cc
  source/multigrid/mg_constrained_dofs.cc
  tests/bits/periodicity_09.cc
  tests/dofs/dof_tools_21.cc
  tests/dofs/dof_tools_21_b.cc
  tests/dofs/dof_tools_21_b_x.cc
  tests/dofs/dof_tools_21_b_x_q3.cc
  tests/dofs/dof_tools_21_b_y.cc
  tests/dofs/dof_tools_21_c.cc
  tests/dofs/dof_tools_23.cc
  tests/dofs/dof_tools_periodic.h
  tests/grid/grid_tools_05.cc
  tests/grid/grid_tools_06.cc
  tests/grid/periodicity_1d.cc
  tests/grid/reference_cell_reverse_orientation.cc
  tests/grid/reference_cell_reverse_orientation.output
  tests/mpi/periodicity_04.cc
Labels: Triangulation, ready to test

#16805 Add assert on reinit() being called before get_present_fe_values()
  include/deal.II/hp/fe_values.h
Labels: Reviewed and ready to merge, hp adaptivity, ready to test

#16808 Test cgal/cgal_triangulation_05: add avx output variants
  tests/cgal/cgal_triangulation_05.output.avx256
  tests/cgal/cgal_triangulation_05.output.avx512
Labels: Tests

#16809 Test mappings/mapping_q_real_to_unit_internal: add avx256 output variant
  tests/mappings/mapping_q_real_to_unit_internal.output.avx256
Labels: Tests

#16810 Test grid/grid_generator_09: add another output variant
  tests/grid/grid_generator_09.output.avx512-2
Labels: Tests

#16811 Test trilinos/precondition: Relax iteration bounds
  tests/trilinos/precondition.cc
  tests/trilinos/precondition.output
Labels: Tests, ready to test

#16812 Test grid/closest_point: guard against roundoff error
  tests/grid/closest_point.cc
Labels: Tests, ready to test

#16806 Remove hardcoded inverse orientation
  include/deal.II/grid/reference_cell.h
  source/grid/grid_tools.cc
  source/grid/tria.cc
Labels: Reviewed and ready to merge, Triangulation, ready to test

#16795 Add three GridGenerator functions to the python wrappers
  contrib/python-bindings/include/triangulation_wrapper.h
  contrib/python-bindings/source/export_triangulation.cc
  contrib/python-bindings/source/point_wrapper.cc
  contrib/python-bindings/source/triangulation_wrapper.cc
  contrib/python-bindings/tests/triangulation_wrapper.py
  doc/news/changes/minor/20240327Turcksin
Labels: Python, ready to test

#16788 FEEvaluation: Add static asserts to functions selected by enable_if
  include/deal.II/matrix_free/fe_evaluation.h
Labels: Matrix-free, ready to test

#16813 Allocate the right amount of memory when serializing particles.
  source/particles/particle.cc
Labels: Reviewed and ready to merge, Particles, ready to test

#16815 Fix a second place where particles compute the size of a buffer.
  include/deal.II/particles/particle_accessor.h
  source/particles/particle_handler.cc
Labels: Reviewed and ready to merge, Particles, ready to test

#16816 No longer output the size of tensors into output file of a test.
  tests/tensors/constexpr_tensor.cc
  tests/tensors/constexpr_tensor.output
Labels: ready to test

#16814 Add codimension in get_name() for a few elements
  source/fe/fe_bernstein.cc
  source/fe/fe_hermite.cc
  source/fe/fe_nedelec_sz.cc
  source/fe/fe_pyramid_p.cc
  source/fe/fe_q_bubbles.cc
  source/fe/fe_simplex_p.cc
  source/fe/fe_wedge_p.cc
  tests/fe/get_fe_by_name_01.output
Labels: Reviewed and ready to merge, Finite Element, ready to test

#16820 distributed/tria.cc: avoid FPE due to undefined behavior
  source/distributed/tria.cc
Labels: External libraries, ready to test

#16823 Revert aligning tensors
  doc/news/changes/minor/20240323Bangerth
  include/deal.II/base/tensor.h
  tests/tensors/constexpr_tensor.cc
  tests/tensors/constexpr_tensor.output
Labels: ready to test
