Repository dealii/dealii, pull requests merged in 2024-07, with the labels that each got.

#17166 Edit step-89.cc.
  examples/step-89/step-89.cc
Labels: Tutorials, ready to test

#17186 MappingFEField: check that vectors have the correct size.
  source/fe/mapping_fe_field.cc
Labels: Mapping, Miscellaneous, ready to test

#17190 Add missing include.
  tests/examples/example_test.h
Labels: Bug, Tests, ready to test

#17175 Let AffineConstraints::make_consistent_in_parallel() iterate until converged.
  doc/news/changes/minor/20240620BangerthFehlingKronbichlerMunch
  include/deal.II/lac/affine_constraints.h
  include/deal.II/lac/affine_constraints.templates.h
  tests/lac/constraints_make_consistent_in_parallel_01.cc
  tests/lac/constraints_make_consistent_in_parallel_02.cc
  tests/lac/constraints_make_consistent_in_parallel_02.with_p4est=true.mpirun=2.output
Labels: Bug, hp adaptivity, Parallel distributed, ready to test

#17193 Fix the spelling of a class.
  include/deal.II/sundials/ida.h
Labels: Documentation, Reviewed and ready to merge, ready to test

#14553 MatrixFree: disable overlap of communication/computation for FE_Nothing
  include/deal.II/matrix_free/matrix_free.templates.h
  tests/matrix_free/fe_nothing_02.cc
  tests/matrix_free/fe_nothing_02.with_p4est=true.mpirun=3.output
Labels: Matrix-free, ready to test

#17185 Rename a callback in PETScWrappers::TimeStepper.
  doc/news/changes/minor/20240630Bangerth
  include/deal.II/lac/petsc_ts.h
  include/deal.II/lac/petsc_ts.templates.h
  tests/petsc/petsc_ts_03.cc
Labels: External libraries, ready to test

#17059 Add a class TaskResult.
  doc/news/changes/minor/20240521Bangerth
  include/deal.II/base/task_result.h
  include/deal.II/base/thread_management.h
  tests/multithreading/task_result_01.cc
  tests/multithreading/task_result_01.output
  tests/multithreading/task_result_02.cc
  tests/multithreading/task_result_02.output
Labels: ready to test

#17201 fix tests/sundials/ida_08
  tests/sundials/ida_08.output
  tests/sundials/ida_08_in.prm
  tests/sundials/ida_09.output
Labels: Tests, ready to test

#17189 GridTools::Cache: set up the default Mapping in another constructor.
  include/deal.II/grid/grid_tools_cache.h
  source/grid/grid_tools_cache.cc
  tests/simplex/compute_point_locations_01.cc
Labels: Enhancement, ready to test, Simplices

#17203 fix doxygen reflinks
  include/deal.II/base/function_lib.h
  include/deal.II/dofs/dof_tools.h
  include/deal.II/fe/fe_hermite.h
  include/deal.II/lac/cuda_solver_direct.h
  include/deal.II/matrix_free/fe_remote_evaluation.h
Labels: Documentation, ready to test

#17210 Make a function work with any Triangulation class.
  include/deal.II/grid/grid_tools.h
  source/grid/grid_tools.cc
  source/grid/grid_tools.inst.in
  tests/fullydistributed_grids/grid_tools_local_to_global_vertex_id.cc
  tests/fullydistributed_grids/grid_tools_local_to_global_vertex_id.mpirun=1.output
  tests/fullydistributed_grids/grid_tools_local_to_global_vertex_id.mpirun=4.output
  tests/grid/grid_tools_local_to_global_vertex_id.cc
Labels: Triangulation, ready to test

#17194 Rename a second callback in PETScWrappers::TimeStepper.
  doc/news/changes/minor/20240701Bangerth
  include/deal.II/lac/petsc_ts.h
  include/deal.II/lac/petsc_ts.templates.h
  tests/petsc/petsc_ts_03.cc
Labels: ready to test

#17198 Clean up some documentation for user pointers.
  include/deal.II/grid/tria_accessor.h
Labels: Documentation

#17206 Run codespell.
  doc/doxygen/CMakeLists.txt
  doc/doxygen/references.bib
  doc/news/3.0.0-vs-3.1.0.h
  doc/news/3.2.0-vs-3.3.0.h
  doc/news/3.4.0-vs-4.0.0.h
  doc/news/5.2.0-vs-6.0.0.h
  doc/news/6.2.0-vs-6.3.0.h
  doc/news/7.0.0-vs-7.1.0.h
  doc/news/7.1.0-vs-7.2.0.h
  doc/news/7.3.0-vs-8.0.0.h
  doc/news/8.2.1-vs-8.3.0.h
  doc/news/8.3.0-vs-8.4.0.h
  doc/news/8.4.2-vs-8.5.0.h
  doc/news/8.5.0-vs-9.0.0.h
  doc/news/9.0.1-vs-9.1.0.h
  doc/news/9.1.1-vs-9.2.0.h
  doc/news/9.2.0-vs-9.3.0.h
  doc/news/9.3.1-vs-9.3.2.h
  doc/news/9.3.3-vs-9.4.0.h
  doc/news/changes/minor/20230820Munch
  doc/news/changes/minor/20240519Bangerth
  examples/step-55/doc/intro.dox
  examples/step-89/step-89.cc
  examples/step-90/step-90.cc
  include/deal.II/base/parameter_handler.h
  include/deal.II/base/symbolic_function.h
  include/deal.II/fe/fe_coupling_values.h
  include/deal.II/grid/reference_cell.h
  include/deal.II/matrix_free/fe_evaluation.h
  include/deal.II/matrix_free/fe_remote_evaluation.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  include/deal.II/numerics/vector_tools_evaluate.h
  source/dofs/dof_tools_constraints.cc
  source/fe/fe_simplex_p.cc
Labels: Documentation

#17212 Fix deal_II_exceptions::internal::abort [[noexcept]] attribute for old Kokkos
  source/base/exceptions.cc
Labels: ready to test

#17207 Fix clang-tidy findings
  include/deal.II/base/aligned_vector.h
  include/deal.II/base/array_view.h
  include/deal.II/base/index_set.h
  include/deal.II/base/memory_space_data.h
  include/deal.II/base/table.h
  include/deal.II/base/thread_local_storage.h
  include/deal.II/differentiation/sd/symengine_optimizer.h
  include/deal.II/lac/affine_constraints.h
  include/deal.II/lac/block_indices.h
  include/deal.II/lac/block_vector.h
  include/deal.II/lac/block_vector.templates.h
  include/deal.II/lac/full_matrix.h
  include/deal.II/lac/la_parallel_block_vector.h
  include/deal.II/lac/la_parallel_block_vector.templates.h
  include/deal.II/lac/la_parallel_vector.h
  include/deal.II/lac/la_parallel_vector.templates.h
  include/deal.II/lac/linear_operator.h
  include/deal.II/lac/read_write_vector.h
  include/deal.II/lac/read_write_vector.templates.h
  include/deal.II/lac/trilinos_parallel_block_vector.h
  include/deal.II/lac/trilinos_tpetra_sparsity_pattern.h
  include/deal.II/lac/trilinos_tpetra_vector.h
  include/deal.II/lac/trilinos_vector.h
  include/deal.II/lac/vector.h
  include/deal.II/matrix_free/fe_remote_evaluation.h
  include/deal.II/matrix_free/tools.h
  source/base/index_set.cc
  source/differentiation/sd/symengine_number_types.cc
  source/differentiation/sd/symengine_utilities.cc
  source/grid/grid_in.cc
  source/grid/grid_tools.cc
  source/lac/trilinos_vector.cc
Labels: ready to test

#17208 Fix CppCheck complaints
  include/deal.II/algorithms/any_data.h
  include/deal.II/algorithms/newton.templates.h
  include/deal.II/algorithms/timestep_control.h
  include/deal.II/base/parallel.h
  include/deal.II/base/table_handler.h
  include/deal.II/base/thread_management.h
  include/deal.II/fe/fe_system.h
  include/deal.II/grid/tria.h
  include/deal.II/lac/sparsity_pattern.h
  source/algorithms/timestep_control.cc
  source/base/convergence_table.cc
  source/base/exceptions.cc
  source/base/mpi_compute_index_owner_internal.cc
  source/base/mu_parser_internal.cc
  source/base/parallel.cc
  source/base/parameter_acceptor.cc
  source/base/parameter_handler.cc
  source/base/polynomials_barycentric.cc
  source/base/quadrature_lib.cc
  source/base/table_handler.cc
  source/base/utilities.cc
  source/dofs/dof_handler.cc
  source/dofs/dof_tools.cc
  source/fe/fe_dgq.cc
Labels: Miscellaneous, ready to test

#17215 CMake: Bugfix: only set up valgrind wrapper when needed
  tests/performance/CMakeLists.txt
Labels: Build system, ready to test

#17217 CMake: fix release/debug only configure with CMake 3.30
  source/CMakeLists.txt
Labels: Build system, ready to test

#17187 Add accessor functions for essential geometric properties of the Manifold classes.
  doc/news/changes/minor/20240706DavidWells
  include/deal.II/grid/grid_generator.h
  include/deal.II/grid/manifold.h
  include/deal.II/grid/manifold_lib.h
  source/grid/grid_generator.cc
  source/grid/manifold_lib.cc
Labels: Manifold, Miscellaneous, ready to test

#17205 Add QSupportPointsSimplex
  include/deal.II/matrix_free/util.h
Labels: ready to test

#17214 Add FETools::compute_nodal_quadrature().
  doc/news/changes/minor/20240705DavidWells
  include/deal.II/fe/fe_tools.h
  include/deal.II/fe/fe_tools.templates.h
  source/fe/fe_tools.inst.in
  tests/fe/fe_tools_nodal_quadrature.cc
  tests/fe/fe_tools_nodal_quadrature.output
  tests/simplex/fe_p_bubbles_02.cc
Labels: Enhancement, Finite Element, ready to test

#17221 distributed::Triangulation: broadcast p4est checksum over all ranks
  source/distributed/tria.cc
  tests/mappings/mapping_q_eulerian_14.with_p4est=true.mpirun=3.output
  tests/mappings/mapping_q_eulerian_14.with_p4est=true.mpirun=4.output
  tests/mpi/attach_data_01.with_p4est=true.mpirun=3.output
  tests/mpi/attach_data_01.with_p4est=true.mpirun=8.output
  tests/mpi/attach_data_02.with_p4est=true.mpirun=3.output
  tests/mpi/attach_data_02.with_p4est=true.mpirun=8.output
  tests/mpi/codim_01.mpirun=3.with_zlib=on.with_p4est=true.with_p4est_with_vtk_binary=false.output
  tests/mpi/codim_01.mpirun=3.with_zlib=on.with_p4est=true.with_p4est_with_vtk_binary=false.output.1
  tests/mpi/p4est_2d_find_point_owner_rank_01.mpirun=3.with_p4est=true.with_p4est_with_search_local=true.output
  tests/mpi/p4est_2d_find_point_owner_rank_01.mpirun=5.with_p4est=true.with_p4est_with_search_local=true.output
  tests/mpi/p4est_2d_find_point_owner_rank_02.mpirun=3.with_p4est=true.with_p4est_with_search_local=true.output
  tests/mpi/p4est_2d_find_point_owner_rank_02.mpirun=5.with_p4est=true.with_p4est_with_search_local=true.output
  tests/mpi/p4est_2d_refine_02.mpirun=10.with_p4est=true.output
  tests/mpi/p4est_2d_refine_02.mpirun=4.with_p4est=true.output
  tests/mpi/p4est_3d_find_point_owner_rank_01.mpirun=3.with_p4est=true.with_p4est_with_search_local=true.output
  tests/mpi/p4est_3d_find_point_owner_rank_01.mpirun=5.with_p4est=true.with_p4est_with_search_local=true.output
  tests/mpi/p4est_3d_find_point_owner_rank_02.mpirun=3.with_p4est=true.with_p4est_with_search_local=true.output
  tests/mpi/p4est_3d_find_point_owner_rank_02.mpirun=5.with_p4est=true.with_p4est_with_search_local=true.output
  tests/mpi/p4est_save_04.with_petsc=true.mpirun=5.with_p4est=true.output
  tests/mpi/p4est_save_05.mpirun=5.with_p4est=true.output
  tests/mpi/p4est_save_06.with_p4est=true.with_petsc=true.mpirun=5.output
  tests/mpi/p4est_save_07.mpirun=4.with_p4est=true.output
  tests/mpi/p4est_save_07.mpirun=5.with_p4est=true.output
Labels: Reviewed and ready to merge, ready to test

#17220 fix compilation by putting back std::move()
  source/differentiation/sd/symengine_number_types.cc
Labels: Reviewed and ready to merge, ready to test

#17226 fix tests/sundial/n_vector.cc for sundials 7
  tests/sundials/n_vector.cc
Labels: Tests, ready to test

#17224 fix tests/sundials/kinsol_08 warning
  tests/sundials/kinsol_08.cc
Labels: Tests, ready to test

#17223 fix tests/examples/step-40
  tests/examples/step-40.mpirun=2.with_p4est=true.with_petsc=true.output2
Labels: Tests, ready to test

#17211 add tests/feinterface/stokes_simplex
  tests/feinterface/stokes_simplex.cc
  tests/feinterface/stokes_simplex.with_umfpack=on.output
Labels: Tests, ready to test

#17228 Add missing deprecation.
  include/deal.II/lac/petsc_ts.h
Labels: Reviewed and ready to merge, ready to test

#17229 ReadWriteVector: correctly copy an index set with no elements.
  doc/news/changes/minor/20240708WellsAbdala
  include/deal.II/lac/read_write_vector.templates.h
  tests/lac/readwritevector_assignment.cc
  tests/lac/readwritevector_assignment.output
Labels: Bug, ready to test

#14905 Add consistent strategy to merge constraints in parallel
  include/deal.II/lac/affine_constraints.templates.h
  tests/lac/constraints_make_consistent_in_parallel_03.cc
  tests/lac/constraints_make_consistent_in_parallel_03.mpirun=3.output
Labels: Parallel distributed, ready to test

#17239 Provide a better error message.
  source/base/parameter_handler.cc
Labels: Reviewed and ready to merge, ready to test

#17238 AffineConstraints: Fix compile warning in new code
  include/deal.II/lac/affine_constraints.templates.h
Labels: Reviewed and ready to merge, Linear Algebra, ready to test

#17237 Fix doxygen warnings
  doc/doxygen/headers/laoperators.h
  include/deal.II/base/geometry_info.h
  include/deal.II/base/mpi_consensus_algorithms.h
  include/deal.II/base/thread_management.h
  include/deal.II/distributed/fully_distributed_tria.h
  include/deal.II/distributed/tria_base.h
  include/deal.II/grid/grid_generator.h
  include/deal.II/grid/reference_cell.h
  include/deal.II/grid/tria.h
  include/deal.II/grid/tria_accessor.h
  include/deal.II/grid/tria_description.h
  include/deal.II/lac/ginkgo_solver.h
  include/deal.II/lac/petsc_block_sparse_matrix.h
  include/deal.II/lac/petsc_block_vector.h
  include/deal.II/lac/trilinos_block_sparse_matrix.h
  include/deal.II/lac/trilinos_parallel_block_vector.h
  include/deal.II/lac/trilinos_tpetra_block_sparse_matrix.h
  include/deal.II/lac/trilinos_tpetra_block_vector.h
  include/deal.II/matrix_free/portable_fe_evaluation.h
  include/deal.II/matrix_free/portable_matrix_free.h
  include/deal.II/matrix_free/portable_tensor_product_kernels.h
  include/deal.II/particles/data_out.h
  include/deal.II/particles/particle.h
  include/deal.II/particles/particle_handler.h
Labels: Reviewed and ready to merge, ready to test

#17234 Add a test that checks backward compatibility.
  tests/petsc/petsc_ts_03_compat.cc
  tests/petsc/petsc_ts_03_compat.output
  tests/petsc/petsc_ts_03_compat.output.3.15.5
  tests/petsc/petsc_ts_03_compat.output.pre3.20
Labels: ready to test

#17235 Augment the documentation of some PETScWrapper::TimeStepper callbacks.
  include/deal.II/lac/petsc_ts.h
Labels: Documentation, ready to test

#17240 Leave another comment in the documentation of SUNDIALS::IDA.
  include/deal.II/sundials/ida.h
Labels: Documentation

#17231 Add instantiations to dof_renumbering.inst.in
  source/dofs/dof_renumbering.inst.in
Labels: ready to test

#17241 Fix ghost update for step-66
  examples/step-66/step-66.cc
Labels: Reviewed and ready to merge, Tutorials, ready to test

#17222 Rework and restructure type definitions of TpetraWrappers classes
  include/deal.II/lac/trilinos_tpetra_block_sparse_matrix.templates.h
  include/deal.II/lac/trilinos_tpetra_communication_pattern.h
  include/deal.II/lac/trilinos_tpetra_solver_direct.h
  include/deal.II/lac/trilinos_tpetra_solver_direct.templates.h
  include/deal.II/lac/trilinos_tpetra_sparse_matrix.h
  include/deal.II/lac/trilinos_tpetra_sparse_matrix.templates.h
  include/deal.II/lac/trilinos_tpetra_sparsity_pattern.h
  include/deal.II/lac/trilinos_tpetra_types.h
  include/deal.II/lac/trilinos_tpetra_vector.h
  include/deal.II/lac/trilinos_tpetra_vector.templates.h
  include/deal.II/lac/vector.templates.h
  source/lac/trilinos_tpetra_communication_pattern.cc
  source/lac/trilinos_tpetra_sparsity_pattern.cc
Labels: ready to test

#17242 Fix MSVC warning in step-63.
  examples/step-63/step-63.cc
Labels: Reviewed and ready to merge, Tutorials, ready to test

#17225 fix tests/numerics/nonlinear_solver_selector_01
  tests/numerics/nonlinear_solver_selector_01.cc
Labels: Tests, ready to test

#17254 step-87: Clear ghost values in a vector
  examples/step-87/step-87.cc
Labels: Reviewed and ready to merge, Tutorials, ready to test

#17252 Add DiscreteTime::serialize() and DiscreteTime::memory_consumption()
  doc/news/changes/minor/20240711Africa
  include/deal.II/base/discrete_time.h
  source/base/discrete_time.cc
  tests/serialization/discrete_time_01.cc
  tests/serialization/discrete_time_01.output
Labels: Reviewed and ready to merge, ready to test

#17165 testing of step-40 to step-49
  tests/examples/step-40.diff
  tests/examples/step-41.diff
  tests/examples/step-41.mpirun=1.with_trilinos=true.output
  tests/examples/step-42.diff
  tests/examples/step-42.mpirun=2.with_p4est=true.with_trilinos=true.output
  tests/examples/step-43.diff
  tests/examples/step-43.mpirun=1.with_trilinos=true.output
  tests/examples/step-44.diff
  tests/examples/step-44.output
  tests/examples/step-45.diff
  tests/examples/step-45.mpirun=2.with_p4est=true.with_trilinos=true.output
  tests/examples/step-46.diff
  tests/examples/step-46.with_umfpack=true.output
  tests/examples/step-47.diff
  tests/examples/step-47.output
  tests/examples/step-48.diff
  tests/examples/step-49.diff
  tests/examples/step-49.output
Labels: Tutorials, Tests, ready to test

#17245 testing step-70 to step-79
  tests/examples/step-70.diff
  tests/examples/step-70.with_petsc=true.with_trilinos=true.with_p4est=true.output
  tests/examples/step-72.diff
  tests/examples/step-72.with_trilinos=true.with_trilinos_with_sacado=true.output
  tests/examples/step-74.diff
  tests/examples/step-74.output
  tests/examples/step-75.diff
  tests/examples/step-75.with_p4est=true.with_trilinos=true.output
  tests/examples/step-76.diff
  tests/examples/step-77.diff
  tests/examples/step-78.diff
  tests/examples/step-78.output
  tests/examples/step-79.diff
  tests/examples/step-79.output
Labels: ready to test

#17257 Fix Tpetra types for older Trilinos
  include/deal.II/lac/trilinos_tpetra_sparse_matrix.templates.h
  source/lac/trilinos_tpetra_sparsity_pattern.cc
Labels: Reviewed and ready to merge, ready to test

#17259 CMake: Explain why we disable dynamic linking on Windows.
  cmake/checks/check_02_system_features.cmake
Labels: ready to test

#17258 step-29 no longer uses deallog. Update output in results.dox accordingly.
  examples/step-29/doc/results.dox
Labels: Reviewed and ready to merge, Tutorials

#17255 Updates to the LogStream documentation.
  include/deal.II/base/logstream.h
Labels: Documentation, Reviewed and ready to merge, ready to test

#17261 Remove an unnecessary 'typename' in step-19.
  examples/step-19/step-19.cc
Labels: Tutorials, ready to test

#17262 Make a 'Mapping' object 'const'.
  examples/step-19/step-19.cc
Labels: Tutorials, ready to test

#17248 testing of step-80 to step-89
  tests/examples/step-81.diff
  tests/examples/step-81.with_umfpack=true.with_complex_values=true.output
  tests/examples/step-82.diff
  tests/examples/step-82.output
  tests/examples/step-85.diff
  tests/examples/step-85.output
  tests/examples/step-89.diff
  tests/examples/step-89.mpirun=1.with_cgal=false.output
  tests/examples/step-89.mpirun=2.with_cgal=true.output
Labels: Reviewed and ready to merge, ready to test

#17244 Add `face_to_cell_index_nodal` for simplex elements
  include/deal.II/matrix_free/shape_info.templates.h
  tests/matrix_free/face_to_cell_index_nodal_simplex.cc
  tests/matrix_free/face_to_cell_index_nodal_simplex.output
Labels: Matrix-free, ready to test, Simplices

#15655 github: update indent worker to Ubuntu 22.04
  .github/workflows/indent.yml
Labels: ready for review, Tests, ready to test

#17233 Rename a third callback in PETScWrappers::TimeStepper.
  doc/news/changes/minor/20240709Bangerth
  include/deal.II/lac/petsc_ts.h
  include/deal.II/lac/petsc_ts.templates.h
  tests/petsc/petsc_ts_03.cc
Labels: Reviewed and ready to merge, External libraries, ready to test

#17275 Github: add a-framework/ tests to github actions
  .github/workflows/linux.yml
  .github/workflows/osx.yml
  .github/workflows/windows.yml
  tests/run_quick_tests.cmake
Labels: Reviewed and ready to merge

#17283 fix petsc installation readme
  doc/external-libs/petsc.html
Labels: Reviewed and ready to merge

#17277 `Parameterhandler`/`ParameterAcceptor`: do not use `PathSearch::ExcFileNotFound`
  doc/news/changes/incompatibilities/20240717Maier2
  source/base/parameter_acceptor.cc
  source/base/parameter_handler.cc
Labels: Infrastructure, Reviewed and ready to merge, ready to test

#17273 Triangulation: pack/unpack fixed/variable data
  include/deal.II/distributed/fully_distributed_tria.h
  include/deal.II/distributed/tria.h
  include/deal.II/grid/tria.h
  source/grid/tria.cc
  source/particles/particle_handler.cc
Labels: Reviewed and ready to merge, Triangulation, ready to test

#17285 Add to the documentation of FEFieldFunction.
  include/deal.II/numerics/fe_field_function.h
Labels: Documentation, Reviewed and ready to merge

#17267 Add mpirun for steps 70 & 75 output files
  tests/examples/step-70.with_trilinos=false.with_petsc=true.with_p4est=true.mpirun=1.output
  tests/examples/step-70.with_trilinos=true.with_p4est=true.mpirun=1.output
  tests/examples/step-75.mpirun=1.with_p4est=true.with_trilinos=true.output
Labels: ready to test

#15540 step-86: Use reasonable time stepping for a heat equation solver.
  doc/doxygen/tutorial/tutorial.h.in
  examples/step-26/doc/results.dox
  examples/step-86/CMakeLists.txt
  examples/step-86/doc/builds-on
  examples/step-86/doc/intro.dox
  examples/step-86/doc/kind
  examples/step-86/doc/results.dox
  examples/step-86/doc/tooltip
  examples/step-86/heat_equation.prm
  examples/step-86/step-86.cc
  include/deal.II/base/parsed_function.h
  include/deal.II/lac/petsc_ts.h
Labels: High Priority :warning:, ready to test

#17290 Add more comparisons to hp::Collection::CollectionIterator.
  include/deal.II/hp/collection.h
Labels: Miscellaneous, ready to test

#17289 Improve documentation of FEEvaluation::submit_xxx()
  include/deal.II/matrix_free/fe_evaluation.h
Labels: Documentation

#17130 Converting the step30-39 tutorials to CTests.
  tests/examples/step-30.diff
  tests/examples/step-30.output
  tests/examples/step-31.diff
  tests/examples/step-31.mpirun=1.with_trilinos=true.output
  tests/examples/step-32.diff
  tests/examples/step-32.mpirun=2.with_trilinos=true.with_p4est=true.output
  tests/examples/step-33.diff
  tests/examples/step-33.mpirun=2.with_trilinos_with_sacado=true.with_muparser=true.output
  tests/examples/step-34.diff
  tests/examples/step-34.with_muparser=true.output
  tests/examples/step-35.diff
  tests/examples/step-35.with_umfpack=true.output
  tests/examples/step-36.diff
  tests/examples/step-36.mpirun=1.with_petsc=true.with_slepc=true.output
  tests/examples/step-37.diff
  tests/examples/step-37.output
  tests/examples/step-38.diff
  tests/examples/step-38.output
  tests/examples/step-39.diff
Labels: Reviewed and ready to merge, ready to test

#17294 Name variables according to their purpose.
  include/deal.II/distributed/tria.h
  include/deal.II/grid/tria.h
  source/distributed/tria.cc
  source/grid/tria.cc
Labels: Reviewed and ready to merge, ready to test

#17287 Implement divergence for FEPointEvaluation
  include/deal.II/matrix_free/fe_point_evaluation.h
  tests/matrix_free/point_evaluation_34.cc
  tests/matrix_free/point_evaluation_34.output
Labels: Matrix-free, ready to test

#17301 Rename a private member variable.
  include/deal.II/particles/particle_handler.h
  source/particles/particle_handler.cc
Labels: Reviewed and ready to merge, Particles, ready to test

#17183 Add wrappers for Tpetra Ifpack2 preconditioners
  cmake/configure/configure_20_trilinos.cmake
  doc/doxygen/references.bib
  doc/news/changes/major/20240718Thiele
  include/deal.II/base/config.h.in
  include/deal.II/lac/trilinos_tpetra_precondition.h
  include/deal.II/lac/trilinos_tpetra_precondition.templates.h
  include/deal.II/lac/trilinos_tpetra_types.h
  source/lac/CMakeLists.txt
  source/lac/trilinos_tpetra_precondition.cc
  tests/trilinos_tpetra/add_matrices_06.cc
  tests/trilinos_tpetra/add_matrices_06.output
  tests/trilinos_tpetra/direct_solver_01.cc
  tests/trilinos_tpetra/direct_solver_01.with_p4est=true.with_trilinos_with_amesos2=true.mpirun=1.output
  tests/trilinos_tpetra/direct_solver_02.cc
  tests/trilinos_tpetra/direct_solver_02.with_p4est=true.with_trilinos_with_amesos2=true.mpirun=1.output
  tests/trilinos_tpetra/precondition.cc
  tests/trilinos_tpetra/precondition.output
Labels: Linear Algebra, External libraries, ready to test

#17292 Add set of passing Tpetra tests
  tests/trilinos_tpetra/08.cc
  tests/trilinos_tpetra/08.output
  tests/trilinos_tpetra/49.cc
  tests/trilinos_tpetra/49.output
  tests/trilinos_tpetra/n_nonzeros_01.cc
  tests/trilinos_tpetra/n_nonzeros_01.output
  tests/trilinos_tpetra/n_nonzeros_02.cc
  tests/trilinos_tpetra/n_nonzeros_02.output
  tests/trilinos_tpetra/sparse_matrix_02.cc
  tests/trilinos_tpetra/sparse_matrix_02.output
  tests/trilinos_tpetra/sparse_matrix_03.cc
  tests/trilinos_tpetra/sparse_matrix_03.output
  tests/trilinos_tpetra/sparse_matrix_04.cc
  tests/trilinos_tpetra/sparse_matrix_04.output
  tests/trilinos_tpetra/sparse_matrix_copy_from_02.cc
  tests/trilinos_tpetra/sparse_matrix_copy_from_02.with_trilinos=true.mpirun=3.output
  tests/trilinos_tpetra/sparse_matrix_iterator_01.cc
  tests/trilinos_tpetra/sparse_matrix_iterator_01.output
  tests/trilinos_tpetra/sparse_matrix_vector_08.cc
  tests/trilinos_tpetra/sparse_matrix_vector_08.output
  tests/trilinos_tpetra/vector_assign_01.cc
  tests/trilinos_tpetra/vector_assign_01.output
  tests/trilinos_tpetra/vector_assign_02.cc
  tests/trilinos_tpetra/vector_assign_02.output
  tests/trilinos_tpetra/vector_equality_1.cc
  tests/trilinos_tpetra/vector_equality_1.output
  tests/trilinos_tpetra/vector_equality_2.cc
  tests/trilinos_tpetra/vector_equality_2.output
  tests/trilinos_tpetra/vector_equality_3.cc
  tests/trilinos_tpetra/vector_equality_3.output
  tests/trilinos_tpetra/vector_equality_4.cc
  tests/trilinos_tpetra/vector_equality_4.output
Labels: Reviewed and ready to merge, ready to test

#17311 Fix Ifpack2 preconditioner type
  include/deal.II/lac/trilinos_tpetra_types.h
Labels: Reviewed and ready to merge, External libraries, ready to test

#17296 Check that we can read from/write to streams.
  source/grid/tria.cc
Labels: Reviewed and ready to merge, ready to test

#17209 testing step-50 to step-59
  examples/step-54/step-54.cc
  tests/examples/example_test.h
  tests/examples/step-50.diff
  tests/examples/step-50.mpirun=2.with_p4est=true.with_petsc=true.output
  tests/examples/step-51.diff
  tests/examples/step-51.output
  tests/examples/step-52.diff
  tests/examples/step-52.with_umfpack=true.output
  tests/examples/step-53.diff
  tests/examples/step-53.with_zlib=true.output
  tests/examples/step-54.diff
  tests/examples/step-54.with_opencascade=true.output
  tests/examples/step-55.diff
  tests/examples/step-55.mpirun=2.with_p4est=true.with_petsc=true.output
  tests/examples/step-56.diff
  tests/examples/step-56.output
  tests/examples/step-57.diff
  tests/examples/step-57.output
  tests/examples/step-58.diff
  tests/examples/step-58.output
  tests/examples/step-59.diff
  tests/examples/step-59.output
Labels: Reviewed and ready to merge, Tutorials, ready to test

#17313 Guard isSupported check in preconditioners to Trilinos >=13.0.0
  include/deal.II/lac/trilinos_tpetra_precondition.templates.h
  tests/trilinos_tpetra/precondition.cc
  tests/trilinos_tpetra/precondition.with_trilinos.geq.13.output
  tests/trilinos_tpetra/precondition.with_trilinos.le.13.output
Labels: Reviewed and ready to merge, External libraries, ready to test

#17308 step-33: disallow MPI
  examples/step-33/step-33.cc
  tests/examples/step-33.with_trilinos_with_sacado=true.with_muparser=true.output
Labels: Tutorials, Tests, ready to test

#17310 tests/examples/step-34: remove solver output
  tests/examples/step-34.diff
  tests/examples/step-34.with_muparser=true.output
Labels: Tests, ready to test

#17314 Add check for vectorization level to test output of step-75
  tests/examples/step-75.vectorization_level.leq.1.mpirun=1.with_p4est=true.with_trilinos=true.output
Labels: Reviewed and ready to merge, ready to test

#17316 Add a test for shared::Triangulation.
  tests/sharedtria/boundary_dofs_01.cc
  tests/sharedtria/boundary_dofs_01.with_metis=true.mpirun=1.output
  tests/sharedtria/boundary_dofs_01.with_metis=true.mpirun=2.output
  tests/sharedtria/boundary_dofs_01.with_metis=true.mpirun=4.output
Labels: Tests, Parallel shared, ready to test

#17295 Make some variables 'unsigned'.
  source/grid/tria.cc
Labels: Reviewed and ready to merge, ready to test

#17297 No need to explicity call 'close()' at the end of a scope.
  source/grid/tria.cc
Labels: Reviewed and ready to merge, ready to test

#17307 Consistently use interior normal vector
  include/deal.II/matrix_free/fe_point_evaluation.h
  tests/non_matching/mapping_info_04.cc
Labels: Matrix-free, ready to test

#17303 VectorTools::compute_no_normal_flux_constraints: use mapping in the case of linear manifold
  doc/news/changes/minor/20240719Munch
  include/deal.II/numerics/vector_tools_constraints.h
  include/deal.II/numerics/vector_tools_constraints.templates.h
  source/numerics/vector_tools_constraints.inst.in
  tests/mpi/p4est_2d_constraintmatrix_03.cc
  tests/mpi/p4est_2d_constraintmatrix_03.with_trilinos=true.mpirun=10.with_p4est=true.output
  tests/mpi/p4est_2d_constraintmatrix_03.with_trilinos=true.mpirun=4.with_p4est=true.output
Labels: Reviewed and ready to merge, Mapping, Manifold, ready to test

#17177 Implement new multigrid transfer with MatrixFree infrastructure
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  tests/multigrid-global-coarsening/mg_transfer_p_08.cc
  tests/multigrid-global-coarsening/mg_transfer_p_08.output
  tests/multigrid-global-coarsening/mg_transfer_p_09.cc
  tests/multigrid-global-coarsening/mg_transfer_p_09.with_p4est=true.mpirun=2.output
  tests/multigrid-global-coarsening/mg_transfer_p_10.cc
  tests/multigrid-global-coarsening/mg_transfer_p_10.output
  tests/performance/timing_mg_glob_coarsen.cc
Labels: High Priority :warning:, Multigrid, Matrix-free, ready to test

#17315 Move an #ifdef guard.
  include/deal.II/base/trilinos_utilities.h
Labels: External libraries, ready to test

#17320 Add TaskResult::try_emplace_task().
  include/deal.II/base/task_result.h
  tests/multithreading/task_result_03.cc
  tests/multithreading/task_result_03.output
Labels: Reviewed and ready to merge, ready to test

#17324 tests/examples/step-75 add output
  tests/examples/step-75.mpirun=1.with_p4est=true.with_trilinos=true.output
  tests/examples/step-75.mpirun=1.with_p4est=true.with_trilinos=true.output.avx
Labels: Tests, ready to test

#17278 Modernized Windows workflow.
  .github/workflows/windows.yml
Labels: Windows

#17276 Deprecate PathSearch, remove internal use
  doc/news/changes/incompatibilities/20240717Maier
  include/deal.II/base/path_search.h
  include/deal.II/grid/grid_in.h
  source/grid/grid_in.cc
  tests/grid/grid_in.cc
  tests/grid/grid_in_msh.cc
  tests/grid/grid_in_msh_03.cc
  tests/grid/grid_in_msh_03.output
  tests/grid/grid_in_msh_03_v4.cc
  tests/grid/grid_in_msh_03_v4.output
  tests/grid/grid_in_msh_v4.cc
  tests/grid/grid_in_msh_version_1.cc
  tests/grid/grid_in_msh_version_1.output
  tests/grid/grid_in_msh_version_2.cc
  tests/grid/grid_in_unv_2d.cc
  tests/grid/grid_in_unv_3d.cc
  tests/grid/grid_in_unv_3d_02.cc
Labels: Infrastructure, ready to test

#17298 PetscWrappers::VectorBase: add a missing header.
  include/deal.II/lac/petsc_vector_base.h
Labels: Reviewed and ready to merge, External libraries, ready to test

#17333 Test examples/step-52: disable unstable output
  tests/examples/step-52.diff
  tests/examples/step-52.with_umfpack=true.output
Labels: Tutorials, Tests, ready to test

#17335 Test examples/step-31: add an output variant for avx256/avx512
  tests/examples/step-31.mpirun=1.with_trilinos=true.output.avx256-512
Labels: Tests, ready to test

#17338 Test examples/step-75: add an avx512 variant
  tests/examples/step-75.mpirun=1.with_p4est=true.with_trilinos=true.output.avx256
  tests/examples/step-75.mpirun=1.with_p4est=true.with_trilinos=true.output.avx512
Labels: Tests, ready to test

#17342 Fix typo.
  source/base/index_set.cc
Labels: Reviewed and ready to merge

#17339 Minor cleanup of Windows workflow.
  .github/workflows/windows.yml
Labels: Reviewed and ready to merge, Windows

#17336 Test examples/step-36: do not compare test output
  tests/examples/step-36.mpirun=1.with_petsc=true.with_slepc=true.run_only
Labels: Tests, Linear Algebra, External libraries, ready to test

#17330 Test examples/step-60: do not write "used_parameters.prm" into source directory
  tests/examples/step-60.diff
Labels: Tutorials, Tests, ready to test

#17340 Test sundials/n_vector: adjust an assert for sundials 7
  tests/sundials/n_vector.cc
Labels: Reviewed and ready to merge, Tests, ready to test

#17341 Test sundials/kinsol_08: remove calls to deprecated and removed functions
  tests/sundials/kinsol_08.cc
  tests/sundials/kinsol_08.output.sundials7
Labels: Reviewed and ready to merge, Tests, ready to test

#17343 Test sundials/ida_(06|07): add output variant with repeated line removed
  tests/sundials/ida_06.output.sundials7
  tests/sundials/ida_07.output.sundials7
Labels: Reviewed and ready to merge, Tests, ready to test

#17344 Test sundials/arkode_01: add output variant for sundials 7
  tests/sundials/arkode_01.output.sundials7
Labels: Reviewed and ready to merge, Tests, ready to test

#17348 Test opencascade/stl_(write|refinement): disable floating point exceptions
  tests/opencascade/stl_refinement.cc
  tests/opencascade/stl_write.cc
Labels: Reviewed and ready to merge, Tests

#17350 Test grid/grid_generator_pipe_junction: do not compare test output
  tests/grid/grid_generator_pipe_junction.output
  tests/grid/grid_generator_pipe_junction.output.clang-libc++
  tests/grid/grid_generator_pipe_junction.run_only
Labels: Reviewed and ready to merge, Tests, ready to test

#17351 Test hp/dof_renumbering_04: add output variant
  tests/hp/dof_renumbering_04.output.libc++-clang18
Labels: Reviewed and ready to merge, Tests, ready to test

#17347 MGTwoLevelTransfer: Extend new MatrixFree-based to multiple components
  doc/news/changes/minor/20240722Kronbichler
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  tests/multigrid-global-coarsening/mg_transfer_p_11.cc
  tests/multigrid-global-coarsening/mg_transfer_p_11.output
Labels: Multigrid, ready to test

#17352 Test serialization/fe_series_(01|02): add output variant
  tests/serialization/fe_series_01.output.libc++-clang18
  tests/serialization/fe_series_02.output.libc++-clang18
Labels: Reviewed and ready to merge, Tests, ready to test

#17329 Fix TaskResult::clear().
  include/deal.II/base/task_result.h
Labels: Reviewed and ready to merge, ready to test

#17346 Do not disable ZLIB on Windows.
  .github/workflows/windows.yml
Labels: Windows

#17354 Use a more stable numbering for DoFRenumbering::downstream
  tests/dofs/dof_renumbering_02.cc
  tests/dofs/dof_renumbering_02.output
  tests/dofs/dof_renumbering_02.output.avx512
  tests/dofs/dof_renumbering_02.output.clang-6.0-libc++
Labels: Reviewed and ready to merge, Tests, DoFs, ready to test

#17345 Periodic boundary conditions: Fix orientation problem
  doc/news/changes/minor/20240722Kronbichlerb
  source/distributed/tria.cc
  tests/distributed_grids/2d_periodicity_01.cc
Labels: Reviewed and ready to merge, Triangulation, Parallel distributed, ready to test

#17353 Drop TaskResult::wait_and_move_result() in favor of join().
  include/deal.II/base/task_result.h
Labels: ready to test

#12429 step-83: checkpoint/restart and serialization
  doc/doxygen/references.bib
  doc/doxygen/tutorial/tutorial.h.in
  examples/step-83/CMakeLists.txt
  examples/step-83/doc/builds-on
  examples/step-83/doc/intro.dox
  examples/step-83/doc/kind
  examples/step-83/doc/results.dox
  examples/step-83/doc/tooltip
  examples/step-83/step-83.cc
  examples/step-86/doc/intro.dox
  include/deal.II/base/discrete_time.h
  include/deal.II/grid/tria.h
  include/deal.II/particles/particle_handler.h
Labels: Reviewed and ready to merge, Tutorials, ready to test

#17349 Test dofs/dof_renumbering_(04|07): do not compare output
  tests/dofs/dof_renumbering_04.output
  tests/dofs/dof_renumbering_04.output.boost-1.56
  tests/dofs/dof_renumbering_04.output.clang-libc++
  tests/dofs/dof_renumbering_04.run_only
  tests/dofs/dof_renumbering_07.output
  tests/dofs/dof_renumbering_07.output.boost-1.56
  tests/dofs/dof_renumbering_07.output.clang-libc++
  tests/dofs/dof_renumbering_07.run_only
Labels: Reviewed and ready to merge, Tests, ready to test

#17359 Fix warning in check_solver_within_range().
  tests/examples/example_test.h
Labels: Tests, ready to test

#17360 Fix some dependencies.
  examples/step-74/CMakeLists.txt
  examples/step-79/CMakeLists.txt
  tests/examples/step-29.with_umfpack=true.output
  tests/examples/step-58.with_umfpack=true.with_complex_values=true.output
  tests/examples/step-74.with_umfpack=true.output
  tests/examples/step-79.with_umfpack=true.output
Labels: Reviewed and ready to merge, Tests, ready to test

#17357 Allow the assignment onto vectors with one-to-one map.
  include/deal.II/lac/trilinos_tpetra_vector.templates.h
Labels: Linear Algebra, External libraries, ready to test

#17358 FETools: Remove tasking from compute_embedding_matrices
  include/deal.II/fe/fe_tools.templates.h
Labels: Finite Element, Parallel shared, ready to test

#17332 Compatibility with CGAL 6.0
  doc/news/changes/minor/20240723Loriot
  source/cgal/intersections.cc
Labels: High Priority :warning:, Reviewed and ready to merge, ready to test

#17362 CMake: clean up Tpetra warnings
  cmake/configure/configure_20_trilinos.cmake
Labels: Build system, ready to test

#17364 MGTwoLevelTransfer with MatrixFree option: Skip fine constraints
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Reviewed and ready to merge, Multigrid, ready to test

#17367 Add two matrix-free-related changelog entries
  doc/news/changes/minor/20230911Kronbichler
  doc/news/changes/minor/20230912Kronbichler
Labels: Documentation

#17356 Introduce TaskResult::empty().
  include/deal.II/base/task_result.h
  tests/multithreading/task_result_05.cc
  tests/multithreading/task_result_05.output
Labels: Reviewed and ready to merge, ready to test

#17370 CMake: fix syntax warning
  cmake/configure/configure_20_trilinos.cmake
Labels: Reviewed and ready to merge, ready to test

#17355 fix NonlinearSolverSelector MPI_COMM
  include/deal.II/numerics/nonlinear.h
  tests/numerics/nonlinear_solver_selector_01.cc
Labels: Reviewed and ready to merge, ready to test

#17371 .gitattributes: update for testsuite changes
  .gitattributes
Labels: Reviewed and ready to merge

#17369 MGTwoLevelTransfer: Use function without constraints forgotten before
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
Labels: Multigrid, ready to test

#17373 Adjust tests for class Lazy.
  tests/base/lazy_01.cc
  tests/base/lazy_01.output
  tests/base/lazy_02.cc
  tests/base/lazy_02.output
Labels: Tests, Parallel shared, ready to test

#17376 Fix MSVC not finding an overloaded function.
  include/deal.II/lac/tensor_product_matrix.h
Labels: Reviewed and ready to merge, Windows, ready to test

#17377 Update VERSION
  VERSION
Labels: High Priority :warning:, Reviewed and ready to merge

#17378 [9.6] update AUTHORS.md and LICENSE.md
  AUTHORS.md
  LICENSE.md
Labels: Reviewed and ready to merge

#17337 FEFaceEvaluation: Implement normal hessian
  include/deal.II/matrix_free/fe_evaluation.h
  tests/matrix_free/matrix_vector_normal_hessians.cc
  tests/matrix_free/matrix_vector_normal_hessians.output
Labels: Matrix-free, ready to test

#17379 Post release branch: switch DEAL_II_DEPRECATED_EARLY to DEAL_II_DEPRECATED
  doc/doxygen/options.dox.in
  include/deal.II/base/mpi_remote_point_evaluation.h
  include/deal.II/base/qprojector.h
  include/deal.II/base/tensor.h
  include/deal.II/dofs/dof_tools.h
  include/deal.II/fe/block_mask.h
  include/deal.II/fe/component_mask.h
  include/deal.II/fe/fe_tools.h
  include/deal.II/grid/cell_status.h
  include/deal.II/grid/manifold_lib.h
  include/deal.II/grid/tria.h
  include/deal.II/integrators/advection.h
  include/deal.II/integrators/divergence.h
  include/deal.II/integrators/elasticity.h
  include/deal.II/integrators/grad_div.h
  include/deal.II/integrators/l2.h
  include/deal.II/integrators/laplace.h
  include/deal.II/integrators/maxwell.h
  include/deal.II/integrators/patches.h
  include/deal.II/lac/affine_constraints.h
  include/deal.II/lac/petsc_ts.h
  include/deal.II/matrix_free/cuda_fe_evaluation.h
  include/deal.II/matrix_free/cuda_hanging_nodes_internal.h
  include/deal.II/matrix_free/cuda_matrix_free.h
  include/deal.II/matrix_free/cuda_matrix_free.templates.h
  include/deal.II/matrix_free/cuda_tensor_product_kernels.h
  include/deal.II/matrix_free/fe_evaluation_data.h
  include/deal.II/matrix_free/fe_point_evaluation.h
  include/deal.II/matrix_free/portable_fe_evaluation.h
  include/deal.II/meshworker/local_integrator.h
  include/deal.II/meshworker/loop.h
Labels: Reviewed and ready to merge, ready to test

#17382 Fix some more dependencies.
  examples/step-47/CMakeLists.txt
  examples/step-82/CMakeLists.txt
  examples/step-85/CMakeLists.txt
  tests/examples/step-22.with_umfpack=true.output
  tests/examples/step-37.with_lapack=true.output
  tests/examples/step-47.with_umfpack=true.output
  tests/examples/step-56.with_umfpack=true.output
  tests/examples/step-57.with_umfpack=true.output
  tests/examples/step-59.with_lapack=true.output
  tests/examples/step-82.with_umfpack=true.output
  tests/examples/step-85.with_lapack=true.output
Labels: Reviewed and ready to merge, Tutorials, Tests, ready to test

#17372 Obey the rule of 5 or 7 in TaskResult.
  include/deal.II/base/task_result.h
Labels: Parallel shared, ready to test

#17387 Fix typo in PreconditionSOR
  include/deal.II/lac/trilinos_tpetra_precondition.templates.h
  tests/trilinos_tpetra/precondition.cc
  tests/trilinos_tpetra/precondition.with_trilinos.geq.13.output
  tests/trilinos_tpetra/precondition.with_trilinos.le.13.output
Labels: External libraries, ready to test

#17384 Make step-30 easier on the eyes.
  examples/step-30/step-30.cc
Labels: ready to test

#17389 [9.6] Take over #17372: Obey the rule of 5 or 7 in TaskResult.
  include/deal.II/base/task_result.h
Labels: ready to test

#17385 Mention step-86 in step-52.
  examples/step-52/doc/intro.dox
Labels: Documentation, ready to test

#17391 [9.6] Take over #17390: Test examples/step-75: do not compare test output
  tests/examples/step-75.mpirun=1.with_p4est=true.with_trilinos=true.output.avx256
  tests/examples/step-75.mpirun=1.with_p4est=true.with_trilinos=true.output.avx512
  tests/examples/step-75.mpirun=1.with_p4est=true.with_trilinos=true.run_only
Labels: Tests

#17394 Deprecate SmartPointer::clear().
  doc/news/changes/minor/20240725Bangerth
  include/deal.II/base/smartpointer.h
Labels: Miscellaneous, ready to test

#17402 kokkos: print version to detailed.log
  cmake/setup_write_config.cmake
Labels: ready to test

#17399 Use 'using namespace dealii' within StepXX namespace in tutorials
  doc/news/changes/minor/20240730AE7TB99
  examples/step-16/step-16.cc
  examples/step-19/step-19.cc
  examples/step-90/step-90.cc
Labels: ready to test

#17407 tutorial step-64: update keywords
  doc/doxygen/tutorial/tutorial.h.in
Labels: Documentation

#17412 Remove extra hyphen from CMakeList of step-89
  examples/step-89/CMakeLists.txt
Labels: Tutorials
