Repository dealii/dealii, pull requests merged in 2025-09, with the labels that each got.

#18822 github actions: switch from CUDA 11 to CUDA 12
  .github/workflows/linux.yml
  source/grid/grid_generator.cc
Labels: ready to test

#18816 gh-actions: Also build on windows-2025.
  .github/workflows/windows.yml
Labels: ready for review, Infrastructure, Windows

#18843 Combine the implementations of `face_to_cell_index()`.
  include/deal.II/fe/fe_tools.h
  include/deal.II/fe/fe_tools.templates.h
  source/fe/fe_q_base.cc
  source/fe/fe_simplex_p.cc
  source/fe/fe_tools.inst.in
  tests/fe/face_to_cell_3d.cc
  tests/fe/face_to_cell_3d.output
Labels: Finite Element, ready to test

#18849 Make MGTransferMatrixFree/MGTransferBlockMatrixFree alias
  include/deal.II/multigrid/mg_transfer_global_coarsening.h
  include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h
  include/deal.II/multigrid/mg_transfer_matrix_free.h
  include/deal.II/multigrid/mg_transfer_matrix_free.templates.h
  source/multigrid/CMakeLists.txt
  source/multigrid/mg_transfer_matrix_free.cc
  source/multigrid/mg_transfer_matrix_free.inst.in
  tests/multigrid/mg_data_out_04.cc
Labels: ready to test

#18872 doc: RemotePointEvaluation: promise no concurrent call-back
  include/deal.II/base/mpi_remote_point_evaluation.h
Labels: Documentation

#18863 Add alpha in step-7.
  examples/step-7/doc/intro.dox
  examples/step-7/step-7.cc
Labels: Documentation, Tutorials, ready to test

#18759 Implemented read_partitioned_msh()
  doc/news/changes/minor/20250725DeviHeltai
  include/deal.II/gmsh/utilities.h
  include/deal.II/grid/grid_in.h
  source/gmsh/utilities.cc
  source/gmsh/utilities.inst.in
  source/grid/grid_in.cc
  tests/gmsh/read_partitioned_msh_01.cc
  tests/gmsh/read_partitioned_msh_01.mpirun=2.with_gmsh_with_api=on.output
  tests/gmsh/read_partitioned_msh_01.with_gmsh_with_api=on.output
  tests/gmsh/step-40_quad_from_gmsh.cc
  tests/gmsh/step-40_quad_from_gmsh.mpirun=2.with_gmsh_with_api=on.output
  tests/gmsh/step-40_simplex_from_gmsh.cc
  tests/gmsh/step-40_simplex_from_gmsh.mpirun=2.with_gmsh_with_api=on.output
  tests/grid/grids/square-quad.geo
  tests/grid/grids/square-quad.msh
  tests/grid/grids/square-quad_1.msh
  tests/grid/grids/square-quad_2.msh
  tests/grid/grids/unit-square.geo
  tests/grid/grids/unit-square.msh
  tests/grid/grids/unit-square_1.msh
  tests/grid/grids/unit-square_2.msh
Labels: Reviewed and ready to merge, ready to test, dealii-x

#18855 LowStorageRungeKutta: support FORWARD_EULER and HEUN_EULER
  doc/news/changes/minor/20250910Munch
  include/deal.II/base/time_stepping.h
  include/deal.II/base/time_stepping.templates.h
  tests/base/time_stepping_01.cc
  tests/base/time_stepping_01.output
Labels: ready to test

#18750 Rename cell_to_face_patch to cell_to_face_patch_numbering
  doc/news/changes/incompatibilities/20250710Wichrowski
  include/deal.II/fe/fe_tools.h
  include/deal.II/fe/fe_tools.templates.h
  source/fe/fe_tools.inst.in
  tests/fe/cell_face_lex.cc
Labels: ready to test

#18878 Add the functionality to count laps to the timer class
  include/deal.II/base/timer.h
  source/base/timer.cc
  tests/base/timer_03.cc
  tests/base/timer_03.output
Labels: ready to test
